
  #tableContainer
  {
    width:70%;
    margin: auto;
    position: relative;
  }
  .sorter
  {
    font-size: 20px;
    top:5px;
    position: absolute;
    margin-left:4px;
    color: rgb(220, 220, 220);
  }
  .staffdp {
    cursor:pointer;
  }
  td {
    padding: 0.1em 1em;
    font-size: small;
  }
  th {
    padding: 0.1em 1em;
    font-size: 11px;
    font-weight: normal;
    padding: 12px 2px 12px 2px;
    color: #4285f4;
  }
  .prevtopth{
    padding: 10px 2px 10px 2px;
    color: grey;
    background: #f9fafb;
  }
  th:hover
  {
    border-left:none;
    cursor:pointer;
  }

  .sorter:hover{
  cursor: pointer;
  }

  caption {
    font-size: small;
    font-weight: bold;
    margin: 1em 0;
  }

  thead {
    background: #f9fafb;
    font-weight: bold;
  }

  .odd {
    background-color: white;
  }

  tbody tr {
    background-color: white;
    margin-bottom: 3px;
    border-bottom: 2px solid #f3f8f7;
    text-align: center;
    color:rgb(90, 90, 90);
  }
  .prevtablebody tr{
    border-bottom: 1px solid #f3f8f7;
    font-weight:normal;
  }
  .prevtablebody tr:hover {
    border-left: 0px;
  }
   tbody tr:hover {
    background: #f1f6fc;

  }
  .selection{
    background:#f8f8f8;
    border-bottom-color:#f8f8f8;
  }

  .moreIcon {
    cursor: pointer;
    font-size: large;
    color:rgb(235, 232, 232);
    align-self: center;

  }
  .above
  {
    color: #92f792;
  }
  .below
  {
    color: rgb(247, 247, 108);
  }
  .staff-dp
  {
    width: 4%;
    padding-left: 12px;

  }
  td {
    padding: 8px 0px 8px 0px;
   color: rgb(162, 160, 160);
    text-align: left;
  }
  .checkhead
  {
    width:.1%;
  }


  .options {
    width: 100%;
    position: fixed;
    height: 20px;

    z-index: 1;

  }

  .optionIcon {
    font-size: x-large;
    position: absolute;
    left: 86%;

    color:grey;
    cursor: pointer;
    height: 100%;
    display: inline-block;
    width: 40px;
    text-align: center;
    cursor:pointer;
    align-content: center;


  }
  .optionIcon:hover{
    background-color:rgba(225, 235, 246,.5);
  }

  .editIcon {
    left: 83%;
    font-size: 17px;
    padding-top: .5%;
   }

  .cancelIcon {
    left: 80%;
    font-size:24px;
    padding-top: .6%;
  }
  .check-box
  {
    width: 4%;

  }

  #newproduct {
    width:36%;
    height:100%;
    margin:auto;
    position: relative;
    background: white;

  }
.drugs-table td {
  font-size:11px;
}
