<div class="modal fade" role="dialog" tabindex="-1" id="editModal" style="border-radius:12px;width:auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:480px;border-radius:0px;border-radius:12px;padding-left:0px;padding-right: 0px;">
            <div class="modal-body" style="border-radius:0px;padding: 0px;">
                <div  class="card card-secondary historycard midlecard profilecard" style="margin:auto;min-height:200px;border-radius:12px;">
                    <div style='padding-left: 30px;border-top-right-radius:12px;border-top-left-radius:12px;' class="card-header profileheader small-header">
                        <h6 class="patien-name small-name"> EDIT PRODUCT</h6>
                    </div>
                    <div  class="card-body orderbody">
                      <form style="top:15%; width:56%;margin:auto;" class=" staffsform" (submit) = addProducts()>
                        <div class="form-group vitals-section address">
                            <label style='font-size:8px' for="drug" class="labelss">PRODUCT NAME</label>
                            <input autocomplete="off" (keyup)= "searchItems(input)" [(ngModel)] = input type="text" name="drug" placeholder= "E.g Paracetamol" class="patientdata dystolic inputs dataInfo" style="font-size:11px;" />
                            <div *ngIf= temItems.length  class="options prisOption edit">
                                <ul class="itemsList" >
                                  <li  *ngFor="let item of temItems"><p (click) = "addSelection(item)"  class="dept firstheader drugItem" style="font-size:11px;padding-left: 10px; padding-right: 10px;font-weight: normal;" >{{item.name+ ' '}}<span class="lastdept timetaken " >{{item.mesure + item.unit}}</span></p>
                                  </li>
                                </ul>
                            </div>
                        </div>
                        <div  class="form-group vitals-section formGroup" style=" width:49%; margin-right: 3px">
                            <label style='font-size:8px' for="dos" class="labelss complain">QTY</label>
                            <input [(ngModel)] = "product.stockInfo.quantity" style="border-top-right-radius: 4px;border-bottom-right-radius: 4px;font-size:11px"  type="number" name="dos" class="patientdata inputs dataInfo"  >
                        </div>
                        <div class="form-group vitals-section formGroup" style=" width:49%; ">
                            <label style='font-size:8px' for="price" class="labelss complain">PRICE</label>
                            <input type="number" [(ngModel)]="product.stockInfo.price" style="border-radius: 4px;font-size:11px;border-top-right-radius: 4px;border-bottom-right-radius:4px"
                              class=" patientdata status inputs dataInfo " name="price">
                        </div>
                        <div class="form-group vitals-section address">
                          <label style='font-size:8px' for="expiry" class="labelss complain">EXPIRY</label>
                          <input [(ngModel)]="product.stockInfo.expiry" style="font-size:11px;border-top-right-radius: 0px;border-bottom-right-radius:0px"
                          type="date" name="expiry" class="patientdata inputs dataInfo" placeholder="">
                        </div>
                        <div style="margin-bottom:0px; width:100%;position:relative;height:25px;" class="form-group vitals-section formGroup">
                            <p style='position: absolute;left:47%;text-align:center; font-size:11px; top:10%;'>
                              {{editables.length}}<span>/</span><span>{{count}}</span></p>
                            <i (click)='previous()' title="Previous" class="icon ion-ios-arrow-left shift-icon"></i>
                            <i (click)='next()' title="Next" class="icon ion-ios-arrow-right shift-icon next-icon"></i>
                          </div>
                    </form>
                    <div *ngIf="edited.length" style="top:1px; margin-bottom:25px;position:relative;width: 300px;left:70px;"  class="form-group vitals-section setGroup">
                      <table   cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. " >
                           <tbody>
                              <tr *ngFor="let product of edited; let i = index; let odd = odd;"  style="border-bottom:2px solid white;" [class.even] = odd  class="ro staff-row">
                                  <td style="padding-left:4px;" class="data">
                                  {{product.item.name}}<span class="predata">
                                    {{product.item.mesure+product.item.unit}}</span></td>
                                  <td class="data">{{product.stockInfo.quantity}}</td>
                                  <td class="data">{{product.stockInfo.price}}</td>
                                  <td style='text-align: right;padding-right: 2px;' class="data">{{product.stockInfo.expiry}}</td>
                              </tr>
                          </tbody>
                        </table>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



<div class="modal fade" role="dialog" tabindex="-1" id="productModal" style="border-radius:12px;width:auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:480px;border-radius:0px;border-radius:12px;padding-left:0px;padding-right: 0px;">
            <div class="modal-body" style="border-radius:0px;padding: 0px;">
                <div  class="card card-secondary historycard midlecard profilecard" style="margin:auto;min-height:200px;border-radius:12px;">
                    <div style='padding-left: 30px;border-top-right-radius:12px;border-top-left-radius:12px;' class="card-header profileheader small-header">
                        <h6 class="patien-name small-name">NEW PRODUCT</h6>
                    </div>
                    <div  class="card-body orderbody">
                      <form style="top:15%; width:56%;margin:auto;" class=" staffsform" (submit) = addProducts()>
                        <div class="form-group vitals-section address">
                            <label style='font-size:8px' for="drug" class="labelss">PRODUCT NAME</label>
                            <input autocomplete="off" (keyup)= "searchItems(input)" [(ngModel)] = input type="text" name="drug" placeholder= "E.g Paracetamol" class="patientdata dystolic inputs dataInfo" style="font-size:11px;" />
                            <div *ngIf= temItems.length  class="options prisOption edit">
                                <ul class="itemsList" >
                                  <li  *ngFor="let item of temItems"><p (click) = "addSelection(item)"  class="dept firstheader drugItem" style="font-size:11px;padding-left: 10px; padding-right: 10px;font-weight: normal;" >{{item.name+ ' '}}<span class="lastdept timetaken " >{{item.mesure + item.unit}}</span></p>
                                  </li>
                                </ul>
                            </div>
                        </div>
                        <div  class="form-group vitals-section formGroup" style=" width:49%; margin-right: 3px">
                            <label style='font-size:8px' for="dos" class="labelss complain">QTY</label>
                            <input [(ngModel)] = "product.stockInfo.quantity" style="border-top-right-radius: 4px;border-bottom-right-radius: 4px;font-size:11px"  type="number" name="dos" class="patientdata inputs dataInfo"  >
                        </div>
                        <div class="form-group vitals-section formGroup" style=" width:49%; ">
                            <label style='font-size:8px' for="price" class="labelss complain">PRICE</label>
                            <input type="number" [(ngModel)]="product.stockInfo.price" style="border-radius: 4px;font-size:11px;border-top-right-radius: 4px;border-bottom-right-radius:4px"
                              class=" patientdata status inputs dataInfo " name="price">
                        </div>
                        <div class="form-group vitals-section address"style=" width:90%; " >
                          <label style='font-size:8px' for="expiry" class="labelss complain">EXPIRY</label>
                          <input [(ngModel)]="product.stockInfo.expiry" style="font-size:11px;border-top-right-radius: 0px;border-bottom-right-radius:0px"
                          type="date" name="expiry" class="patientdata inputs dataInfo" placeholder="">
                            <div id='moreBtn' title="Add medication"><i (click)='addMore()' class="icon ion-ios-plus-empty arrow " style="font-size:25px;position: absolute;left:27%;top:-17%; cursor:pointer"></i></div>
                        </div>
                    </form>
                    <div *ngIf="temProducts.length" style="top:1px; margin-bottom:25px;position:relative;width: 300px;left:70px;"  class="form-group vitals-section setGroup">
                      <table   cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. " >
                           <tbody>
                              <tr *ngFor="let product of temProducts; let i = index; let odd = odd;"  style="border-bottom:2px solid white;" [class.even] = odd  class="ro staff-row">
                                  <td style="padding-left:4px;" class="data">
                                  {{product.item.name}}<span class="predata">
                                    {{product.item.mesure+product.item.unit}}</span></td>
                                  <td class="data">{{product.stockInfo.quantity}}</td>
                                  <td class="data">{{product.stockInfo.price}}</td>
                                  <td style='text-align: right;padding-right: 2px;' class="data">{{product.stockInfo.expiry}}</td>
                              </tr>
                          </tbody>
                        </table>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

  <nav class="navbar fixed-top navbar-light navbar-expand-md navigation-clean-search" style="padding:0px; margin-bottom:0px">
    <div class="container">
        <a class="navbar-brand" href="#">
            <em>MS</em>
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav"></ul>
            <form class="form-inline mr-auto searchform" target="_self">
                <div class="form-group">
                    <label style="left:500px;position:absolute;"  for="search-field">
                        <i class="icon ion-ios-search searchicon" title="Search"></i>
                    </label>
                    <input  autocomplete = "off" style="border-radius:30px;
                    left: 270px;
                    width:220px;
                    background-color: rgb(243, 248, 247);
                    margin: auto;"
                    class="form-control search-field"
                    type="search" name="search" id="search-field" placeholder="Search patient">
                </div>
            </form>

        </div>
    </div>
    <i style="left:80%;" class="icon ion-android-notifications-none arrow buble note" title="Notifications">
</i>
<i style="left:75%;" class="icon ion-ios-plus-empty arrow buble" id="add" title="Add Product" data-target="#productModal" data-toggle="modal"></i>
      <i  style="left:83%;" class="icon ion-ios-person-outline arrow buble" id="add" title="Me" ></i>
      <div class="timeline lastdoc priscriber headerdp small-dp user-dp" style="left:90%;position:absolute;height:30px;width:30px;bottom:-8%"></div>
  </nav>





<div style="padding-top:43px;height:100%" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" >

    <table   cellspacing="0" class="data-table" summary="List of all items in store. "  >

            <thead>
                <tr>
                   <th  class="checkhead"></th>

                   <th title = "Sort by name" (click)="sortProducts('name')" title="Sort by name">PRODUCT NAME
                      <span class="sorter">
                          <i *ngIf="sortBy ==='name'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>
                   </th>

                   <th title = "Sort by category" (click)="sortProducts('category')">CATEGORY
                      <span class="sorter">
                          <i *ngIf="sortBy ==='category'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>
                   </th>
                   <th title = "Sort by description" (click)="sortProducts('description')">DESCRIPTION
                      <span class="sorter">
                          <i *ngIf="sortBy ==='description'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>

                   </th>
                   <th title = "Sort by price" (click)="sortProducts('price')">PRICE
                      <span class="sorter">
                          <i *ngIf="sortBy==='price'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>

                   </th>
                   <th title = "Sort by price" (click)="sortProducts('quantity')">QUANTITY
                      <span class="sorter">
                          <i *ngIf="sortBy==='quantity'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>

                   </th>
                   <th title = "Sort by sold"   (click)="sortProducts('sold')">SOLD
                    <span class="sorter">
                        <i *ngIf="sortBy==='sold'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                  </span>
                  </th>
                   <th title = "Sort by in-stock" (click)="sortProducts('instock')" title="sort by instock">IN STOCK
                      <span class="sorter">
                          <i *ngIf="sortBy==='instock'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>

                    </th>

                    <th title = "Sort by recently added" (click)="sortProducts('added')" title="Sort by date added">DATE ADDED
                        <span class="sorter">
                            <i *ngIf="sortBy==='added'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                      </span>
                    </th>
                    <th title="Sort by expired " (click)="sortProducts('expiry')" title="sort by date expired">DATE EXPIRY
                        <span class="sorter">
                            <i *ngIf="sortBy==='expiry'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                      </span>
                    </th>
                    <th title="sort by status" (click)="sortProducts('status')" style="text-align: center" title="sort by status">STATUS
                        <span class="sorter">
                            <i *ngIf="sortBy==='status'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                      </span>
                    </th>
                </tr>
            </thead>
            <tbody>

               <tr (click)=selectProduct(i) *ngFor="let product of products; let i = index" class="odd" [class.selection]= product.selected  >
                    <td class="check-box">

                    </td>
                    <td>{{product.item.name}}&nbsp;<span class="predata">{{product.item.mesure+product.item.unit}}</span></td>
                    <td>{{product.item.category}}</td>
                    <td>{{product.item.description}}</td>
                    <td>{{product.stockInfo.price}}</td>
                    <td>{{product.stockInfo.quantity}}</td>
                    <td>{{product.stockInfo.sold}}</td>
                    <td>{{product.stockInfo.quantity-product.stockInfo.sold}}</td>

                    <td>{{product.dateCreated|date:'dd/MM/y'}}</td>
                    <td>{{product.stockInfo.expiry|date:'dd/MM/y'}}</td>
                    <td style="text-align: center"><span class="moreIcon out"><i class="icon ion-ios-circle-filled" ></i></span></td>

                </tr>



            </tbody>


    </table>
    <div *ngIf="selectionOccure()" class="options"   style="height:40px; bottom: 1%; background-color:#f8f8f8;border: none; " >
      <i (click)="deleteProducts()" title="Delete" class="optionIcon icon ion-ios-trash-outline"></i>
      <i (click)='pickSelection()' title="Edit" class="optionIcon editIcon icon ion-edit" data-target="#editModal" data-toggle="modal"></i>
      <i title="Select all" class="material-icons optionIcon cancelIcon">select_all</i>

    </div>

</div>

