
<div class="modal fade" role="dialog" tabindex="-1" id="newModal" style="border-radius:0px;width:auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:480px;border-radius:0px;;padding-left:0px;padding-right: 0px;">
            <div class="modal-body" style="border-radius:0px;padding-left:0px;padding-right: 0px;">
                <div class="card card-secondary historycard midlecard profilecard" style="margin:auto;min-height:645px">
                    <div class="card-header grapheader"style="border-radius:0px;">
                        <h1 class="dept headtitle">NEW PRDUCT<span class="headeredit" title="Edit information">Edit</span></h1>
                    </div>
                    <div style="padding-top:10px;padding-left:10px; padding-right:10px"  class="card-body topcardbody clientinfobody nopading">
                        <form novalidate (submit)="addProducts()"  class="patientform">
                        <div style="width:49.3%; margin-top:5px;margin-right: 5px; display:inline-block" class="form-group vitals-section formGroup">
                            <label style="font-size:9px;" for="product" class="labelss duration">PRODUCT</label>
                            <input style="font-size:11px" autocomplete="off" (keyup)="searchItem(input)"
                            [(ngModel)] = input  type="text" name="name" class=" inputs dataInfo patientdata"  placeholder="Product name"/>
                            <div *ngIf= temItems.length class="prisOption">
                              <ul class="itemsList" >
                                <li *ngFor="let item of temItems" ><p (click) = "addSelection(item)"  class="dept firstheader drugItem" style="font-size:13px;padding-left: 10px; padding-right: 10px;font-weight: normal;" >
                                    {{item.name+ ' '}}<span class="lastdept timetaken " >
                                        {{item.mesure + item.unit}}</span></p>
                                </li>
                              </ul>
                          </div>
                        </div>

                        <div style="width:49.3%;  display:inline-block" class="form-group vitals-section formGroup">
                            <label for="price" class="labelss">PRICE</label>
                            <input style="font-size:11px" [(ngModel)] = "product.stockInfo.price"  type="number" name="price" class=" inputs dataInfo patientdata"  placeholder="Price per item"/>
                        </div>

                        <div style="width:49.3%; margin-top:5px;margin-right: 5px; display:inline-block" class="form-group vitals-section formGroup">
                            <label for="quantity" class="labelss">QUANTITY</label>
                            <input style="font-size:11px" [(ngModel)] = "product.stockInfo.quantity" type="number" name="quantity" class=" inputs dataInfo patientdata"  placeholder="Quantity"/>
                        </div>
                        <div style="width:43.3%;  display:inline-block" class="form-group vitals-section formGroup">
                            <label for="expiry" class="labelss">EXPIRY DATE</label>
                            <input style=" font-size:11px; border-top-right-radius: 0px; border-bottom-right-radius: 0px;" [(ngModel)] = "product.stockInfo.expiry" type="date" name="expiry" class=" inputs dataInfo patientdata"  placeholder="Expiry"/>

                            <div title="Add product" style="display:inline-block;position:absolute; height:28px; width:25px;background-color:lightgrey"><i (click)="addMore()" class="icon ion-ios-plus-empty arrow " style="font-size:25px;position: absolute;left:27%;top:-17%; cursor:pointer"></i>
                            </div>

                        </div>


                        <button style=" width: 130px; left:323px; bottom:5%; "  type="submit" class="btn btn-sm btn-outline-primary inputs mainbtn" >Done</button>
                        <button style="width: 61px; left:260px; bottom:5%;" class="btn btn-sm btn-outline-primary inputs mainbtn" >Cancel</button>
                      </form>
                      <div *ngIf="temProducts.length"  class="form-group vitals-section setGroup">
                          <table   cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. " >
                           <thead class='productHead'>
                               <tr class="staff-th">
                                   <th class="headlbl staff-th">NAME</th>
                                   <th class="headlbl staff-th">PRICE</th>
                                   <th class="headlbl staff-th">QUANTITY</th>
                                   <th class="headlbl staff-th"  style="text-align: center">EXPIRY</th>
                                   <th class="headlbl headlbl staff-th"  style="text-align: center"></th>
                               </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor='let product of temProducts; let odd = odd'  class="ro staff-row" [class.even]=odd>
                                  <td style="padding-left:4px;" class="data">
                                    {{product.item.name +' '+product.item.mesure + product.item.unit}}</td>
                                  <td class="data">{{product.stockInfo.price}}</td>
                                  <td class="data">{{product.stockInfo.quantity}}</td>
                                  <td class="data" style="text-align:center">
                                    {{product.stockInfo.expiry|date:'dd/MM/y'}}</td>
                                  <td style="text-align: left; padding-left:3px" class="data" >
                                    <i class="icon ion-edit tableicon " title="Edit" style="color:rgb(149, 149, 149);font-size:14px; top:32px; right: 18px;position:absolute; cursor: pointer;"></i>
                                    <i (click)="dropSelection(product)"  class="icon ion-ios-trash-outline tableicon" title="Drop" style="font-size:17px; cursor: pointer;"></i>
                                  </td>
                              </tr>

                          </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

<div class="modal fade" role="dialog" tabindex="-1" id="editModal" style="border-radius:0px;width:auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:480px;border-radius:0px;;padding-left:0px;padding-right: 0px;">
            <div class="modal-body" style="border-radius:0px;padding-left:0px;padding-right: 0px;">
                <div class="card card-secondary historycard midlecard profilecard" style="margin:auto;min-height:645px">
                    <div class="card-header grapheader"style="border-radius:0px;">
                        <h1 class="dept headtitle">EDIT PRDUCT<span class="headeredit" title="Edit information"></span></h1>
                    </div>
                    <div style="padding-top:10px;padding-left:10px; padding-right:10px"  class="card-body topcardbody clientinfobody nopading">
                    <form (submit)="submit()" novalidate  class="patientform">
                        <div style="width:49.3%; margin-top:5px;margin-right: 5px; display:inline-block" class="form-group vitals-section formGroup">
                            <label style="font-size:9px;" for="product" class="labelss duration">PRODUCT</label>
                            <input style="font-size:11px" autocomplete="off" (keyup)="searchItem(input)"
                            [(ngModel)] = input  type="text" name="name" class=" inputs dataInfo patientdata"  placeholder="Product name"/>
                            <div *ngIf= temItems.length class="prisOption">
                              <ul class="itemsList" >
                                <li *ngFor="let item of temItems" ><p (click) = "addSelection(item)"  class="dept firstheader drugItem" style="font-size:13px;padding-left: 10px; padding-right: 10px;font-weight: normal;" >
                                    {{item.name+ ' '}}<span class="lastdept timetaken " >
                                        {{item.mesure + item.unit}}</span></p>
                                </li>
                              </ul>
                          </div>
                        </div>

                        <div style="width:49.3%;  display:inline-block" class="form-group vitals-section formGroup">
                            <label for="price" class="labelss">PRICE</label>
                            <input style="font-size:11px" [(ngModel)] = "product.stockInfo.price"  type="number" name="price" class=" inputs dataInfo patientdata"  placeholder="Price per item"/>
                        </div>

                        <div style="width:49.3%; margin-top:5px;margin-right: 5px; display:inline-block" class="form-group vitals-section formGroup">
                            <label for="quantity" class="labelss">QUANTITY</label>
                            <input style="font-size:11px" [(ngModel)] = "product.stockInfo.quantity" type="number" name="quantity" class=" inputs dataInfo patientdata"  placeholder="Quantity"/>
                        </div>
                        <div style="width:49.3%;" class="form-group vitals-section formGroup">
                            <label for="expiry" class="labelss">EXPIRY DATE</label>
                            <input style=" font-size:11px;" [(ngModel)] = "product.stockInfo.expiry" type="date" name="expiry" class=" inputs dataInfo patientdata"  placeholder="Expiry"/>
                        </div>
                        <div style="margin-bottom:0px; width:100%;position:relative;height:25px;" class="form-group vitals-section formGroup">
                          <p style='position: absolute;left: 45%;text-align:center'>{{edited.length}}<span>/</span><span>{{count}}</span></p>
                          <i (click)='previous()' title="Previous" class="icon ion-ios-arrow-left shift-icon"></i>
                          <i (click)='next()' title="Next" class="icon ion-ios-arrow-right shift-icon next-icon"></i>
                        </div>
                        <button style=" width: 130px; left:323px; bottom:5%; "  type="submit" class="btn btn-sm btn-outline-primary inputs mainbtn" >Done</button>
                        <button style="width: 61px; left:260px; bottom:5%;" class="btn btn-sm btn-outline-primary inputs mainbtn" >Cancel</button>
                    </form>

                       <div *ngIf="edited.length"  class="form-group vitals-section setGroup">
                          <table   cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. " >
                           <thead class='productHead'>
                               <tr class="staff-th">
                                   <th class="headlbl staff-th">NAME</th>
                                   <th class="headlbl staff-th">PRICE</th>
                                   <th class="headlbl staff-th">QUANTITY</th>
                                   <th class="headlbl staff-th"  style="text-align: center">EXPIRY</th>
                                   <th class="headlbl headlbl staff-th"  style="text-align: center"></th>
                               </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor='let product of edited; let odd = odd'  class="ro staff-row" [class.even]=odd>
                                  <td style="padding-left:4px;" class="data">
                                    {{product.item.name +' '+product.item.mesure + product.item.unit}}</td>
                                  <td class="data">{{product.stockInfo.price}}</td>
                                  <td class="data">{{product.stockInfo.quantity}}</td>
                                  <td class="data" style="text-align:center">
                                    {{product.stockInfo.expiry|date:'dd/MM/y'}}</td>
                                  <td style="text-align: left; padding-left:3px" class="data" >
                                    <i class="icon ion-edit tableicon " title="Edit" style="color:rgb(149, 149, 149);font-size:14px; top:32px; right: 18px;position:absolute; cursor: pointer;"></i>
                                    <i (click)="dropSelection(product)"  class="icon ion-ios-trash-outline tableicon" title="Drop" style="font-size:17px; cursor: pointer;"></i>
                                  </td>
                              </tr>

                          </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>


<div class="sidenav">
    <a href="#" class="home homemenu" title="Menu">
        <span class="homespan">
            <i class="material-icons homeicon">sort</i>
        </span>
    </a>

    <a href="#" [routerLink]="['/pharmacy']"  class="home dashboard" title="Dashboard">
        <span class="homespan">
            <i class="icon ion-android-apps homeicon"></i>
        </span>
    </a>
    <a href="#" [routerLink]="['/information']" routerLinkActive="router-link-active"  class="home patienmenu" title="Patients">
        <span class="homespan">
            <i class="icon ion-ios-people-outline homeicon"></i>
        </span>
    </a>
    <a href="#" [routerLink]="['/consultation']" routerLinkActive="router-link-active"  class="home reviewmenu" title="Appointments">
        <span class="homespan">
            <i class="icon ion-ios-calendar-outline homeicon"></i>
        </span>
    </a>
    <a href="#" [routerLink]="['/products']" routerLinkActive="active"  class="home cartmenu" title="Products">
        <span class="homespan"> <i class="icon ion-ios-cart-outline homeicon"></i></span></a>
    <a href="#" [routerLink]="['/ward']" routerLinkActive="router-link-active"   class="home wardmenu" title="Ward"><span class="homespan"><i class="material-icons homeicon wardicon">airline_seat_individual_suite</i></span></a>
    <a href="#"  [routerLink]="['/account']" routerLinkActive="router-link-active" class="home settings" title="Settings"><span class="homespan"><i class="icon ion-ios-gear-outline homeicon"></i></span></a>
  </div>
  <nav class="navbar fixed-top navbar-light navbar-expand-md navigation-clean-search" style="padding:0px; margin-bottom:0px">
  <div class="container">
      <a class="navbar-brand" href="#">
          <em>MS</em>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav"></ul>
          <form class="form-inline mr-auto searchform" target="_self">
              <div class="form-group">
                  <label for="search-field">
                      <i class="icon ion-ios-search searchicon" title="Search"></i>
                  </label>
                  <input autocomplete="off" style="border-radius:30px; left: 405px; width:220px;background-color: rgb(243, 248, 247); margin: auto;" class="form-control search-field" type="search" name="search" id="search-field" placeholder="Search Patient">
              </div>
          </form>
      </div>
  </div>
  <i style="left:20%;" class="icon ion-android-notifications-none arrow buble note" title="Notifications"></i>
  <i [routerLink]="['/messages']" routerLinkActive="router-link-active"  style="left:25%; font-size: 22px;" class="icon ion-ios-chatboxes-outline arrow buble" title="Messages"></i>
  <i (click)="switchMode('add')" style="left:83%;" class="icon ion-ios-plus-empty arrow buble" id="add" title="Add Products" data-target="#newModal" data-toggle="modal"></i>
  <div class="timeline lastdoc priscriber headerdp small-dp user-dp"style="left:90%;position:absolute;height:30px;width:30px;bottom:-8%"></div>
  </nav>




<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="height:100%" >
  <!-- <div id="newproduct" *ngIf="view==='new'">
      <div class="card-header grapheader" style ="text-align:center">
          <h1 *ngIf="mode ==='edit'" class="dept headtitle">EDIT PRODUCT</h1>
          <h1 *ngIf="mode ==='new'" class="dept headtitle">NEW PRODUCT</h1>
      </div>
     <form class="accountform staffsform" style="padding:15px;" (submit)= submit()>

    <div class="form-group vitals-section formGroup" style="margin-right:4px;">
        <label style="font-size:9px;" for="product" class="labelss duration">PRODUCT</label>
        <input style="font-size:11px" autocomplete="off" (keyup)="searchItem(input)"
        [(ngModel)] = input  type="text" name="name" class=" inputs dataInfo patientdata"  placeholder="Product name"/>
        <div *ngIf= temItems.length class="options">
          <ul class="itemsList" >
            <li *ngFor="let item of temItems"><p  class="dept firstheader drugItem" style="font-size:12px; padding-left: 5px; font-weight: normal;" >{{item.name+ ' '}}<span class="lastdept timetaken " (click) = "selectItem(item)">{{item.mesure + item.unit}}</span></p>
            </li>
          </ul>
        </div>
    </div>

    <div class="form-group vitals-section formGroup">
        <label for="price" class="labelss">PRICE</label>
        <input style="font-size:11px" [(ngModel)] = "product.stockInfo.price"  type="number" name="price" class=" inputs dataInfo patientdata"  placeholder="Price per item"/>
    </div>

    <div class="form-group vitals-section formGroup" style="margin-right:4px;">
        <label for="quantity" class="labelss">QUANTITY</label>
        <input style="font-size:11px" [(ngModel)] = "product.stockInfo.quantity" type="number" name="quantity" class=" inputs dataInfo patientdata"  placeholder="Quantity"/>
    </div>
    <div *ngIf="mode==='new'" class="form-group vitals-section formGroup"style=" width:42.5%;">
        <label for="expiry" class="labelss">EXPIRY DATE</label>
        <input style=" font-size:11px;border-top-right-radius: 0px; border-bottom-right-radius: 0px;" [(ngModel)] = "product.stockInfo.expiry" type="date" name="expiry" class=" inputs dataInfo patientdata"  placeholder="Expiry"/>
    </div>
    <div *ngIf="mode==='edit'" class="form-group vitals-section formGroup">
        <label for="expiry" class="labelss">EXPIRY DATE</label>
        <input style=" font-size:11px;" [(ngModel)] = "product.stockInfo.expiry" type="date" name="expiry" class=" inputs dataInfo patientdata"  placeholder="Expiry"/>
    </div>
    <div *ngIf="mode==='new'" class="form-group vitals-section formGroup" style=" width:6.5%;">

        <button (click)=addMore() type = "button" title="Add product"  id ="addmorebtn" class="btn btn-sm btn-outline-primary"><i class="icon ion-ios-plus-empty"></i></button>
    </div>


    <table *ngIf="temProducts.length"   cellspacing="0" class="data-table preveiewtable" summary="List of all items in store. ">

        <thead >
            <tr  style="background:white;padding:0px; border-bottom: 1px solid whitesmoke;border-top: 1px solid whitesmoke" >


               <th  title = "Sort by name" style="padding-top:4px;padding-bottom: 4px; font-weight:bold;font-size:11px;color:darkgray" >Product Name

               </th>


               <th style="padding-top:4px;padding-bottom: 4px; font-weight:bold;font-size:11px;color:darkgrey"  title = "Sort by price" >Price
               </th>
               <th  style="padding-top:4px;padding-bottom: 4px; font-weight:bold;font-size:11px;color:darkgrey"  title="sort by quantity">Quantiy


            </th>

            <th style="text-align:right" style="padding-top:4px;padding-bottom: 4px; font-weight:bold;font-size:11px;color:darkgray; text-align: right;"  title="sort by date expired">Expiry Date

            </th>
          </tr>
        </thead>
        <tbody class="prevtablebody">

           <tr  *ngFor="let product of temProducts; let i = index"  [ngClass]="{'select': item.selected}"  >

                <td style="padding-left: 5px;font-size:11px;">{{product.item.name+' '+product.item.mesure+product.item.unit}}</td>
                <td style="font-size:11px;">{{product.stockInfo.price}}</td>
                <td style="font-size:11px;">{{product.stockInfo.quantity}}</td>
                <td style="text-align:right;padding-right: 5px;font-size:11px">{{product.stockInfo.expiry|date:'dd/MM/y'}}</td>

            </tr>
        </tbody>


</table>

    <div class="form-group vitals-section address">
      <button (click)=switchViews() style="font-size:12px; width: 23%;right:30%;position: absolute "  type="button" class="btn btn-sm btn-outline-primary inputs" >Cancel</button>
      <button *ngIf="mode==='new'" style="font-size:12px; width: 23%;left:75%; position: absolute"  type="submit" class="btn btn-sm btn-outline-primary inputs" >Finish</button>
      <button *ngIf="mode==='edit'" style="font-size:12px; width: 23%;left:75%; position: absolute"  type="submit" class="btn btn-sm btn-outline-primary inputs" >Update</button>
    </div>

  </form>
</div> -->
    <table   cellspacing="0" class="data-table" summary="List of all items in store. "  >

            <thead>
                <tr>
                   <th  class="checkhead"></th>

                   <th title = "Sort by name" (click)="sortProducts('name')" title="Sort by name">PRODUCT NAME
                      <span class="sorter">
                          <i *ngIf="sortBy ==='name'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>
                   </th>

                   <th title = "Sort by category" (click)="sortProducts('category')">CATEGORY
                      <span class="sorter">
                          <i *ngIf="sortBy ==='category'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>
                   </th>
                   <th title = "Sort by description" (click)="sortProducts('description')">DESCRIPTION
                      <span class="sorter">
                          <i *ngIf="sortBy ==='description'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>

                   </th>
                   <th title = "Sort by price" (click)="sortProducts('price')">PRICE
                      <span class="sorter">
                          <i *ngIf="sortBy==='price'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>

                   </th>
                   <th title = "Sort by price" (click)="sortProducts('quantity')">QUANTITY
                      <span class="sorter">
                          <i *ngIf="sortBy==='quantity'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>

                   </th>
                   <th title = "Sort by sold"   (click)="sortProducts('sold')">SOLD
                    <span class="sorter">
                        <i *ngIf="sortBy==='sold'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                  </span>
                  </th>
                   <th title = "Sort by in-stock" (click)="sortProducts('instock')" title="sort by instock">IN STOCK
                      <span class="sorter">
                          <i *ngIf="sortBy==='instock'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>

                    </th>

                    <th title = "Sort by recently added" (click)="sortProducts('added')" title="Sort by date added">DATE ADDED
                        <span class="sorter">
                            <i *ngIf="sortBy==='added'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                      </span>
                    </th>
                    <th title="Sort by expired " (click)="sortProducts('expiry')" title="sort by date expired">DATE EXPIRY
                        <span class="sorter">
                            <i *ngIf="sortBy==='expiry'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                      </span>
                    </th>
                    <th title="sort by status" (click)="sortProducts('status')" style="text-align: center" title="sort by status">STATUS
                        <span class="sorter">
                            <i *ngIf="sortBy==='status'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                      </span>
                    </th>
                </tr>
            </thead>
            <tbody>

               <tr (click)=selectProduct(i) *ngFor="let product of products; let i = index" class="odd" [class.selection]= product.selected  >
                    <td class="check-box">

                    </td>
                    <td>{{product.item.name}}&nbsp;<span class="predata">{{product.item.mesure+product.item.unit}}</span></td>
                    <td>{{product.item.category}}</td>
                    <td>{{product.item.description}}</td>
                    <td>{{product.stockInfo.price}}</td>
                    <td>{{product.stockInfo.quantity}}</td>
                    <td>{{product.stockInfo.sold}}</td>
                    <td>{{product.stockInfo.quantity-product.stockInfo.sold}}</td>

                    <td>{{product.addedOn|date:'dd/MM/y'}}</td>
                    <td>{{product.stockInfo.expiry|date:'dd/MM/y'}}</td>
                    <td style="text-align: center"><span class="moreIcon out"><i class="icon ion-ios-circle-filled" ></i></span></td>

                </tr>



            </tbody>


    </table>
    <div *ngIf="selectionOccure()" class="options"   style="height:40px; bottom: 1%; background-color:#f8f8f8;border: none; " >
      <i (click)="deleteProducts()" title="Delete" class="optionIcon icon ion-ios-trash-outline"></i>
      <i (click)='pickSelection()' title="Edit" class="optionIcon editIcon icon ion-edit" data-target="#editModal" data-toggle="modal"></i>
      <i title="Select all" class="material-icons optionIcon cancelIcon">select_all</i>

    </div>

</div>

