.col.logincol {
  margin:0px;
  padding:0px;
  width:100%;
}

.loginwrap {
  width:100%;
  height:100%;
  background:white;
  position:relative;
  /*display:flex;*/
}

.split {
  height:100%;
  position:absolute;
  display:inline-block;
  background:whitesmoke;
  width:60%;
}

.accountform {
  width:27%;
  position:absolute;
  left:67%;
  height:70%;
  top:30%;
}
.loginform{
  width:20%;
}
.signup{

  position:absolute;
  left:67%;
  font-size: 11px;
  top:24%;


}
.forgot{
  left:37%;
  top:28%;
  font-size: 11px;
  position:absolute;
}
.invalid{
  top: -5%;
}

