@media (min-width: 300px) {
  #deptrow {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:42px;
    margin-left:78px;
  }
}

@media (min-width: 576px) {
  #deptrow {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:59px;
    margin-left:101px;
  }
}

@media (min-width: 992px) {
  #deptrow {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:127px;
    margin-left:101px;
  }
}

@media (min-width: 1200px) {
  #deptrow {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:186px;
    margin-left:224px;
  }
}

.deptcard:hover {
  border-color:blue;
  cursor:pointer;
}

.card-body.deptcardbody {
  margin-left:0px;
  border:none;
  padding-top:0px;
}

.card.card-secondary.maincard.deptcard {
  height:180px;
  width:165px;
}

.enticon {
  font-size:58px;
  top:24%;
  position:absolute;
  left:30%;
  color:lightgrey;
}

.icon.ion-ios-flask-outline.phamicon.flaskicon {
  font-size:60px;
}

.material-icons.phamicon.pregicon {
  top:20%;
}

.phamicon {
  font-size:63px;
  color:lightgrey;
  position:absolute;
  left:35%;
  top:10%;
  font-weight:normal;
}

.dept.deptitle {
  font-size:14px;
  position:absolute;
  text-align:center;
  top:63%;
  color:GREY;
}

.icon.ion-waterdrop.phamicon.hemaicon {
  font-size:60px;
}

