.drugs-table
{
  width: 100%;
  left: 0%;
  margin-top: 5px;
}
.data
{
  padding: 3px 3px 3px 3px;
  font-size:11px;
}
.headlbl{
  padding: 4px 1px 4px 1px; font-size: 10px;
  font-weight: bold;
  color: #02d1b8;
  border:none;
}
.productHead
{
  background: #f3f6fa;
  padding-left: 7px;
  border-bottom: 2px solid white;

}
tfoot{
  font-size:11px;
  width:100%;
  text-align: center;
  position: relative;
  cursor: pointer;

}
/* .tfooter:hover{
  background: blue;
  color: white;
} */


.addstafficon{
  font-size: 18px;
  margin-right: 3px;
  position:absolute;
  bottom:-1px;
  right: 56%;
}

.editprofileicon{
  font-size: 14px;
  color: grey;
  bottom:3px;
  right: 53%;
}

.ro{
margin-bottom: 0px;
border-bottom: 0px;
}
.ro:hover{
  border-left: 1px solid #02d1b8;

  /* background-color:initial; */
}
.dropdown-item
{
  font-size: smaller;
}


.even
{
  background-color: #f9f9f9;
}
.prdName
{
  padding-left: 10px;
}

.leftData
{
  text-align: left; font-weight: bold; color:grey;
}
