.itemlist {
  padding-left:15px;
  font-size:12px;
  color:grey;
}

.card-body.rightcardbody.conditionbody {
  padding-top:8px;
}

.patientname {
  padding-left:40px;
}

.timeline.noter.patientdp {
  height:60px;
  width:65px;
  border-radius:4px;
}

.card.card-secondary.historycard.rightcard {
  width:188px;
  left:16px;
}



.card-body.topcardbody {
  border:none;
  margin-left:0px;
  padding-top:10px;
}

.card-body.rightcardbody {
  border:none;
  margin-left:0px;
  padding-top:0px;
}

.card.card-secondary.historycard.midlecard {
  width:470px;
  min-height:170px;
}

.card.card-secondary.historycard.leftcard {
  width:200px;
  height:424px;
  left:20px;
}



.card.card-secondary.maincard.halfcard.midright {
  left:8px;
}

.card.card-secondary.historycard.midlecard.topcard {
  padding-top:0%;
}

.timelinedate.timelinemonth {
  font-size:8px;
  color:lightgrey;
  bottom:5px;
  position:absolute;
  text-align:center;
  left:5px;
}

.card.card-secondary.maincard.halfcard {
  max-width:230px;
  display:inline-block;
  min-height:350px;
  position:relative;
  border-radius:4px;
}

.card-colums.leftcolumn {
  width:230px;
  position:relative;
  /*left:-44px;*/
}


.card-colums.rightcolumn {
  width:230px;
  position:relative;
  /*right:-84px;*/
}



.card.card-secondary.historycard.rightcard.allegies {
  min-height:150px;
}

.card-header.grapheader {
  padding-top:6px;
  padding-bottom:6px;
  border-bottom:1px solid rgb(251,245,245);
}

.card.card-secondary.historycard.midlecard.topcard.graphcard {
  min-height:180px;
}

.card.card-secondary.historycard.rightcard.condition {
  height:280px;
}

.card.card-secondary.historycard.rightcard.medication {
  min-height:400px;
  max-height:400px;
}

.card.card-secondary.historycard.leftcard.visits {
  max-height:400px;
}

.card.card-secondary.historycard.leftcard.deathinfo {
  min-height:230px;
}

.carditem.noteitem {
  padding-left:4%;
}

.card-body.midcardbody {
  height:370px;
  position:relative;
}

.carditem.noteitem.writeup {
  font-size:13px;
  margin-bottom:2px;
  padding-right:3%;
  min-height:49px;
}
.read-more {
  bottom:2px;
  position:relative;
  font-style:italic;
}
.view-more {
  font-size:13px;
  font-style:italic;
  /*position:absolute;*/
  float:right;
  /*margin-right:5px;*/
  margin-bottom:1px;
  bottom:7px;
  position:relative;
  width:92%;
  text-align:right;
  margin:auto;
}



.icon.ion-android-more-vertical.thread-icon {
  font-size:22px;
  color:blue;
  position:absolute;
  /*right:2px;*/
  top:-20%;
  left:1.3%;
  background:white;
  /*height:8px;*/
  float:left;
}



.predata.notetime {
  font-weight:normal;
  position:absolute;
  left:75%;
  font-size:11px;
}

.dept.previnfo.noterinfo {
  font-weight:500;
  color:#333333;
  font-size:13px;
}
.dept.previnfo.sec-info {
  color:#808080;
  font-size:11px;
}

.priscription.drug.side-item{
  margin-bottom:10px;
}



.timeline.noter {
  left:-3.5%;
  background:url(../../assets/img/model.jpg);
  background-size:cover;
  background-position:center;
  height:28px;
  width:28px;
}

.card-body.notecardbody {
  padding-top:10px;
}
.dept.complain{
  color:grey;
}

.dept.headtitle {
  color:blue;
}

.dept.previnfo.weightval {
  position:absolute;
  bottom:49px;
  display:inline-block;
  font-size:larger;
  left:57px;
  font-weight:bold;
  color:grey;
}

.unitval {
  font-size:small;
  position:relative;
  right:10px;
  display:inline;
  font-weight:normal;
}

.dept.previnfo.weightlabel {
  position:absolute;
  bottom:71px;
  left:56px;
  color:grey;
  display:inline-block;
  width:44px;
  font-size:10px;
}

.dept.systolic {
  display:inline-block;
  position:absolute;
  color:lightgrey;
  bottom:47%;
  left:13%;
  font-size:x-small;
}

.progress.bpmesure {
  position:absolute;
  width:30%;
  border-radius:51px;
  bottom:37%;
  left:13%;
  height:14px;
  font-size:x-small;
}

.dept.systolic.dystolic {
  bottom:28%;
}

.progress.bpmesure.dystoprogress {
  bottom:18%;
}

.card-body.infobody {
  margin-left:22px;
}

.dept.detailshead {
  font-size:9px;
  font-weight:bold;
}

.timeline.detailstimeline {
  height:22px;
  width:22px;
  left:-12px;
}

.dept.firstheader {
  font-size:10px;
  font-weight:bold;
}

.timeline.docdp {
  background:url(../../assets/img/model.jpg);
  background-size:cover;
  background-position:center;
}

.btn-group.footerbotton {
  position:absolute;
}

.card-colums.rightcolumn.sugcolumn {
  left:-19px;
}

.card-colums.leftcolumn.online.column {
  left:80px;
}

.card-body.onlinesbody {
  margin-left:0px;
  border:none;
  padding-top:0%;
}

.timeline.lastdoc.priscriber.headerdp.persondp {
  left:8px;
  position:absolute;
}

.dept.latestmsg {
  top:7px;
  left:22px;
  font-weight:normal;
}

.dept.personname {
  font-weight:bold;
  left:22px;
  top:9px;
}

.card-header.profileheader.person {
  margin-left:0px;
  left:0px;
  border-bottom:none;
  position:relative;
  padding-top:2px;
  padding-bottom:2px;
  height:41px;
}

.icon.ion-ios-search.searchicon.searchperson {
  left:93%;
  bottom:-31%;
}

.carditem.people {
  padding-left:0%;
  margin:0px;
}

.timetaken.chattime {
  color:lightgrey;
  font-weight:normal;
}

.card.card-secondary.historycard.midlecard.chatcard {
  min-height:500px;
  margin:auto;
  /*vh:100%;*/
  position:relative;
}

.dept.personname {
  font-weight:bold;
  left:22px;
  top:9px;
}

.carditem.person {
  margin:0px;
  margin-left:0px;
}

.row.chatrow {
  height:100%;
}

.card.card-secondary.historycard.leftcard {
  height:424px;
}

p {
  /*margin-top:0;*/
  /*margin-bottom:1rem;*/
}
.card{
  margin-bottom: 4px;
}
.card-group {
  /*display:-webkit-box;*/
  display:-ms-flexbox;
  /*display:flex;*/
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  /*-ms-flex-direction:column;*/
  /*flex-direction:column;*/
  width:90%;
  /* margin-bottom:5px; */
}

.img-fluid {
  max-width:100%;
  height:100%;
  object-fit:cover;
  min-width:100%;
  border-radius:5px;
}

.note-item {
  margin-bottom:2px;
}

.image-link {
  height:100%;
  position:relative;
  display:block;
}

.card.scan-thumnail {
  width:30%;
  height:50px;
  display:inline-block;
  margin:0px;
  border-color:white;
  margin-bottom:0px;
  margin-right:3px;
  margin-left:0px;
  border-collapse:collapse;
  position: relative;
}

.card.card-secondary.maincard.halfcard.halfcard-right {
  left:8px;
  /* border-left:1px solid rgba(0,0,0,.125); */
  border-top-left-radius:4px;
}

.card.card-secondary.maincard {
  max-height:400px;
  min-height:400px;
}

.card-group > .card {
  margin-bottom:15px;
}

.card.card-secondary.historycard.rightcard.conditions {
  min-height:300px;
  max-height:300px;
}

.card.card-secondary.historycard.leftcard.deathinfo {
  max-height:200px;
}
.timetaken.dischargedon{
  left:80px;
  width:100%;
}
.row.history-row {
  margin:auto;
}
.container.history-container {
  max-width:957px;
  margin:auto;
}


