.predata.prescriptionicon {
  left:184px;
  position:absolute;
}

.predata.priceval {
  left:88%;
  position:absolute;
  text-align:center;
}

.timeline.lastdoc.priscriber {
  top:-6%;
}

.dept.previnfo.baseline {
  position:absolute;
  bottom:-6%;
  background-color:white;
  display:inline-block;
  width:10%;
  left:87%;
  font-weight:bold;
}

.dept.previnfo.baseline.baselinedate {
  width:44%;
  left:25%;
  font-size:x-small;
  color:lightgrey;
  font-weight:normal;
}

.carditem.priscriptioncontainer {
  padding-bottom:5px;
  /*border-bottom:1px solid whitesmoke;*/
}

.icon.ion-edit.editicon {
  position:absolute;
  left:165px;
  font-size:12px;
}

