.timeline {
  height:23px;
  width:23px;
  border-radius:50%;
  background:rgb(248,247,247);
  left:-6%;
  position:absolute;
  top:-3%;
}

.timelinedate {
  font-size:11px;
  text-align:center;
  margin:0px;
}

.icon.ion-ios-person-outline.deticon {
  font-size:large;
  text-align:center;
  position:absolute;
  left:6px;
  color:blue;
}

.patientdata {
  border:1px solid rgb(238,239,239);
  padding:4px;
  padding-left:10px;
  font-size:small;
  display:inline-block;
  margin-bottom:5px;
  border-radius:4px;
  text-align:center;
}

.labelss {
  position:absolute;
  font-size:x-small;
  bottom:73%;
  background-color:white;
  left:15px;
  margin:0px;
  color:#91aec2;
}

.datainfo {
  border:1px solid rgb(238,239,239);
  padding-left:10px;
  font-size:small;
  display:inline-block;
  margin:auto;
  margin-bottom:5px;
  border-radius:4px;
  text-align:center;
}

.form-group.half-group {
}

.form-group {
  display:inline-block;
  width:100%;
  position:relative;
  margin-bottom:3px;
}

.card-body.edit {
  margin:0px;
  border:none;
  padding-left:4px;
  padding-right:4px;
}

.icon.ion-ios-pulse.deticon {
  font-size:medium;
  position:absolute;
  left:5px;
  color:red;
}

.icon.ion-ios-location-outline.deticon {
  font-size:large;
  position:absolute;
  left:6px;
  text-align:center;
  color:blue;
}

.timeline.lastdoc {
  width:22px;
  height:22px;
  top:68%;
  background:url(../../assets/img/model.jpg);
  background-position:center;
  background-size:cover;
  left:-6%;
}

.timelinedate.month {
  font-weight:normal;
  font-size:7px;
  color:lightgrey;
  bottom:3px;
  position:absolute;
  text-align:center;
  left:4px;
  font-weight:bold;
}

.priscription {
  margin-bottom:3px;
}

.dept {
  font-size:11px;
  margin:0px;
  width:100%;
  position:relative;
}

.predata {
  color:lightgrey;
}

.dept.previnfo {
  font-weight:normal;
  font-size:11px;
  margin-top:1px;
}

.carditem {
  width:100%;
  position:relative;
  padding-left:7%;
  margin-bottom:12px;
}

.form-control:focus {
  color:#495057;
}

label {
  display:inline-block;
  margin-bottom:.5rem;
  margin:0px;
}

.dept.priscriptiontime {
}

.timetaken.dischargedon {
  font-size:xx-small;
  font-weight:normal;
  color:lightgrey;
}

.card-body.regbody {
  padding-top:4%;
}

