    
<div style="padding-top:0px" class="container history-container">
  <div style="padding-top:40px" class="row history-row">
      <div  class="col col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <div style="padding-top: 62px;" class="card-colums leftcolumn">
              <div style="left: 25px;    max-height: 415px;" class="card card-secondary historycard leftcard visits">
                  <div class="card-header grapheader">
                      <h1 class="dept headtitle">PATIENTS STATUS</h1>
                  </div>
                  <div style ="padding-left:17px;" class="card-body rightcardbody">
                      
                  </div>
              </div>

          </div>
      </div>
      <div  class="col col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="card-colums">
              <div style="top: 24px; border: none;" class="steps">
                  <div style="cursor: pointer;"  title="Go to"class="step-item figures">
                      <span >
                          <h6 style="color: darkgray; font-size: 13px; font-weight: bold;" class="step-lebel">2,860,150</h6>
                      </span>
                      <span>
                          <h6 class="step-lebel">NET INCOME</h6>
                     </span>
                  </div>
                 
                  <div style="cursor: pointer;"  title="Go to"  class="step-item figures">
                      <span >
                          <h6 style="color: darkgray; font-size: 13px; font-weight: bold;" class="step-lebel">2,782</h6>
                      </span>
                      <span > 
                      <h6 class="step-lebel">RECORDS</h6>
                      </span>
                  </div>
                  <div style="cursor: pointer;"  title="Go to"  class="step-item figures">
                      <span >
                          <h6 style="color: darkgray; font-size: 13px; font-weight: bold;" class="step-lebel">59,201</h6>
                      </span>
                      <span >
                          <h6 class="step-lebel">TRANSACTIONS</h6>
                      </span>
                  </div>
              </div>
              <div style="top: 20px; margin-bottom: 15px;" class="card card-secondary historycard midlecard graphcard">
                  <div class="card-header grapheader">
                      <h1 class="dept headtitle">INCOME</h1>
                  </div>
                  <div style="margin-left: 0px; border:0px;" class="card-body notecardbody nopading">
                      <canvas id="bpChart"></canvas>
                      
                  </div>
              </div>
              <div style="top: 11.7px; " class="card card-secondary historycard midlecard graphcard">
                  <div class="card-header grapheader">
                      <h1 class="dept headtitle">PATIENT INFLUX</h1>
                  </div>
                  <div style="margin-left: 0px; border:0px;top: 20px; " class="card-body notecardbody nopading">
                      <canvas id="inFlux"></canvas>
                  </div>
              </div>
              <!-- <div class="card-group">
                  <div style='border-radius:12px;margin-bottom: 4px;' class="card card-secondary maincard halfcard">
                      <div style='border-top-right-radius:12px;border-top-left-radius:12px'  class="card-header grapheader">
                          <h1 class="dept headtitle">TESTS</h1>
                      </div>
                      <div style='height:100%;padding-left: 17px;' class="card-body midcardbody">
                          
                      </div>
                  </div>
                  <div style='border-radius:12px;margin-bottom: 4px;' class="card card-secondary maincard halfcard halfcard-right">
                      <div style='border-top-right-radius:12px;border-top-left-radius:12px' class="card-header grapheader">
                          <h1 class="dept headtitle">SCANS</h1>
                      </div>
                      <div style='height:100%;padding-left: 17px;' class="card-body midcardbody">
                         
                      </div>
                  </div>
              </div> -->
              <!-- <div class="card card-secondary historycard midlecard topcard graphcard">
                  <div class="card-header grapheader">
                      <h1 class="dept headtitle">VITALS</h1>
                  </div>
                  <div class="card-body topcardbody nopadding">
                     
                        <canvas id="bpChart"></canvas>
                      </div>
              </div> -->
          </div>
      </div>
      <div class="col col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <div style="padding-top: 62px; min-height: 405px;" class="card-colums rightcolumn">
              <div style="min-height: 205px;" class="card card-secondary historycard rightcard allegies">
                  <div class="card-header grapheader">
                      <h1 class="dept headtitle">TOP DRUGS</h1>
                  </div>
                  <div class="card-body rightcardbody">
                     <canvas id="topDrugs"></canvas>
                  </div>
              </div>
              <div style="min-height: 205px;" class="card card-secondary historycard rightcard medication">
                  <div class="card-header grapheader">
                      <h1 class="dept headtitle">INCOME SOURCES</h1>
                  </div>
                  <div style ="padding-left:17px;" class="card-body rightcardbody">
                    <canvas id="iSource"></canvas>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
