

<nav class="navbar fixed-top navbar-light navbar-expand-md navigation-clean-search" style="padding:0px; margin-bottom:0px">
  <div class="container">
      <a class="navbar-brand" href="#">
          <em>MS</em>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav"></ul>
          <form class="form-inline mr-auto searchform" target="_self">
              <div class="form-group">
                  <label style="left:500px;position:absolute;"  for="search-field">
                      <i class="icon ion-ios-search searchicon" title="Search"></i>
                  </label>
                  <input autocomplete = "off" style="border-radius:30px;
                  left: 270px;
                  width:220px;
                  background-color: rgb(243, 248, 247);
                  margin: auto;"
                  class="form-control search-field"
                  type="search" name="search" id="search-field" placeholder="Search patient">
              </div>
          </form>
        
         
      </div>
  </div>

  <i style="left:80%;" class="icon ion-android-notifications-none arrow buble note" title="Notifications"></i>

  <i [routerLink]="['./messages']" data-target="#newModal" data-toggle="modal" style="left:83%;" class="icon ion-ios-person-outline arrow buble" id="add" title="Me" ></i>

  <div class="timeline lastdoc priscriber headerdp small-dp user-dp"style="left:90%;position:absolute;height:30px;width:30px;bottom:-8%"></div>
  </nav>

<div style="padding-top:40px" class="container history-container">
    <div class="row history-row">
        <div class="col col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card-colums leftcolumn">
                <div class="card card-secondary historycard leftcard">
                    <div class="card-body infobody">
                        <div class="carditem">
                            <div class="timeline detailstimeline"><i class="icon ion-ios-person-outline deticon"></i></div>
                            <h6 class="dept detailshead">PERSONAL INFO</h6>
                            <p class="dept previnfo">Age:&nbsp;<span class="predata">25</span></p>
                            <p class="dept previnfo">Gender:&nbsp;<span class="predata">Female</span></p>
                            <p class="dept previnfo">Blood Group:&nbsp;<span class="predata">O+</span></p>
                            <p class="dept previnfo">Marital Status:&nbsp;<span class="predata">Single</span></p>
                            <p class="dept previnfo">Occupation:&nbsp;<span class="predata">Enterprenure</span></p>
                            <p class="dept previnfo">Religion:&nbsp;<span class="predata">Islam</span></p>
                            <p class="dept previnfo">Tribe:&nbsp;<span class="predata">Yoruba</span></p>
                            <p class="dept previnfo">Card No:&nbsp;<span class="predata">0005689923341</span></p>
                        </div>
                        <div class="carditem">
                            <div class="timeline detailstimeline"><i class="icon ion-ios-location-outline deticon"></i></div>
                            <h6 class="dept detailshead">CONTACT</h6>
                            <p class="dept previnfo">Mobile:&nbsp;<span class="predata">08035998732</span></p>
                            <p class="dept previnfo">Email:&nbsp;<span class="predata">amina@gmail.com</span></p>
                            <p class="dept previnfo">Address:&nbsp;<span class="predata">No. 25 city Rd. Ikeja, Lagos</span></p>
                            <p class="dept previnfo">State:&nbsp;<span class="predata">Lagos</span></p>
                            <p class="dept previnfo">LGA:&nbsp;<span class="predata">Ikeja</span></p>
                        </div>
                        <div class="carditem">
                            <div class="timeline detailstimeline"><i class="icon ion-ios-pulse deticon"></i></div>
                            <h6 class="dept detailshead">EMERGENCY</h6>
                            <p class="dept previnfo">Name&nbsp;<span class="predata">Ahmed Tinibu</span></p>
                            <p class="dept previnfo">Mobile:&nbsp;<span class="predata">08035998732</span></p>
                            <p class="dept previnfo">Email:&nbsp;<span class="predata">amina@gmail.com</span></p>
                            <p class="dept previnfo">Relashionship:&nbsp;<span class="predata">Father</span></p>
                            <p class="dept previnfo">Address:&nbsp;<span class="predata">No. 25 city Rd. Ikeja</span></p>
                        </div>
                    </div>
                </div>
                <div class="card card-secondary historycard leftcard deathinfo">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">HEALTH INSURANCE</h1>
                    </div>
                    <div class="card-body rightcardbody">
                        <div class="carditem"></div>
                    </div>
                </div>
                <div class="card card-secondary historycard leftcard visits">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">VISITS</h1>
                    </div>
                    <div class="card-body rightcardbody">
                          <div class="carditem">
                              <div class="carditem priscriptioncontainer order">
                                  <div class="timeline condition drugtimeline">
                                      <p class="timelinedate">10</p>
                                      <p class="timelinedate month">FEB</p>
                                  </div>
                                  <div class="priscription drug side-item">
                                      <h6 class="dept">GOPD&nbsp;<span class="timetaken dischargedon">05/10/2018 02:30pm</span></h6>
                                      <div class="timeline lastdoc priscriber headerdp seenby">

                                      </div>
                                  </div>

                              </div>
                              <div class="carditem priscriptioncontainer order">
                                  <div class="timeline condition drugtimeline">
                                      <p class="timelinedate">25</p>
                                      <p class="timelinedate month">DEC</p>
                                  </div>

                                  <div class="priscription drug side-item">
                                      <h6 class="dept">Family Medicine&nbsp;<span class="timetaken dischargedon">05/10/2018 02:30pm</span></h6>
                                      <div class="timeline lastdoc priscriber headerdp seenby">

                                      </div>
                                      <div class="timeline lastdoc priscriber headerdp seenby">

                                      </div>
                                  </div>
                              </div>
                              <div class="carditem priscriptioncontainer order">
                                  <div class="timeline condition drugtimeline">
                                      <p class="timelinedate">09</p>
                                      <p class="timelinedate month">JAN</p>
                                  </div>

                                  <div class="priscription drug">
                                      <h6 class="dept">Maternity&nbsp;<span class="timetaken dischargedon">05/10/2018 02:30pm</span></h6>
                                    <div class="timeline lastdoc priscriber headerdp seenby">

                                      </div>
                                  </div>
                              </div>
                              <div class="carditem priscriptioncontainer order">
                                  <div class="timeline condition drugtimeline">
                                      <p class="timelinedate">09</p>
                                      <p class="timelinedate month">JAN</p>
                                  </div>

                                  <div class="priscription drug">
                                      <h6 class="dept">Padiatrics&nbsp;<span class="timetaken dischargedon">05/10/2018 09:50am</span></h6>
                                      <div class="timeline lastdoc priscriber headerdp seenby">

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                </div>
                <div class="card card-secondary historycard leftcard deathinfo">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">DEATH INFORMATION</h1>
                    </div>
                    <div class="card-body rightcardbody">
                        <div class="carditem"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="card-colums">
                <div class="card card-secondary historycard midlecard graphcard">
                    <div class="card-body notecardbody">
                        <div class="carditem noteitem writeup">
                            <div class="timeline noter patientdp">
                             <img style='height:100%; width:100%; object-fit:cover; border-radius:4px;' [src] = getDp(patient)/>
                            </div>
                             <h1 class="dept previnfo noterinfo patientname">
                               {{patient.info.personal.firstName + ' '+ patient.info.personal.lastName}} &nbsp;<span class="predata notetime">{{patient.createdAt|date:'longDate'}}</span></h1>
                          <h1 class="dept previnfo patientname">Gender:&nbsp;<span class="predata">{{patient.info.personal.gender}}</span></h1>
                            <h1 class="dept previnfo patientname">Age:&nbsp;<span class="predata">{{patient.info.personal.dob|dob}}</span></h1>
                            <h1 class="dept previnfo patientname">Blood Group:&nbsp;<span class="predata">O+</span></h1>
                        </div>
                        <div class="progress bpmesure dystoprogress">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">30%</div>
                        </div>
                        <div class="progress bpmesure">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">55%</div>
                        </div>
                        <h1 class="dept systolic">Blood Presure:</h1>
                        <h1 class="dept systolic dystolic">Blood Sugar:</h1>
                    </div>
                </div>
                <div class="card card-secondary historycard midlecard graphcard">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">NOTES</h1>
                    </div>
                    <div class="card-body notecardbody">
                        <div *ngFor = "let item of patient.record.notes;let i=index" class="carditem noteitem writeup">
                          <div style="position:absolute;left:-3%;" class="timeline lastdoc priscriber headerdp small-dp">
                            <img [src] = getDp(patient)/>
                          </div>
                            <h1 class="dept previnfo noterinfo">Dr. Farida Aminu&nbsp;<span class="predata notetime">
                                {{item.dateCreated|date:'dd/MM/y hh:mma'|lowercase}}</span></h1>
                            <p class="note-item">{{item|note}}<br>
                              <span *ngIf= "!item.full" (click) = "showDetails($event,i)" class="read-more"><a href="#">Read more</a></span>
                          </p>
                        </div>
                    </div>
                    <a href="#" class="card-link view-more">View 10 more<span><i class="icon ion-android-more-vertical thread-icon"></i></span></a>
                </div>
                <div class="card-group">
                    <div class="card card-secondary maincard halfcard">
                        <div class="card-header grapheader">
                            <h1 class="dept headtitle">TESTS</h1>
                        </div>
                        <div class="card-body midcardbody">
                            <div class="carditem">
                                <h1 class="dept">RAST</h1>
                                <h1 class="dept previnfo">Test Result<span class="predata">&nbsp; Positive</span></h1>
                                <h1 class="dept previnfo">Date tested<span class="predata">&nbsp; 02/15/2018 10:05am</span></h1>
                                <div class="timeline condition drugtimeline">
                                    <p class="timelinedate">05</p>
                                    <p class="timelinedate month">FEB</p>
                                </div>
                            </div>
                            <div class="carditem">
                                <h1 class="dept">Penecilene Allegy</h1>
                                <h1 class="dept previnfo">Test Result<span class="predata">&nbsp; Positive</span></h1>
                                <h1 class="dept previnfo">Date tested<span class="predata">&nbsp; 02/15/2018 10:05am</span></h1>
                                <div class="timeline condition drugtimeline">
                                    <p class="timelinedate">05</p>
                                    <p class="timelinedate month">FEB</p>
                                </div>
                            </div>
                            <div class="carditem">
                                <h1 class="dept">Hepatitis B</h1>
                                <h1 class="dept previnfo">Test Result<span class="predata">&nbsp; Negative</span></h1>
                                <h1 class="dept previnfo">Date tested<span class="predata">&nbsp; 02/15/2018 10:05am</span></h1>
                                <div class="timeline condition drugtimeline">
                                    <p class="timelinedate">02</p>
                                    <p class="timelinedate month">FEB</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-secondary maincard halfcard halfcard-right">
                        <div class="card-header grapheader">
                            <h1 class="dept headtitle">SCANNED FILES</h1>
                        </div>
                        <div class="card-body midcardbody">
                            <div *ngFor='let scan of patient.record.scans' class="carditem scan-items">
                                <div class="card scan-thumnail"><a href="assets/img/IMG-20180927-WA0000.jpg" target="_blank" class="image-link" data-lightbox="scan"><img class="img-fluid" [src] = getImage(scan.name)></a></div>
                                 <i (click)='downloadImage(scan.name)'title = 'download' class="icon ion-ios-download-outline downloadicon"></i>
                                <h6 class="filename">{{scan.description}}</h6>
                                <div class="timeline condition drugtimeline">
                                    <p class="timelinedate">05</p>
                                    <p class="timelinedate month">FEB</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card card-secondary historycard midlecard topcard graphcard">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">VITALS</h1>

                    </div>
                    <div class="card-body topcardbody nopadding">
                        <div style='padding-left:0%' class="carditem">
                          <canvas id="bpChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card card-secondary historycard midlecard topcard graphcard">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">BLOOD GLUCOSE</h1>
                    </div>
                    <div class="card-body topcardbody">
                        <div class="carditem"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card-colums rightcolumn">
                <div class="card card-secondary historycard rightcard allegies">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">TESTS</h1>
                    </div>
                    <div class="card-body rightcardbody">
                        <div class="carditem">
                            <ul class="itemlist">
                                <li>Shelfish</li>
                                <li>Peanuts</li>
                                <li>Sporse</li>
                                <li>Palm Oil</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card card-secondary historycard rightcard allegies">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">FAMILY HISTORY</h1>
                    </div>
                    <div class="card-body rightcardbody">
                        <div class="carditem">
                            <ul class="itemlist">
                                <li>Diabetes</li>
                                <li>Asthma</li>
                                <li>Tooth Ache</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card card-secondary historycard rightcard conditions">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">COMPLAINS</h1>
                    </div>
                    <div class="card-body rightcardbody">
                          <div *ngFor ="let complain of patient.record.complains" class="carditem">
                              <div class="carditem priscriptioncontainer order">
                                  <div class="timeline condition drugtimeline">
                                      <p class="timelinedate">10</p>
                                      <p class="timelinedate month">FEB</p>
                                  </div>
                                  <div class="priscription drug side-item">
                                      <h6 class="dept complain">{{complain.complain}}</h6>
                                      <h6 class="dept priscriptiontime">&nbsp;08:55am</h6>
                                  </div>


                              </div>
                              <div class="carditem priscriptioncontainer order">
                                  <div class="timeline condition drugtimeline">
                                      <p class="timelinedate">09</p>
                                      <p class="timelinedate month">JAN</p>
                                  </div>

                                  <div class="priscription drug side-item">
                                      <h6 class="dept">Pregnancy</h6>
                                      <h6 class="dept priscriptiontime">&nbsp;05:37pm</h6>
                                  </div>
                              </div>
                          </div>
                      </div>
                </div>
                <div class="card card-secondary historycard rightcard conditions">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">CONDITIONS</h1>
                    </div>
                    <div class="card-body rightcardbody">
                          <div class="carditem">
                              <div class="carditem priscriptioncontainer order">
                                  <div class="timeline condition drugtimeline">
                                      <p class="timelinedate">10</p>
                                      <p class="timelinedate month">FEB</p>
                                  </div>
                                  <div class="priscription drug side-item">
                                      <h6 class="dept">Peptic Ulcer</h6>
                                      <h1 class="dept previnfo sec-info">Diagnosed By: <span class="predata">Dr.Rita Benjamin</span></h1>
                                  </div>

                              </div>
                              <div class="carditem priscriptioncontainer order">
                                  <div class="timeline condition drugtimeline">
                                      <p class="timelinedate">29</p>
                                      <p class="timelinedate month">FEB</p>
                                  </div>

                                  <div class="priscription drug side-item">
                                      <h6 class="dept">Malaria Fever</h6>
                                      <h1 class="dept previnfo">Diagnosed By: <span class="predata">Dr.Olumide Bola</span></h1>
                                  </div>
                              </div>
                              <div class="carditem priscriptioncontainer order">
                                  <div class="timeline condition drugtimeline">
                                      <p class="timelinedate">12</p>
                                      <p class="timelinedate month">MAY</p>
                                  </div>

                                  <div class="priscription drug side-item">
                                      <h6 class="dept">Pregnancy</h6>
                                      <h1 class="dept previnfo sec-info">Diagnosed By: <span class="predata">Dr.Rita Benjamin</span></h1>
                                  </div>
                              </div>
                              <div class="carditem priscriptioncontainer order">
                                  <div class="timeline condition drugtimeline">
                                      <p class="timelinedate">09</p>
                                      <p class="timelinedate month">JAN</p>
                                  </div>

                                  <div class="priscription drug side-item">
                                      <h6 class="dept">Thyphoid Fever</h6>
                                      <h1 class="dept previnfo">Diagnosed By: <span class="predata">Dr. Sulaiman Isah</span></h1>
                                  </div>
                              </div>


                          </div>
                      </div>
                </div>
                <div class="card card-secondary historycard rightcard medication">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">MEDICATIONS</h1>
                    </div>
                    <div style ="padding-left:12px;" class="card-body rightcardbody">
                      <div class="carditem priscriptioncontainer order">
                          <div class="timeline condition drugtimeline">
                              <p class="timelinedate">20</p>
                              <p class="timelinedate month">FEB</p>
                          </div>
                          <div class="priscription drug">
                              <h6 style='font-weight:normal' class="dept">Amoxiline&nbsp;<span class="predata prescriptionicon"></span><span class="predata">200mg</span></h6>

                          </div>
                          <div class="priscription drug">
                              <h6  style='font-weight:normal' class="dept">Chloroquine &nbsp;<span class="predata prescriptionicon">
                              </span><span class="predata">200ml</span></h6>

                          </div>
                          <div class="priscription drug">
                              <h6 style='font-weight:normal' class="dept">Amathem<span class="predata prescriptionicon">
                              </span><span class="predata">1000mg</span></h6>

                          </div>
                      </div>
                      <div class="carditem priscriptioncontainer order">
                          <div class="timeline condition drugtimeline">
                              <p class="timelinedate">18</p>
                              <p class="timelinedate month">DEC</p>
                          </div>
                          <div class="priscription drug">
                              <h6 class="dept">Amoxiline&nbsp;<span class="predata prescriptionicon"></span><span class="predata">200mg</span></h6>

                          </div>
                          <div class="priscription drug">
                              <h6 class="dept">Chloroquine &nbsp;<span class="predata prescriptionicon">
                              </span><span class="predata">200ml</span></h6>

                          </div>

                      </div>
                      <div class="carditem priscriptioncontainer order">
                          <div class="timeline condition drugtimeline">
                              <p class="timelinedate">05</p>
                              <p class="timelinedate month">FEB</p>
                          </div>
                          <div class="priscription drug">
                              <h6 class="dept">Senamen&nbsp;<span class="predata prescriptionicon"></span><span class="predata">200mg</span></h6>

                          </div>
                          <div class="priscription drug">
                              <h6 class="dept">Chloroquine &nbsp;<span class="predata prescriptionicon">
                              </span><span class="predata">200ml</span></h6>

                          </div>
                          <div class="priscription drug">
                              <h6 class="dept">Paracetamol <span class="predata prescriptionicon">
                              </span><span class="predata">1000mg</span></h6>

                          </div>
                          <div class="priscription drug">
                              <h6 class="dept">Septrene<span class="predata prescriptionicon">
                              </span><span class="predata">200ml</span></h6>

                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
