
<div  class="modal " role="dialog" tabindex="-1" id="consModal" style="border-radius:32px;max-width:841px;margin: auto;padding-top: 35px">
        <div style="max-width: 730px;border-radius:32px;" class="modal-dialog" role="document">
            <div class="modal-content" style="width:100%; height:400px;border-radius:32px;padding-left:0px;padding-right: 0px;">
                <div class="modal-body" style="border-radius:32px;padding: 0px;">
                    <div class="card card-secondary historycard midlecard profilecard" style="margin:auto;min-height:400px;border-radius:32px;width:100%;position: absolute">
                        <div style='padding-left: 30px;border-top-right-radius:32px;border-top-left-radius:32px;border-bottom: 0px;height:40px;margin-bottom: 30px;' class="card-header profileheader small-header">
                            <div style="left:23px;top:13px" class="timeline lastdoc priscriber headerdp small-dp">
                                <img [src]=getDp(patient.info.personal.avatar)/>
                            </div>
                            <p style="top:5px" class="patien-name small-name">
                              {{patient.info.personal.firstName + ' '+ patient.info.personal.lastName}}<span class="small-headericon"></span>
                            </p>
                            <h6 style='font-size:11px;position:absolute;color:dodgerblue; font-weight: normal; top:18px;left:75%' class="patien-name small-name">CONSULTATION</h6>
                        </div>
                        <div class="card-body orderbody" style="width:85%;margin:auto;">
                            <div class="steps">
                                <div [class.curent-step] = 'count===0' class="step-item">
                                    <span>
                                        <h6 class="step-lebel">COMPLAIN</h6>
                                   </span>
                                    <span *ngIf="session.complains.length">
                                        <i  class="icon ion-ios-checkmark-empty paid-icon"></i>
                                   </span>
                                </div>
                                <div [class.curent-step] = 'count===1' class="step-item">
                                    <span >
                                        <h6 class="step-lebel">HISTORY</h6>
                                    </span>
                                    <span *ngIf="session.famHist.condition||session.allegies.allegy">
                                        <i  class="icon ion-ios-checkmark-empty paid-icon"></i>
                                   </span>
                                </div>
                                <div [class.curent-step] = 'count===2' class="step-item">
                                    <span>
                                        <h6 class="step-lebel">LAB</h6>
                                    </span>
                                    <span *ngIf='session.tests.length||session.scans.length||session.surgeries.length'>
                                        <i  class="icon ion-ios-checkmark-empty paid-icon"></i>
                                    </span>
                                </div>
                                <div [class.curent-step] = 'count===3' class="step-item">
                                    <span >
                                        <h6 class="step-lebel">VITALS</h6>
                                    </span>
                                    <span *ngIf="session.vital.bp>0">
                                        <i  class="icon ion-ios-checkmark-empty paid-icon"></i>
                                    </span>
                                </div>
                                <div [class.curent-step] = 'count===4' class="step-item">
                                    <span >
                                    <h6 class="step-lebel">DIAGNOSIS</h6>
                                    </span>
                                    <span *ngIf="session.conditions.length">
                                        <i  class="icon ion-ios-checkmark-empty paid-icon"></i>
                                    </span>
                                </div>
                                <div [class.curent-step] = 'count===5' class="step-item">
                                    <span >
                                        <h6 class="step-lebel">MEDICATIONS</h6>
                                    </span>
                                    <span *ngIf="session.medications.length">
                                        <i  class="icon ion-ios-checkmark-empty paid-icon"></i>
                                    </span>
                                </div>
                                <div [class.curent-step] = 'count===6' class="step-item">
                                    <span>
                                        <h6 class="step-lebel">NOTES</h6>
                                    </span>
                                    <span *ngIf="session.note.note">
                                        <i  class="icon ion-ios-checkmark-empty paid-icon"></i>
                                    </span>
                                </div>
                            </div>
                            <form *ngIf="count==0"  style="top: 3%; height:100%;width:60%;position: relative;margin:auto;" class=" staffsform">
                                <div class="form-group vitals-section address" style='font-size:11px;resize:none;min-height: 26px'>
                                    <label style="font-size:8px" for="piriod" class="labelss complain">CHIEF COMPLAIN</label>
                                    <input [(ngModel)]="session.complain.complain" style=" font-size:11px;" name="piriod" class="form-control patientdata inputs dataInfo">
                                </div>
                                <div class="form-group vitals-section formGroup" style='width:94%;margin-bottom:2px'><span></span>
                                    <label style="font-size:8px" for="piriod" class="labelss complain">DURATION</label>
                                    <input name='numofDays' [(ngModel)]="session.complain.duration" style=" font-size:11px;border-top-right-radius: 0px;border-right:0px;border-bottom-right-radius: 0px;" type="number" [min]='1' name="piriod" class="form-control patientdata inputs dataInfo" placeholder='Number of days'>
                                    <div style="background: white;border:1px solid whitesmoke;border-left:0px;top:1px;height: 26px;" id='moreBtn' title="Add complain"><i style="left: 13%;
                                        top: -29%;" (click)="addComplain()" class="icon ion-ios-plus-empty arrow "></i>
                                    </div>
                                </div>
                                <div *ngIf='session.complains.length' class="form-group vitals-section setGroup">
                                    <table cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. ">
                                        <thead class='productHead'>
                                            <tr class="patient-th">
                                                <th style='padding:4px;font-size:10px;color: #6c757d;font-weight:bold' class="headlbl patient-th">COMPLAIN</th>
                                                <th style='padding: 4px;font-size:10px;text-align: right;color: #6c757d;font-weight:bold' class="headlbl patient-th">DURATION</th>
                                                <th style='padding: 4px;font-size:10px' class="headlbl patient-th"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="border-bottom: 1px solid #f8f9fa;"  *ngFor='let complain of session.complains; let i = index; let odd = odd' class="ro patient-row">
                                                <td style="padding:0px;padding-left:4px;" class="data">
                                                    {{complain.complain}}
                                                </td>
                                                <td style="padding:0px;text-align: right;padding-left:4px;" class="data"> {{complain.duration+'d'}}</td>
                                                <td style='padding:0px; padding-left:3px;text-align: center;color:darkgray' class="data">
                                                    <i (click)=removeComplain(i) class="icon ion-ios-trash-outline tableicon" title="Discard" style="font-size:15px; cursor: pointer;"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                            <form *ngIf="count===1"  style="top: 3%; height:100%;width:60%;position: relative;margin:auto;" class=" staffsform">
                              
                                <div class="form-group vitals-section" style="width:100%; margin-right: 5px; display:inline-block">
                                    <label style="font-size:8px" for="famhistory" class="labelss">
                                        FAMILY HISTORY
                                    </label>
                                    <input [(ngModel)]="session.famHist.condition"  name="famhistory" class=" form-control patientdata dystolic inputs dataInfo" />
                                    <div style="min-height:400px;" *ngIf='checkItems("history")' class="options prisOption edit">
                                    </div>
                                </div>
                                <div style="width:100%; display:inline-block" class="form-group vitals-section">
                                    <label style="font-size:8px" for="allegy" class="labelss">ALLEGIES<span style='font-size:11px; color:red;'>*</span> </label>
                                    <input  [(ngModel)]="session.allegies.allegy" name="allegy" class="form-control patientdata dystolic inputs dataInfo" />
                                </div>
                            </form>
                            <form *ngIf="count===2"  style="top: 3%; height: 100%;width:60%;margin:auto;position: relative;" class=" ">
                                <div class="form-group vitals-section address">
                                    <label style="font-size:8px" for="request" class="labelss">REQ. TYPE</label>
                                    <select (change)=getDescriptions() name='request' [(ngModel)]="session.reqItem.category" autocomplete="off" class="patientdata dystolic inputs dataInfo">
                                        <option>Scanning</option>
                                        <option>Surgery</option>
                                        <option>Test</option>
                                    </select>
                                </div>
                                <div style='width:94%' class="form-group vitals-section address">
                                    <label style="font-size:8px" for="request" class="labelss">DESCRIPTION</label>
                                    <select style='border-top-right-radius: 0px;border-bottom-right-radius: 0px;border-right: 0px' name='request' [(ngModel)]="session.reqItem.name" autocomplete="off" class="patientdata dystolic inputs dataInfo">
                                  <option *ngFor="let desc of session.desc">{{desc}}</option>
                                </select>
                                <div style="background: white;border:1px solid whitesmoke;border-left:0px;top:0px;height: 27px;" id='moreBtn' title="Add complain"><i style="left: 13%;
                                    top: -29%;"  (click)="addRequest()" class="icon ion-ios-plus-empty arrow "></i>
                                </div>
                                  
                                </div>
                                <div *ngIf='session.tests.length||session.scans.length||session.surgeries.length' class="form-group vitals-section setGroup">
                                    <table cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. ">
                                        <thead class='productHead'>
                                            <tr class="patient-th">
                                                <th style='padding: 4px;font-size:10px;color: #6c757d;font-weight:bold' class="headlbl patient-th">REQUEST</th>
                                                <th style='padding: 4px;font-size:10px;text-align: right; color: #6c757d;font-weight:bold' class="headlbl patient-th">PRICE</th>
                                                <th style='padding: 4px;font-size:10px;color: #6c757d;' class="headlbl patient-th"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="border-bottom: 1px solid #f8f9fa;" *ngFor='let i of session.invoices; let i = index; let odd = odd' class="ro patient-row">
                                                <td style="padding:0px;padding-left:4px;" class="data">
                                                    {{i.name}}
                                                </td>
                                                <td style="padding:0px;text-align: right;padding-left:4px;" class="data">{{i.price||'---'}} </td>
                                                <td style='padding:0px; padding-left:3px;text-align: center' class="data">
                                                    <i (click)=removeRequest(i) class="icon ion-ios-trash-outline tableicon" title="Discard" style="font-size:15px; cursor: pointer;"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
    
    
                            <form *ngIf="count===3"  style="top: 3%; height: 100%;width:60%;margin:auto;position: relative;" class=" ">
                                
                                <div class="form-group vitals-section address">
                                    <label style="font-size:8px" for="request" class="labelss">VITAL</label>
                                    <select (change)=getDescriptions() name='request' [(ngModel)]="session.reqItem.category" autocomplete="off" class="patientdata dystolic inputs dataInfo">
                                        <option>Blood Presure</option>
                                        <option>Body Tempreture</option>
                                        <option>Pulse Rate</option>
                                        <option>Respiratory Rate</option>
                                    </select>
                                </div>
                                <div class="form-group vitals-section formGroup" style=" width:49%;">
                                    <label style="font-size:8px" for="dos" class="labelss complain">SYSTOLIC</label>
                                    <input [(ngModel)]="session.medication.priscription.intake" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;text-align:center;font-size:11px" [min]='1' type="number" name="dos" class="patientdata inputs dataInfo">
                                </div>
                                <div class="form-group vitals-section formGroup" style=" width:44%;">
                                        <label style="font-size:8px" for="piriod" class="labelss complain">DYSTOLIC</label>
                                        <input name='days' [(ngModel)]="session.medication.priscription.piriod" style="border-radius: 0px;border-right:0px;text-align:center;" type="number" [min]='1' name="piriod" class="patientdata inputs dataInfo" placeholder="">
                                        <div style="background: white;border:1px solid whitesmoke;border-left:0px;top:1px;height: 26px;" id='moreBtn' title="Add medication"><i style="left: 13%;
                                            top: -29%;"  (click)="addVital()" class="icon ion-ios-plus-empty arrow "></i>
                                        </div>
                                </div>
                                <div *ngIf="session.medications.length" class="form-group vitals-section setGroup">
                                    <table cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. ">
                                        <thead class='productHead'>
                                            <tr class="patient-th">
                                                <th style='padding: 4px;font-size:10px;font-weight:bold;color:darkgray' class="headlbl patient-th">VITAL SIGN</th>
                                                <th style='padding: 4px;font-weight:bold;text-align:right;font-size:10px;color:darkgray' class="headlbl patient-th">VALUE</th>
                                                <th style='padding: 2px;' class="headlbl patient-th"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="border-bottom: 1px solid #f8f9fa;"  *ngFor="let med of session.medInvoices let i = index; let odd = odd;" class="ro patient-row">
                                                <td style="padding:0px;padding-left:4px;" class="data">{{med.name}}</td>
                                                <td style='padding:0px;' class="data" style="text-align:center">
                                                    {{med.price||'---'}}</td>
                                                <td style="text-align: left;padding:0px; padding-left:3px" class="data">
                                                    <i (click)="removePriscription(i)" class="icon ion-ios-trash-outline tableicon" title="Remove" style="font-size:17px; cursor: pointer;"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot col-span='4' style='font-size:11px; text-align:right; position:absolute; font-weight:bold;padding-right: 10px; border-top: 1px solid whitesmoke;width:100%'>Total:&nbsp; <span>
                                            {{getPriceTotal()}}</span>
                                        </tfoot>
                                    </table>
                                </div>
                            </form>
                            <form *ngIf="count===4"  style="top: 3%; height: 100%;width:60%;margin:auto;position: relative;" class=" ">
                          
                                <div class="form-group vitals-section address" style='width:94%'>
                                    <label style="font-size:8px" for="request" class="labelss">CONDITION</label>
                                    <select style='border-top-right-radius: 0px;border-bottom-right-radius: 0px;' name='request' [(ngModel)]="session.condition.condition" autocomplete="off" class="patientdata dystolic inputs dataInfo">
                                    <option *ngFor="let cond of conditions">{{cond}}</option>
                                    </select>
                                    <div style="background: white;border:1px solid whitesmoke;border-left:0px;top:0px;height: 27px; cursor:pointer" id='moreBtn' title="Add complain"><i style="left: 13%;
                                        top: -29%;"  (click)="addCondition()" class="icon ion-ios-plus-empty arrow "></i>
                                    </div>
                                   
                                </div>
    
                                <div *ngIf='session.conditions.length' class="form-group vitals-section setGroup">
                                        <table cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. ">
                                            <thead class='productHead'>
                                                <tr class="patient-th">
                                                    <th style='padding: 4px;font-size:10px;color: #6c757d;font-weight:bold' class="headlbl patient-th">CONDITION</th>
                                                    <th style='padding: 4px;font-size:10px;color: #6c757d;' class="headlbl patient-th"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="border-bottom: 1px solid #f8f9fa;" *ngFor='let cond of session.conditions; let i = index; let odd = odd' class="ro patient-row">
                                                    <td style="padding:0px;padding-left:4px;" class="data">
                                                            {{cond.condition}}
                                                    </td>
                                                    <td style='padding:0px; padding-left:3px;text-align: center' class="data">
                                                        <i (click)=removeCondition(i) class="icon ion-ios-trash-outline tableicon" title="Discard" style="font-size:15px; cursor: pointer;"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                            </form>
                            <form *ngIf="count===5"  style="top: 3%; width:60%;margin:auto;position: relative;" class=" ">
                                    <div class="form-group vitals-section address">
                                        <label style="font-size:8px" for="drug" class="labelss">PRODUCT</label>
                                        <input (focus)=clearFeedback() (keyup)="searchItems(session.medication.name, 'drug')" [(ngModel)]=session.medication.name placeholder="E.g paracetamol 500mg" style='font-size:11px;text-align:center;' autocomplete="off" type="text" name="drug" class="form-control patientdata dystolic inputs dataInfo"
                                        />
                                        <div style="min-height:100px" *ngIf='checkItems("drug")' class="options prisOption edit">
                                        </div>
                                    </div>
                                    <div class="form-group vitals-section formGroup" style=" width:26%;">
                                        <label style="font-size:8px" for="dos" class="labelss complain">INTAE</label>
                                        <input [(ngModel)]="session.medication.priscription.intake" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;text-align:center;font-size:11px" [min]='1' type="number" name="dos" class="patientdata inputs dataInfo">
                                    </div>
                                    <div class="form-group vitals-section formGroup" style=" width:39%; ">
                                        <label style="font-size:8px" for="intake" class="labelss complain">FREQ</label>
                                        <select [(ngModel)]="session.medication.priscription.freq" style="border-radius: 0px;font-size:11px; border-top-right-radius: 0px;width: 100%; text-align:center; border-bottom-right-radius:0px" class=" patientdata statusinputs dataInfo " name="intake">             <option>dd</option>
                                            <option>dos</option>
                                            <option>qds</option>
                                            <option>qos</option>
                                            <option>tds</option>
                                        </select>
                                    </div>
                                    <div class="form-group vitals-section formGroup" style=" width:28%;">
                                        <label style="font-size:8px" for="piriod" class="labelss complain">DAYS</label>
                                        <input name='days' [(ngModel)]="session.medication.priscription.piriod" style="border-radius: 0px;border-right:0px;text-align:center;" type="number" [min]='1' name="piriod" class="patientdata inputs dataInfo" placeholder="">
                                        <div style="background: white;border:1px solid whitesmoke;border-left:0px;top:1px;height: 26px;" id='moreBtn' title="Add medication"><i style="left: 13%;
                                            top: -29%;"  (click)="addMedication()" class="icon ion-ios-plus-empty arrow "></i>
                                        </div>
                                    </div>
                                    <div *ngIf="session.medications.length" class="form-group vitals-section setGroup">
                                        <table cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. ">
                                            <thead class='productHead'>
                                                <tr class="patient-th">
                                                    <th style='padding: 4px;font-size:10px;font-weight:bold;color:darkgray' class="headlbl patient-th">PRODUCT</th>
                                                    <th style='padding: 4px;font-weight:bold;font-size:10px;color:darkgray' class="headlbl patient-th">DOSAGE</th>
                                                    <th style='padding: 4px;font-weight:bold;text-align:right;font-size:10px;color:darkgray' class="headlbl patient-th">PRICE</th>
                                                    <th style='padding: 2px;' class="headlbl patient-th"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="border-bottom: 1px solid #f8f9fa;"  *ngFor="let med of session.medInvoices let i = index; let odd = odd;" class="ro patient-row">
                                                    <td style="padding:0px;padding-left:4px;" class="data">{{med.name}}</td>
                                                    <td style='padding:0px;' class="data">
                                                        {{getPriscription(med)}}</td>
                                                    <td style='padding:0px;text-align:center;padding:0px' class="data" >
                                                        {{med.price||'---'}}
                                                    </td>
                                                    <td style="text-align:left;padding:0px; padding-left:3px" class="data">
                                                        <i (click)="removePriscription(i)" class="icon ion-ios-trash-outline tableicon" title="Remove" style="font-size:15px; cursor: pointer;"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <!-- <tfoot col-span='4' style='font-size:11px; text-align:right; position:absolute; font-weight:bold;padding-right: 10px; border-top: 1px solid whitesmoke;width:100%'>Total:&nbsp; <span>
                                                {{getPriceTotal()}}</span>
                                            </tfoot> -->
                                        </table>
                                    </div>
                            </form>
    
                            <form *ngIf="count===6"  style="top: 3%; width:60%;margin:auto;position: relative; border-bottom: 1px solid whitesmoke" class=" ">
                                <div class="form-group vitals-section formGroup newnote">
                                    <textarea [(ngModel)]="session.note.note" id='newnote' style="width:100%; min-height: 150px; font-size: 13px; padding: 5px; border: 0px; " name="note" placeholder="Additional note"></textarea>
                                </div>
                            </form>
                        </div>
                        <div style="left:12%; top:45%;position: absolute;
                        width: 7%;" class="btn-group disposition">
                            <button [disabled]='count === 0' (click)=prev() style="width:32px;height: 32px;border-radius: 50%;left:35%"   class="btn btn-outline-primary  dispo " >
                                <i  style='position:absolute;right:36%;top:2px; font-size:large; cursor:pointer; display: inline-block;' title="Back" class="icon ion-android-arrow-back "> 
                                </i>
                            </button>
                        </div>
                        <div style="left: 76%; top:45%;position: absolute;
                        width: 7%;" class="btn-group disposition">
                            <button [disabled]='count === 6'(click)=next() style="width:32px;height: 32px;border-radius: 50%;left:35%"   class="btn btn-outline-primary  dispo " >
                                <i   style='position:absolute;right:36%;top:2px; font-size:large; cursor:pointer; display: inline-block;' title="Next" class="icon ion-android-arrow-forward "> 
                                </i>
                            </button>
                        </div>
                        <div *ngIf="count === 6" style="left:31%;top:-74px;position:relative;width:53%" class="btn-group disposition">
                            <button (click)=updateRecord()  data-toggle="modal" data-target="#consModal"  style=" width: 170px;font-size: 10px; border-radius: 30px; height:27px;left:15%; bottom:10%;" class="btn btn-sm btn-outline-primary inputs mainbtn">UPDATE RECORD
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

<div style="padding-top:0px" class="container history-container">
    <div class="row history-row">
        <div *ngIf='!patient._id' class='issue'>
            <div *ngIf='loading' class="lds-css ng-scope">
            <div style="width:100%;height:100%" class="lds-rolling"><div></div></div></div>
            <div (click) = refresh()  *ngIf='message' title='Refresh' class='refresh'><i class="icon ion-ios-reload "></i></div>
             <h6 *ngIf='message' style='font-size:13px;position:absolute;top:65%; width:100%; color:lightgrey;text-align: center' >{{message}}</h6>
         </div>
        <div *ngIf='patient._id' class="col col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card-colums leftcolumn">
                <div class="card card-secondary historycard leftcard">
                    <div class="card-body infobody">
                        <div class="carditem">
                            <div class="timeline detailstimeline"><i class="icon ion-ios-person-outline deticon"></i></div>
                            <h6 class="dept detailshead">PERSONAL INFO</h6>
                            <p class="dept previnfo">Age:&nbsp;<span class="predata">
                              {{patient.info.personal.dob|dob}}</span></p>
                            <p class="dept previnfo">Gender:&nbsp;<span class="predata">
                              {{patient.info.personal.gender||'---'}}</span></p>
                            <p class="dept previnfo">Blood Group:&nbsp;<span class="predata">O+</span></p>
                            <p class="dept previnfo">Marital Status:&nbsp;<span class="predata">
                              {{patient.info.personal.mstatus||'---'}}</span></p>
                            <p class="dept previnfo">Occupation:&nbsp;<span class="predata">
                              {{patient.info.personal.occupation||'---'}}</span></p>
                            <p class="dept previnfo">Religion:&nbsp;<span class="predata">
                              {{patient.info.personal.religion||'---'}}</span></p>
                            <p class="dept previnfo">Tribe:&nbsp;<span class="predata">
                              {{patient.info.personal.tribe||'---'}}</span></p>
                            <p class="dept previnfo">Card Type:&nbsp;<span class="predata">
                              {{patient.info.personal.cardType||'---'}}</span></p>
                            <p class="dept previnfo">Card No:&nbsp;<span class="predata">
                              {{patient.info.personal.cardNum||'---'}}</span></p>
                        </div>
                        <div class="carditem">
                            <div class="timeline detailstimeline"><i class="icon ion-ios-location-outline deticon"></i></div>
                            <h6 class="dept detailshead">CONTACT</h6>
                            <p class="dept previnfo">Mobile:&nbsp;<span class="predata">
                              {{patient.info.contact.me.mobile||'---'}}</span></p>
                            <p class="dept previnfo">Email:&nbsp;<span class="predata">
                              {{patient.info.contact.me.email||'---'}}</span></p>
                            <p class="dept previnfo">Address:&nbsp;<span class="predata">
                              {{patient.info.contact.me.address||'---'}}</span></p>
                            <p class="dept previnfo">State:&nbsp;<span class="predata">
                              {{patient.info.contact.me.state||'---'}}</span></p>
                            <p class="dept previnfo">City:&nbsp;<span class="predata">
                              {{patient.info.contact.me.lga||'---'}}</span></p>
                        </div>
                        <div class="carditem">
                            <div class="timeline detailstimeline"><i class="icon ion-ios-pulse deticon"></i></div>
                            <h6 class="dept detailshead">EMERGENCY</h6>
                            <p class="dept previnfo">Name&nbsp;<span class="predata">
                              {{patient.info.contact.emergency.name||'---'}}</span></p>
                            <p class="dept previnfo">Mobile:&nbsp;<span class="predata">
                              {{patient.info.contact.emergency.mobile}}</span></p>
                            <p class="dept previnfo">Email:&nbsp;
                            <span class="predata">{{patient.info.contact.emergency.email||'---'}}</span></p>
                            <p class="dept previnfo">Relashionship:&nbsp;<span class="predata">
                              {{patient.info.contact.emergency.rel||'---'}}</span></p>
                            <p class="dept previnfo">Address:&nbsp;<span class="predata">
                              {{patient.info.contact.emergency.address||'---'}}</span></p>
                        </div>
                    </div>
                </div>
                <div class="card card-secondary historycard leftcard deathinfo">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">HEALTH INSURANCE</h1>
                    </div>
                    <div class="card-body rightcardbody">
                        <h1  style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO RECORD</h1>
                        <div class="carditem"></div>
                    </div>
                </div>
                <div class="card card-secondary historycard leftcard visits">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">VISITS</h1>
                    </div>
                    <div style ="padding-left:17px;" class="card-body rightcardbody">
                        <div  *ngFor="let visit of patient.record.visits; let i = index"  class="carditem priscriptioncontainer order">
                            <div style='left:-7.2%' class="timeline condition drugtimeline">
                                <p class="timelinedate"> {{visit[0]?.visitedOn|date:'dd'}}</p>
                                <p  class="timelinedate month"> {{visit[0]?.visitedOn|date:'MMM'|uppercase}}</p>
                            </div>
                            <div *ngFor ="let vst of visit; let j= index" class="priscription drug">
                                <p class="dept">{{vst.dept}}<span class="predata"> </span><span class="predata notetime" style='left:50%;width:72px;text-align:center'  >{{vst.dischargedOn|date:'longDate'}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-secondary historycard leftcard deathinfo">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">DEATH INFORMATION</h1>
                    </div>
                    <div class="card-body rightcardbody">
                        <h1 style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO RECORD</h1>
                        <div class="carditem"></div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf='patient._id' class="col col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="card-colums">
                <div class="card card-secondary historycard midlecard graphcard">
                    <div style="margin-left: 0px; border:0px" class="card-body notecardbody nopading">
                            <div style="position: relative;height:90px;width:90px;left:-2px;margin:auto;border-radius: 50%" class="timeline noter patientdp">
                             <img style='height:100%; width:100%; object-fit:cover; border-radius:50%;' [src] = getDp(patient.info.personal.avatar)/>
                            </div>
                             <h1 style="padding:0px; text-align:center;margin: auto; position: relative; width:350px; font-size:18px;" class="dept previnfo noterinfo patientname">
                               {{patient.info.personal.firstName + ' '+ patient.info.personal.lastName}}
                            </h1>
                             <h1 style="padding: 0px; text-align: center;  position: relative; width:350px;font-size:11px;font-weight: normal;margin:auto;color:lightgray" class="dept previnfo noterinfo patientname">{{patient.createdAt|date:'longDate'}}&nbsp;
                            </h1>
                            <div style="width:150px;margin:auto;top:10px;">
                                <button data-toggle="modal" data-target="#consModal"   style=" width:150px;top:10px;margin:auto;font-size:10px; height:27px;position:relative;" class="btn btn-sm btn-outline-primary inputs mainbtn">UPDATE RECORD</button>
                            </div>
                    </div>
                </div>
                <div style="margin-bottom: 3px" class="card card-secondary historycard midlecard graphcard">
                    <div style='border-top-right-radius:12px;border-top-left-radius:12px;' class="card-header grapheader">
                        <h1 class="dept headtitle">NOTES</h1>
                    </div>
                    <div class="card-body notecardbody">
                        <h1 *ngIf='!patient.record.notes.length' style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO NOTES</h1>
                        <div *ngFor = "let note of patient.record.notes;let i=index" class="carditem noteitem writeup">
                          <div style="position:absolute;left:-3%;" class="timeline lastdoc priscriber headerdp small-dp">
                            <img [src] = getDp(note.meta.addedBy.info.personal.avatar)/>
                          </div>
                            <h1 class="dept previnfo noterinfo">
                                {{note.meta.addedBy.info.personal.firstName+' '+note.meta.addedBy.info.personal.lastName}}
                              <span style='color: lightgray;font-weight: normal' >
                                {{'|'+' '+ note.meta.addedBy.info.official.department}}</span>
                              <span class="predata notetime">
                                {{note.meta.dateAdded|date:'dd/MM/y hh:mma'|lowercase}}</span>
                            </h1>
                            <p class="note-item">{{note.note}}<br>
                              <span *ngIf= "!compareNotes(i, note)" (click) = "readMore($event,i)" class="read-more"><a href="#">Read more</a></span>
                          </p>
                        </div>
                    </div>
                    <a href="#" class="card-link view-more">View 10 more<span><i class="icon ion-android-more-vertical thread-icon"></i></span></a>
                </div>
                <div class="card-group">
                    <div style='border-radius:12px;margin-bottom: 4px;' class="card card-secondary maincard halfcard">
                        <div style='border-top-right-radius:12px;border-top-left-radius:12px'  class="card-header grapheader">
                            <h1 class="dept headtitle">TESTS</h1>
                        </div>
                        <div style='height:100%;' class="card-body midcardbody">
                            <h1 style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO RECORD</h1>
                        </div>
                    </div>
                    <div style='border-radius:12px;margin-bottom: 4px;' class="card card-secondary maincard halfcard halfcard-right">
                        <div style='border-top-right-radius:12px;border-top-left-radius:12px' class="card-header grapheader">
                            <h1 class="dept headtitle">SCANNED FILES</h1>
                        </div>
                        <!-- <div style='height:100%;' class="card-body midcardbody">
                            <h1 *ngIf='!patient.record.scans.length'  style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO ATTACHMENTS</h1>
                            <div *ngFor='let scans of patient.record.scans' class="carditem scan-items">
                                <div *ngFor='let scan of scans'  class="card scan-thumnail"><a target="_blank" class="image-link" data-lightbox="scan"><img class="img-fluid" [src] = getImage(scan.name)></a></div>
                                 <i (click)='downloadImage(scan.name)'title = 'download' class="icon ion-ios-download-outline downloadicon"></i>
                                <h6 class="filename">{{scan.name}}</h6>
                                <div class="timeline condition drugtimeline">
                                    <p class="timelinedate">{{scan.meta.dateAdded|date:'dd'}}</p>
                                    <p class="timelinedate month">{{scan.meta.dateAdded|date:'MMM'|uppercase}}</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="card card-secondary historycard midlecard topcard graphcard">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">VITALS</h1>
                    </div>
                    <div class="card-body topcardbody nopadding">
                        <h1 *ngIf='!chartData.length' style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO RECORD</h1>
                        <div *ngIf='chartData.length' style='padding-left:0%' class="carditem">
                          <!-- <canvas id="bpChart"></canvas> -->
                        </div>
                    </div>
                </div>
                <div class="card card-secondary historycard midlecard topcard graphcard">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">BLOOD GLUCOSE</h1>
                    </div>
                    <div class="card-body topcardbody">
                        <h1 style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO RECORD</h1>
                        <div class="carditem"></div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf='patient._id' class="col col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card-colums rightcolumn">

                <div class="card card-secondary historycard rightcard allegies">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">FAMILY HISTORY</h1>
                    </div>
                    <div class="card-body rightcardbody">
                        <h1 *ngIf='!patient.record.famHist.length' style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO RECORD</h1>
                            <div class="carditem">
                                <ul class="itemlist">
                                    <li *ngFor = 'let history of patient.record.famHist'>
                                        {{history.condition}}
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
                <div class="card card-secondary historycard rightcard medication">
                        <div class="card-header grapheader">
                            <h1 class="dept headtitle">COMPLAINS</h1>
                        </div>
                        <div style ="padding-left:17px;" class="card-body rightcardbody">
                          <div  *ngFor="let comp of patient.record.complains; let i = index"  class="carditem priscriptioncontainer order">
                            <div style='left:-7.2%' class="timeline condition drugtimeline">
                                <p class="timelinedate"> {{comp[0]?.meta.dateAdded|date:'dd'}}</p>
                                <p  class="timelinedate month"> {{comp[0]?.meta.dateAdded|date:'MMM'|uppercase}}</p>
                            </div>
                            <div *ngFor ="let c of comp; let j= index" class="priscription drug">
                                <p class="dept">{{c.complain}}<span class="predata"></span>
                                    <span style='color:lightgrey;font-size:smaller;left:102px;width:27%;position:absolute;text-align:right;'>{{c.duration}}d</span>
                                </p>
                             </div>
                          </div>
                        </div>
                    </div>
                    <div style='max-height:300px' class="card card-secondary historycard rightcard medication">
                            <div class="card-header grapheader">
                                <h1 class="dept headtitle">CONDITIONS</h1>
                            </div>
                            <div style ="padding-left:17px;" class="card-body rightcardbody">
                                    <h1 *ngIf='!patient.record.conditions.length' style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO RECORD</h1>
                              <div  *ngFor="let cond of patient.record.conditions; let i = index"  class="carditem priscriptioncontainer order">
                                <div style='left:-7.2%' class="timeline condition drugtimeline">
                                    <p class="timelinedate"> {{cond[0]?.meta.dateAdded|date:'dd'}}</p>
                                    <p  class="timelinedate month"> 
                                        {{cond[0]?.meta.dateAdded|date:'MMM'|uppercase}}
                                    </p>
                                </div>
                                <div *ngFor ="let con of cond; let j= index" class="priscription drug">
                                    <p class="dept">{{con.condition}}<span class="predata"></span>
                                        <!-- <span style='color:lightgrey;font-size:smaller;left:105px;width:27%;position:absolute;text-align:right;'>{{medic[0].meta.dateAdded|date:'hh:mma'|lowercase}}</span> -->
                                    </p>
                                 </div>
                              </div>
                            </div>
                     </div>
                     <div class="card card-secondary historycard rightcard medication">
                        <div class="card-header grapheader">
                            <h1 class="dept headtitle">MEDICATIONS</h1>
                        </div>
                        <div style ="padding-left:17px;" class="card-body rightcardbody">
                                <h1 *ngIf='!patient.record.medications.length' style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO RECORD</h1>
                        <div  *ngFor="let medic of patient.record.medications; let i = index"  class="carditem priscriptioncontainer order">
                            <div style='left:-7.2%' class="timeline condition drugtimeline">
                                <p class="timelinedate"> {{medic[0]?.meta.dateAdded|date:'dd'}}</p>
                                <p  class="timelinedate month"> {{medic[0]?.meta.dateAdded|date:'MMM'|uppercase}}</p>
                            </div>
                            <div *ngFor ="let m of medic; let j= index" class="priscription drug">
                                <p class="dept">{{m.name}}<span class="predata"></span>
                                    <span style='color:lightgrey;font-size:smaller;left:105px;width:27%;position:absolute;text-align:right;'>{{medic[0].meta.dateAdded|date:'hh:mma'|lowercase}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-secondary historycard rightcard allegies">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">ALLEGIES</h1>
                    </div>
                    <div class="card-body rightcardbody">
                        <h1 *ngIf='!patient.record.allegies.length' style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO RECORD</h1>
                      <h1 *ngIf='!patient.record.allegies.length' style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO RECORD</h1>
                        <div class="carditem">
                            <ul class="itemlist">
                                <li *ngFor = 'let a of patient.record.allegies'>
                                    {{a.allegy}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
