

<nav class="navbar fixed-top navbar-light navbar-expand-md navigation-clean-search" style="padding:0px; margin-bottom:0px">
    <div class="container">
        <a class="navbar-brand" href="#">
            <em>spinr</em>
        </a>
    </div>
<i style="left:80%;" class="icon ion-android-notifications-none arrow buble note" title="Notifications"></i>
      <i [routerLink]="['../../me']" data-target="#newModal" data-toggle="modal" style="left:83%;" class="icon ion-ios-person-outline arrow buble" id="add" title="Me" ></i>
 
<div class="timeline lastdoc priscriber headerdp small-dp user-dp"style="left:90%;position:absolute;height:30px;width:30px;top:5px; margin-bottom:0px;"> <img style='height:100%; width:100%; object-fit:cover;' [src] = getMyDp()/></div>
  </nav>
<div style="padding-top:40px" class="container history-container">
    <div class="row history-row">
        <div *ngIf='!patient._id' class='issue'>
            <div *ngIf='loading' class="lds-css ng-scope">
            <div style="width:100%;height:100%" class="lds-rolling"><div></div></div></div>
            <div (click) = refresh()  *ngIf='message' title='Refresh' class='refresh'><i class="icon ion-ios-reload "></i></div>
             <h6 *ngIf='message' style='font-size:13px;position:absolute;top:65%; width:100%; color:lightgrey;text-align: center' >{{message}}</h6>
         </div>
        <div *ngIf='patient._id' class="col col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card-colums leftcolumn">
                <div class="card card-secondary historycard leftcard">
                    <div class="card-body infobody">
                        <div class="carditem">
                            <div class="timeline detailstimeline"><i class="icon ion-ios-person-outline deticon"></i></div>
                            <h6 class="dept detailshead">PERSONAL INFO</h6>
                            <p class="dept previnfo">Age:&nbsp;<span class="predata">{{patient.info.personal.dob|dob}}</span></p>
                            <p class="dept previnfo">Gender:&nbsp;<span class="predata">{{patient.info.personal.gender}}</span></p>
                            <p class="dept previnfo">Blood Group:&nbsp;<span class="predata">O+</span></p>
                            <p class="dept previnfo">Marital Status:&nbsp;<span class="predata">{{patient.info.personal.mstatus}}</span></p>
                            <p class="dept previnfo">Occupation:&nbsp;<span class="predata">{{patient.info.personal.occupation}}</span></p>
                            <p class="dept previnfo">Religion:&nbsp;<span class="predata">{{patient.info.personal.religion}}</span></p>
                            <p class="dept previnfo">Tribe:&nbsp;<span class="predata">{{patient.info.personal.tribe}}</span></p>
                            <p class="dept previnfo">Card Type:&nbsp;<span class="predata">{{patient.info.personal.cardType}}</span></p>
                            <p class="dept previnfo">Card No:&nbsp;<span class="predata">{{patient.info.personal.cardNum}}</span></p>
                        </div>
                        <div class="carditem">
                            <div class="timeline detailstimeline"><i class="icon ion-ios-location-outline deticon"></i></div>
                            <h6 class="dept detailshead">CONTACT</h6>
                            <p class="dept previnfo">Mobile:&nbsp;<span class="predata">
                              {{patient.info.contact.me.mobile}}</span></p>
                            <p class="dept previnfo">Email:&nbsp;<span class="predata">
                              {{patient.info.contact.me.email}}</span></p>
                            <p class="dept previnfo">Address:&nbsp;<span class="predata">
                              {{patient.info.contact.me.address}}</span></p>
                            <p class="dept previnfo">State:&nbsp;<span class="predata">
                              {{patient.info.contact.me.state}}</span></p>
                            <p class="dept previnfo">LGA:&nbsp;<span class="predata">
                              {{patient.info.contact.me.lga}}</span></p>
                        </div>
                        <div class="carditem">
                            <div class="timeline detailstimeline"><i class="icon ion-ios-pulse deticon"></i></div>
                            <h6 class="dept detailshead">EMERGENCY</h6>
                            <p class="dept previnfo">Name&nbsp;<span class="predata">
                              {{patient.info.contact.emergency.name}}</span></p>
                            <p class="dept previnfo">Mobile:&nbsp;<span class="predata">
                              {{patient.info.contact.emergency.mobile}}</span></p>
                            <p class="dept previnfo">Email:&nbsp;<span class="predata">amina@gmail.com</span></p>
                            <p class="dept previnfo">Relashionship:&nbsp;<span class="predata">
                              {{patient.info.contact.emergency.rel}}</span></p>
                            <p class="dept previnfo">Address:&nbsp;<span class="predata">
                              {{patient.info.contact.emergency.address}}</span></p>
                        </div>
                    </div>
                </div>
                <div class="card card-secondary historycard leftcard deathinfo">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">HEALTH INSURANCE</h1>
                    </div>
                    <div class="card-body rightcardbody">
                        <h1  style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO RECORD</h1>
                        <div class="carditem"></div>
                    </div>
                </div>
                <div class="card card-secondary historycard leftcard visits">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">VISITS</h1>
                    </div>
                    <div class="card-body rightcardbody">
                        <h1 style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO RECORD</h1>
                          <div class="carditem">
                             
                              <!-- <div class="carditem priscriptioncontainer order">
                                  <div class="timeline condition drugtimeline">
                                      <p class="timelinedate">10</p>
                                      <p class="timelinedate month">FEB</p>
                                  </div>
                                  <div class="priscription drug side-item">
                                      <h6 class="dept">GOPD&nbsp;<span class="timetaken dischargedon">05/10/2018 02:30pm</span></h6>
                                      <div class="timeline lastdoc priscriber headerdp seenby"> </div>

                                     
                                  </div>

                              </div> -->
                              <!-- <div class="carditem priscriptioncontainer order">
                                  <div class="timeline condition drugtimeline">
                                      <p class="timelinedate">25</p>
                                      <p class="timelinedate month">DEC</p>
                                  </div>

                                  <div class="priscription drug side-item">
                                      <h6 class="dept">Family Medicine&nbsp;<span class="timetaken dischargedon">05/10/2018 02:30pm</span></h6>
                                      <div class="timeline lastdoc priscriber headerdp seenby"></div>

                                      
                                      <div class="timeline lastdoc priscriber headerdp seenby"></div>

                                      
                                  </div>
                              </div> -->
                              <!-- <div class="carditem priscriptioncontainer order">
                                  <div class="timeline condition drugtimeline">
                                      <p class="timelinedate">09</p>
                                      <p class="timelinedate month">JAN</p>
                                  </div>

                                  <div class="priscription drug">
                                      <h6 class="dept">Maternity&nbsp;<span class="timetaken dischargedon">05/10/2018 02:30pm</span></h6>
                                    <div class="timeline lastdoc priscriber headerdp seenby">

                                      </div>
                                  </div>
                              </div> -->
                              <!-- <div class="carditem priscriptioncontainer order">
                                  <div class="timeline condition drugtimeline">
                                      <p class="timelinedate">09</p>
                                      <p class="timelinedate month">JAN</p>
                                  </div>

                                  <div class="priscription drug">
                                      <h6 class="dept">Padiatrics&nbsp;<span class="timetaken dischargedon">05/10/2018 09:50am</span></h6>
                                      <div class="timeline lastdoc priscriber headerdp seenby">

                                      </div>
                                  </div>
                              </div> -->
                          </div>
                      </div>
                </div>
                <div class="card card-secondary historycard leftcard deathinfo">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">DEATH INFORMATION</h1>
                    </div>
                    <div class="card-body rightcardbody">
                        <h1 style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO RECORD</h1>
                        <div class="carditem"></div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf='patient._id' class="col col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="card-colums">
                <div class="card card-secondary historycard midlecard graphcard">
                    <div class="card-body notecardbody">
                        <div class="carditem noteitem writeup">
                            <div class="timeline noter patientdp">
                             <img style='height:100%; width:100%; object-fit:cover; border-radius:4px;' [src] = getDp(patient.info.personal.avatar)/>
                            </div>
                             <h1 class="dept previnfo noterinfo patientname">
                               {{patient.info.personal.firstName + ' '+ patient.info.personal.lastName}} &nbsp;<span style ='left:73%' class="predata notetime">{{patient.createdAt|date:'longDate'}}</span><span class="predata notetime" style='left:90%' >{{patient.createdAt|date:'hh:mma'|lowercase}}</span></h1>
                          <h1 class="dept previnfo patientname">Gender:&nbsp;<span class="predata">{{patient.info.personal.gender}}</span></h1>
                            <h1 class="dept previnfo patientname">Age:&nbsp;<span class="predata">{{patient.info.personal.dob|dob}}</span></h1>
                            <h1 class="dept previnfo patientname">Blood Group:&nbsp;<span class="predata">O+</span></h1>
                        </div>
                        <div class="progress bpmesure dystoprogress">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">30%</div>
                        </div>
                        <div class="progress bpmesure">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">55%</div>
                        </div>
                        <h1 class="dept systolic">Blood Presure:</h1>
                        <h1 class="dept systolic dystolic">Blood Sugar:</h1>
                    </div>
                </div>
                <div class="card card-secondary historycard midlecard graphcard">
                    <div style='border-top-right-radius:12px;border-top-left-radius:12px;' class="card-header grapheader">
                        <h1 class="dept headtitle">NOTES</h1>
                    </div>
                    <div class="card-body notecardbody">
                        <h1 *ngIf='!patient.record.notes.length' style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO NOTES</h1>
                        <div *ngFor = "let note of patient.record.notes;let i=index" class="carditem noteitem writeup">
                          <div style="position:absolute;left:-3%;" class="timeline lastdoc priscriber headerdp small-dp">
                            <img [src] = getDp(note.by.info.personal.avatar)/>
                          </div>
                            <h1 class="dept previnfo noterinfo">{{note.by.info.personal.firstName+' '+note.by.info.personal.lastName}}
                              <span style='color: lightgray;font-weight: normal' >
                                {{'|'+' '+ note.by.info.official.department}}</span>
                              <span class="predata notetime">
                                {{note.dateCreated|date:'dd/MM/y hh:mma'|lowercase}}</span></h1>
                            <p class="note-item">{{note.note}}<br>
                              <span *ngIf= "!compareNotes(i, note)" (click) = "readMore($event,i)" class="read-more"><a href="#">Read more</a></span>
                          </p>
                        </div>
                    </div>
                    <!-- <a href="#" class="card-link view-more">View 10 more<span><i class="icon ion-android-more-vertical thread-icon"></i></span></a> -->
                </div>
                <div class="card-group">
                    <div style='border-radius:12px' class="card card-secondary maincard halfcard">
                        <div style='border-top-right-radius:12px;border-top-left-radius:12px'  class="card-header grapheader">
                            <h1 class="dept headtitle">TESTS</h1>
                        </div>
                        <div style='height:100%;' class="card-body midcardbody">
                            <h1 style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO RECORD</h1>
                        </div>
                    </div>
                    <div style='border-radius:12px' class="card card-secondary maincard halfcard halfcard-right">
                        <div style='border-top-right-radius:12px;border-top-left-radius:12px' class="card-header grapheader">
                            <h1 class="dept headtitle">SCANNED FILES</h1>
                        </div>
                        <div style='height:100%;' class="card-body midcardbody">
                            <h1 *ngIf='!patient.record.scans.length'  style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO ATTACHMENTS</h1>
                            <div *ngFor='let scan of patient.record.scans' class="carditem scan-items">
                                <div class="card scan-thumnail"><a target="_blank" class="image-link" data-lightbox="scan"><img class="img-fluid" [src] = getImage(scan.name)></a></div>
                                 <i (click)='downloadImage(scan.name)'title = 'download' class="icon ion-ios-download-outline downloadicon"></i>
                                <h6 class="filename">{{scan.description}}</h6>
                                <div class="timeline condition drugtimeline">
                                    <p class="timelinedate">{{scan.dateCreated|date:'dd'}}</p>
                                    <p class="timelinedate month">{{scan.dateCreated|date:'MMM'|uppercase}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-secondary historycard midlecard topcard graphcard">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">VITALS</h1>
                    </div>
                    <div class="card-body topcardbody nopadding">
                        <h1 *ngIf='!chartData.length' style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO RECORD</h1>
                        <div *ngIf='chartData.length' style='padding-left:0%' class="carditem">
                          <canvas id="bpChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card card-secondary historycard midlecard topcard graphcard">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">BLOOD GLUCOSE</h1>
                    </div>
                    <div class="card-body topcardbody">
                        <h1 style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO RECORD</h1>
                        <div class="carditem"></div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf='patient._id' class="col col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card-colums rightcolumn">
                
                <div class="card card-secondary historycard rightcard allegies">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">FAMILY HISTORY</h1>
                    </div>
                    <div class="card-body rightcardbody">
                    <h1 *ngIf='!patient.record.allegies.length'   style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO RECORD</h1>
                        <div class="carditem">
                            <ul class="itemlist">
                                <li *ngFor = 'let allegy of patient.record.allegies'>{{allegy.allegy}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card card-secondary historycard rightcard conditions">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">COMPLAINS</h1>
                    </div>
                    <div style ="padding-left:5px;" class="card-body rightcardbody">
                    <h1 *ngIf='!patient.record.complains.length'   style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO RECORD</h1>
                          <div *ngFor ='let complain of patient.record.complains; let i = index' class="carditem">
                              <div style='border-left:0px;padding-right:10px;' class="carditem priscriptioncontainer order">
                                  <div class="timeline condition drugtimeline">
                                      <p class="timelinedate">{{complain[i].dateCreated|date:'dd'}}</p>
                                      <p class="timelinedate month">{{complain[i].dateCreated|date:'MMM'|uppercase}}</p>
                                  </div>
                                  <div style='border-bottom:1px solid whitesmoke;padding-bottom:4px;margin-bottom:0px' class="priscription drug side-item">
                                    <div *ngFor ='let issue of complain'>
                                      <p  class="dept complain">  {{issue.complain}}</p>
                                      <h6 style='margin-bottom:0px; bottom:3px;positio:relative;width:auto' class="dept priscriptiontime">{{issue.duration}}d</h6>
                                    </div>
                                  </div>
                              </div>
                            </div>
                      </div>
                </div>
                <div class="card card-secondary historycard rightcard conditions">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">CONDITIONS</h1>
                    </div>
                    <div style ="padding-left:5px;" class="card-body rightcardbody">
                    <h1 *ngIf='!patient.record.conditions.length'   style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO RECORD</h1>
                          <div *ngFor ='let condition of patient.record.conditions' class="carditem">
                              <div style='border-left:0px;padding-right:10px;' class="carditem priscriptioncontainer order">
                                  <div class="timeline condition drugtimeline">
                                      <p class="timelinedate">{{condition.dateCreated|date:'dd'}}</p>
                                      <p class="timelinedate month">{{condition.dateCreated|date:'MMM'|uppercase}}</p>
                                  </div >
                                  <div style='border-bottom:1px solid whitesmoke;padding-bottom:4px;margin-bottom:0px' class="priscription drug side-item">
                                      <p class="dept complain">{{condition.condition}}<span style='color:lightgrey;font-size:smaller;width:56%;position:absolute;text-align:right;'>05:20pm</span></p>
                                       <!-- <div style='margin:0px;display:inline-block' class="timeline lastdoc priscriber headerdp seenby">
                                          <img [src] = getDp(condition.by.info.personal.avatar)/>
                                      </div> -->
                                      <div class="timeline lastdoc priscriber headerdp  seenby">
                                          <img style='vertical-align:top' [src] = getDp(condition.by.info.personal.avatar)/>
                                      </div>
                                       <h1 style='position:absolute;left:22%;bottom:19px;' class="dept previnfo sec-info">
                                         <span class="predata">Dr.&nbsp; 
                                           {{condition.by.info.personal.firstName+' ' +condition.by.info.personal.lastName}}
                                        </span>
                                      </h1>
                                       <h1 style='position:absolute;left:22%;bottom:7px;color:lightgrey;' class="dept previnfo sec-info">
                                        {{condition.by.info.official.department}}</h1>
                                  </div>
                              </div>
                            </div>
                      </div>
                </div>
                <div class="card card-secondary historycard rightcard medication">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">MEDICATIONS</h1>
                    </div>
                    <div style ="padding-left:17px;" class="card-body rightcardbody">
                      <div  *ngFor="let medic of patient.record.medications; let i = index"  class="carditem priscriptioncontainer order">
                        <div style='left:-7.2%' class="timeline condition drugtimeline">
                            <p class="timelinedate"> {{medic[0]?.dateCreated|date:'dd'}}</p>
                            <p  class="timelinedate month"> {{medic[0]?.dateCreated|date:'MMM'|uppercase}}</p>
                        </div>
                        <div *ngFor ="let m of medic; let j= index" class="priscription drug">
                            <p class="dept">{{m.product.item.name}}<span class="predata">
                                {{m.product.item.mesure+m.product.item.unit}}</span>
                                <!-- <span style='color:lightgrey;font-size:smaller;width:56%;position:absolute;text-align:right;'>05:20pm</span> -->
                            </p>
                            <!-- <h6 class="dept previnfo">By&nbsp;<span class="predata"> Hassan Ali </span></h6> -->
                         </div>
                      </div>
                    </div>
                </div>
                <div class="card card-secondary historycard rightcard allegies">
                    <div class="card-header grapheader">
                        <h1 class="dept headtitle">ALLEGIES</h1>
                    </div>
                    <div class="card-body rightcardbody">
                      <h1 *ngIf='!patient.record.famHist.length' style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO RECORD</h1>
                        <div class="carditem">
                            <ul class="itemlist">
                                <li *ngFor = 'let history of patient.record.famHist'>{{history.condition}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
