


<div *ngIf='patients.length' class="modal fade" role="dialog" tabindex="-1" id="enroleModal" style="border-radius:12px;width:auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:480px;border-radius:0px;;padding-left:0px;padding-right: 0px;border-radius:12px;">
            <div class="modal-body" style="border-radius:0px;padding: 0px;border-radius:12px;">
                <div class="card card-secondary historycard midlecard profilecard" style="margin:auto;min-height:200px;border-radius:12px;">
                    <div style='padding-left: 30px;border-top-right-radius:12px;border-top-left-radius:12px;' class="card-header profileheader small-header">
                        <div style="left:23px" class="timeline lastdoc priscriber headerdp small-dp">
                            <img [src] = getDp(patients[curIndex].info.personal.avatar)/>
                        </div>
                        <a href="#" class="patien-name small-name">
                            {{patients[curIndex]?.info.personal.firstName + ' '+ patients[curIndex]?.info.personal.lastName}}<span class="small-headericon"></span>
                        </a>
                    </div>
                    <div style="width:54%;margin:auto" class="card-body orderbody">
                        <form (submit) = enrolePatient() style="top:15%; padding-left: 2%;margin-top:10px; padding-right: 2%;" class=" staffsform" >
                            <div class="form-group vitals-section address">
                                <label style='font-size:8px' for="department" class="labelss">DEPARTMENT</label>
                               <select [(ngModel)]=visit.dept style="font-size:11px;         "
                                  class=" patientdata status inputs dataInfo " name="department">              
                                    <option>EMERGENCY</option>
                                    <option>GOPD</option>
                                    <option>Maternity</option>
                                    <option>Padiatrics</option>
                                </select>
                            </div>
                             <div class="form-group vitals-section address">
                                <label style='font-size:8px' for="cardnumber" class="labelss">CARD NUMBER</label>
                                <input [(ngModel)]=card autocomplete="off"  type="text" name="cardnumber" placeholder= "scan patient card number" class="patientdata dystolic inputs dataInfo" style="font-size:11px;" />
                            </div>

                            <button (click)='reset()' id ='cancel' data-dismiss="modal" style="width: 57px; font-size: 10px; border-right: 0px; margin:15px 0px 15px 0px; position:relative; border-radius: 4px 0px 0px 4px;display:inline-block; left:37%" class="btn btn-sm btn-outline-primary inputs mainbtn" >CANCEL</button>
                            <button type ="submit"  style=" width: 95px; position:relative; outline: none; box-shadow: none; display:inline-block;  font-size: 10px;  margin:15px 0px 15px 0px; border-radius: 0px; border-top-right-radius:4px;border-bottom-right-radius:4px;left:37%" class="btn btn-sm btn-outline-primary inputs mainbtn" >ENROLE</button>
                        </form>
                    </div>
            </div>
        </div>
     </div>
  </div>
</div>



















  <nav class="navbar fixed-top navbar-light navbar-expand-md navigation-clean-search" style="padding:0px; margin-bottom:0px">
  <div class="container">
      <a class="navbar-brand" href="#">
          <em>MS</em>
      </a>
    
      <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav"></ul>
            <form class="top-searchform" target="_self">
              <div class="form-group">
                  <input [(ngModel)] = searchTerm #search (keyup)='searchPatient(searchTerm)' autocomplete = "off" style="border-radius:.999em;
                  width:80%;display:inline-block;
                  position:absolute;bottom:-2%;
                  background-color: rgb(243, 248, 247);
                  "
                  class="form-control"
                  type="search" name="search" id="search-field" placeholder="Search patient">
                  <i style='font-size:20px; top:5px;left:85%;position:relative;display:inline' class="icon ion-ios-search " title="Search"></i>
         <h6 style='font-size:12px;
                      left:98%;position:relative;display:inline-block;
                      color:grey;
                      font-weight:normal;'>Sort by: <span stye='cursor:pointer'(click)='showSortMenu()'>
                        {{nowSorting}}</span></h6>
          <div *ngIf=sortMenu style='position: absolute;
                      left:120%;
                      width:100px;top:6px;
                      height:110px'  class="menu">
            <ul class="actions primary">
                <li (click)='sortPatients("name")' class="action">A-Z</li>
                <li (click)='sortPatients("age")' class="action">Age</li>
                <li (click)='sortPatients("status")' class="action">Status</li>
                <li (click)='sortPatients("sex")' class="action">Gender</li>
                <li (click)='sortPatients("date")' class="action">Date added</li>
            </ul>
        </div>
     </div>          
    </form>
  </div>
</div>
  <i style="left:80%;" class="icon ion-android-notifications-none arrow buble note" title="Notifications"></i>
    <i [routerLink]="['./me']" data-target="#newModal" data-toggle="modal" style="left:83%;" class="icon ion-ios-person-outline arrow buble" id="add" title="Me" ></i>
    <div class="timeline lastdoc priscriber headerdp small-dp user-dp"style="left:90%;position:absolute;height:30px;width:30px;top:5px; margin-bottom:0px;"> <img style='height:100%; width:100%; object-fit:cover;' [src] = getMyDp()/></div>
</nav>

<div style="padding-top:60px" class="container">
        <div class="row">
        <div *ngIf='!patients.length' class='issue'>
            <div *ngIf='loading' class="lds-css ng-scope">
            <div style="width:100%;height:100%" class="lds-rolling"><div></div></div></div>
            <div (click)=refresh()  *ngIf='message' title='Refresh' class='refresh'><i class="icon ion-ios-reload "></i></div>
             <h6 *ngIf='message' style='font-size:13px;position:absolute;top:65%; width:100%; color:lightgrey;text-align: center' >{{message}}</h6>
         </div>
         <div  *ngFor="let patient of patients; let i=index"  class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div *ngIf = "patient.card.view === 'front'"  class="card card-secondary maincard">
                  <div style="border-radius:12px" class="card-header profileheader"><i class="icon ion-android-more-vertical headericon moreicon actions-icon"></i>
                      <div class="timeline lastdoc priscriber headerdp">
                          <img [src] = getDp(patient.info.personal.avatar)/>
                      </div>
                  </div>
                  <p (click)= 'switchToBack(i)' class="dept displayname">
                  {{patient.info.personal.firstName + ' ' + patient.info.personal.lastName}}<span class="predata editicon"></span></p>
                  <div class="card-body mainbody">
                      <div class="carditem basic-item">
                          <h6 class="dept basic-info">Sex</h6>
                          <h6 class="dept basic-info sex-info">
                              {{patient.info.personal.gender.charAt(0).toUpperCase()}}</h6>
                      </div>
                      <div class="carditem basic-item">
                          <h6 class="dept basic-info">Age</h6>
                          <h6 class="dept basic-info sex-info">{{patient.info.personal.dob|dob}}</h6>
                      </div>
                      <div class="carditem basic-item">
                         <h6 class="dept basic-info">Seen</h6>
                         <h6 class="dept basic-info sex-info">{{patient.record.visits.length}}</h6>
                      </div>
                      <div class="priscription basic-subinfo">
                          <div class="sub-container">
                              <h6 class="dept basic-secondary basic-value">
                                {{patient.record.visits[0].dept}}</h6>
                          </div>
                          <div class="sub-container">
                              <h6 class="dept basic-secondary basic-value">
                                {{patient.record.visits[0].visitedOn|date:'dd MMM hh:mma'|uppercase}}</h6>
                          </div>
                        </div>
                  </div>
                  <button data-toggle ='modal' data-target ='#enroleModal' (click) = "selectPatient(i)"  style=" width: 90px;font-size: 10px; height:27px;left:52%; bottom:7%;" class="btn btn-sm btn-outline-primary inputs mainbtn" >ENROLE</button>
              </div>

              <div  *ngIf = "patient.card.view == 'back'" class="card card-secondary maincard">
                    <i (click)='switchToFront(i)' style='font-size:19px;right:93%' title="Back" class="icon ion-android-arrow-back backIcon"></i>
                    <div class="card-body">
                        <div class="carditem">
                            <div class="timeline condition"><i class="icon ion-ios-person-outline deticon"></i></div>
                            <h6 class="dept firstheader">PERSONAL INFO</h6>
                            <p class="dept previnfo">Age:<span class="predata">&nbsp;25</span></p>
                            <p class="dept previnfo">Gender:<span class="predata">
                              {{patient.info.personal.gender}}</span></p>
                            <p class="dept previnfo">Blood Group:<span class="predata">&nbsp;O+</span></p>
                            <p class="dept previnfo">Marital Staus:<span class="predata">&nbsp;
                              {{patient.info.personal.mstatus}}</span></p>
                            <p class="dept previnfo">Religion:<span class="predata">&nbsp;
                              {{patient.info.personal.religion}}</span></p>
                            <p class="dept previnfo">Tribe:<span class="predata">&nbsp;
                              {{patient.info.personal.tribe}}</span></p>
                            <p class="dept previnfo">Occupation:<span class="predata">&nbsp;
                              {{patient.info.personal.occupation}}</span></p>
                        </div>
                        <div class="carditem">
                            <div class="timeline condition"><i class="icon ion-ios-location-outline deticon"></i></div>
                            <h6 class="dept firstheader">CONTACT</h6>
                            <p class="dept previnfo">State:<span class="predata">&nbsp;
                              {{patient.info.contact.me.lga}}</span></p>
                            <p class="dept previnfo">LGA:<span class="predata">&nbsp;Azare</span></p>
                            <p class="dept previnfo">Mobile:<span class="predata">&nbsp;
                              {{patient.info.contact.me.mobile}}</span></p>
                            <p class="dept previnfo">Email:<span class="predata">&nbsp;{{patient.info.contact.me.email}}</span></p>
                            <p class="dept previnfo">Address:<span class="predata">&nbsp;
                              {{patient.info.contact.me.address}}</span></p>
                        </div>

                    <div title ='Edit' class="floter"><i (click)=selectPatient(i) data-target="#newModal" data-toggle="modal" class="icon ion-edit flotericon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

