<div class="modal fade" role="dialog" tabindex="-1" id="newModal" style="border-radius:0px;width:auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:470px;border-radius:0px;;padding-left:0px;padding-right: 0px;">
                <div class="card-header grapheader">
                        <h1 class="dept headtitle">NEW PATIENT</h1>
                    </div>
            <div class="modal-body" style="border-radius:0px;padding-left:0px;padding-right: 0px;">
                <form style="position:relative; width:100%" novalidate  class="patientform" (submit)='submitRecord()'>
                    <div class="card card-secondary historycard midlecard profilecard" style="border-bottom:none;margin:0px;margin-right: 0px;width:95%;margin:auto; min-height: 150px;">
                        <div class="card-header grapheader" style="border:none;">
                            <!-- <h1 class="dept headtitle">PERSONAL INFORMATION </h1> -->
                        </div>
                        <div style="padding-top:10px;padding-left: 10px; padding-right: 10px;"  class="card-body topcardbody clientinfobody nopading">
                            <div style="width:49%; margin-top:7px;  margin-right: 5px; display:inline-block" class="form-group vitals-section formGroup" >
                              <div *ngIf="!url" (click)="picker.click()" class="dp-wrapper">
                                <div class="cover">

                                    <p>Add Photo</p>
                                </div>
                              </div>
                              <input style="position:absolute;display:none" (change) = fileSelected($event) #picker type ="file"  name="file"  class="patientdata dystolic inputs dataInfo" name="file" multipe ng2FileSelect [uploader] = uploader />
                              <div *ngIf='url' class="card scan-thumnail defaul-dp">
                                <a href="IMG-20180927-WA0000.jpg" target="_blank" class="image-link" data-lightbox="scan">
                                  <img [src]= url class="img-fluid" /></a>
                              </div>
                                <input [(ngModel)]="info.personal.firstName" autocomplete="off"  type="text" name="fname" class="form-control patientdata inputs dataInfo" placeholder="Enter First Name"/>
                            </div>
                            <div style="width:49%; margin-top:5px; display:inline-block" class="form-group vitals-section formGroup">
                                <label for="complain" class="labelss complain">LAST NAME</label>
                                <input [(ngModel)]="info.personal.lastName" autocomplete="off"  type="text" name="lname" class="form-control patientdata inputs dataInfo"   placeholder="Enter Last Name">
                            </div>
                            <div style="width:49%; margin-top:5px;  margin-right: 7px; display:inline-block" class="form-group vitals-section formGroup" >
                                <label for="gender" class="labelss complain">GENDER</label>
                                <select [(ngModel)]="info.personal.gender"  class=" patientdata status inputs dataInfo " name="gender" >
                                        <option>Male</option>
                                        <option>Female</option>
                                  </select>
                            </div>
                            <div style="width:49%; margin-top:5px; display:inline-block" class="form-group vitals-section formGroup">
                                <label for="dob" class="labelss complain">DATE OF BIRTH</label>
                                <input [(ngModel)]="info.personal.dob"  type="date" name="dob" class="patientdata inputs dataInfo"  placeholder="">
                            </div>
                            <div style="width:49%; margin-top:5px;  margin-right: 7px; display:inline-block" class="form-group vitals-section formGroup" >
                                <label for="mstatus" class="labelss complain">MARITAL STATUS</label>
                                <select [(ngModel)]="info.personal.mstatus" class=" patientdata status inputs dataInfo " name="mstatus" id="">
                                        <option>Married</option>
                                        <option>Single</option>
                                  </select>
                            </div>
                            <div style="width:49%; margin-top:5px; display:inline-block" class="form-group vitals-section formGroup">
                                <label for="bgroup" class="labelss complain">OCCUPATION</label>
                                <select [(ngModel)]="info.personal.occupation" class="patientdata status inputs dataInfo " name="bgroup" id="">
                                        <option>Civil Servant</option>
                                        <option>Entreprenure</option>
                                        <option>Farmer</option>
                                        <option>House wife</option>
                                        <option>Applicant</option>
                                        <option>Student</option>
                                </select>
                            </div>
                            <div style="width:49%; margin-top:5px;  margin-right: 7px; display:inline-block" class="form-group vitals-section formGroup" >
                                <label for="mstatus" class="labelss complain">RELIGION</label>
                                <select [(ngModel)]="info.personal.religion" class=" patientdata status inputs dataInfo " name="mstatus" id="">
                                        <option>Islam</option>
                                        <option>Christianity</option>
                                        <option>Others</option>
                                </select>
                            </div>
                            <div style="width:49%; margin-top:5px; display:inline-block" class="form-group vitals-section formGroup">
                                <label for="bgroup" class="labelss complain">TRIBE</label>
                                <select [(ngModel)]="info.personal.tribe" class="patientdata status inputs dataInfo " name="bgroup" >
                                        <option>Hausa</option>
                                        <option>Fulani</option>
                                        <option>Igbo</option>
                                        <option>Yoruba</option>
                                        <option>Tiv</option>
                                </select>
                            </div>
                            <div style="width:49%; margin-top:5px;  margin-right: 7px; display:inline-block" class="form-group vitals-section formGroup" >
                                <label for="cardtype" class="labelss complain">CARD TYPE</label>
                                <select [(ngModel)]="info.personal.cardType" class=" patientdata status inputs dataInfo " name="cardtype">
                                        <option>Standard</option>
                                        <option>Classic</option>
                                        <option>Silver</option>
                                        <option>Gold</option>
                                  </select>
                            </div>
                            <div style="width:49%; margin-top:5px; display:inline-block" class="form-group vitals-section formGroup">
                                <label for="cardnumber" class="labelss complain">CARD No.</label>
                                <input [(ngModel)]="info.personal.cardNum" type="text" name="cardnumber" class="patientdata inputs dataInfo"   placeholder="Enter card number  ">
                            </div>
                        </div>
                    </div>
                    <div class="card card-secondary historycard midlecard deptcard" style="width:95%;margin:auto; border-bottom:none; min-height: 120px">
                        <div class="card-header grapheader" style="border:none;">
                            <h1 class="dept headtitle">CONTACT INFORMATION</h1>
                        </div>
                        <div style="padding-left: 10px; padding-right: 10px;"  class="card-body topcardbody clientinfobody nopading">
                            <div style="width:49%; margin-top:5px;  margin-right: 7px; display:inline-block" class="form-group vitals-section formGroup" >
                                <label for="phone" class="labelss">PHONE</label>
                                <input [(ngModel)]="info.contact.mobile" type="phone" name="phone" class="form-control inputs dataInfo patientdata" />
                            </div>
                            <div style="width:49%; margin-top:5px; display:inline-block" class="form-group vitals-section formGroup">
                                <label for="mail" class="labelss">EMAIL</label>
                                <input [(ngModel)]="info.contact.email"  type="email" name="mail" class="form-control dystolic inputs dataInfo patientdata" />
                            </div>
                            <div style="width:49%; margin-top:5px;  margin-right: 7px; display:inline-block" class="form-group vitals-section formGroup" >
                                <label for="state" class="labelss complain">STATE</label>
                                <select [(ngModel)]="info.contact.state" class="patientdata status inputs dataInfo " name="state" id="">
                                        <option>Abia</option>
                                        <option>Anambra</option>
                                        <option>Adamawa</option>
                                        <option>Akwa Ibom</option>
                                        <option>Bauchi</option>
                                        <option>Bayelsa</option>
                                        <option>Taraba</option>
                                    </select>
                            </div>
                            <div style="width:49%; margin-top:5px; display:inline-block" class="form-group vitals-section formGroup">
                                <label for="lga" class="labelss complain">LGA</label>
                                <select [(ngModel)]="info.contact.lga" class="patientdata status inputs dataInfo " name="lga">
                                        <option>Karim Lamido</option>
                                        <option>Sardauna</option>
                                        <option>Ussa</option>
                                        <option>Bali</option>
                                        <option>Mutum Biyu</option>
                                        <option>Wukari</option>
                                    </select>
                            </div>
                            <div class="form-group vitals-section address">
                                <label for="address" class="labelss">ADDRESS</label>
                                <input placeholder="Residential Address" [(ngModel)]="info.contact.address" type="text" name="address" class="form-control patientdata dystolic inputs dataInfo"/>
                            </div>
                        </div>
                    </div>
                    <div class="card card-secondary historycard midlecard formcard" style="min-height: 100px; border-bottom:none; width: 95%; margin:auto">
                        <div class="card-header grapheader" style="border:none;">
                            <h1 class="dept headtitle">EMERGENCY CONTACT</h1>
                        </div>
                        <div style="padding-left: 10px; padding-right: 10px;" class="card-body topcardbody clientinfobody nopading" >
                            <div style="width:49%;  margin-top:5px;  margin-right: 7px; display:inline-block" class="form-group vitals-section formGroup" >
                                <label for="firstName" class="labelss complain">NAME</label>
                                <input [(ngModel)]="info.contact.emgName" type="text" name="fname" class="form-control patientdata inputs dataInfo" id="" placeholder="Enter full name"/>
                            </div>
                            <div style="width:49%; margin-top:5px; display:inline-block" class="form-group vitals-section formGroup">
                                <label for="contactphone" class="labelss duration">MOBILE</label>
                                <input [(ngModel)]="info.contact.emgMobile" type="phone" name="contactphone" class="form-control dystolic inputs dataInfo patientdata" id="" placeholder="Mobile">
                            </div>
                            <div style="width:49%; margin-top:5px;  margin-right: 5px; display:inline-block" class="form-group vitals-section formGroup" >
                                <label  for="emgrel" class="labelss">RELATIONSHIP</label>
                                <select [(ngModel)]="info.contact.emgRel" class=" status inputs dataInfo patientdata" name="emgrel">
                                    <option>Parent</option>
                                    <option>Spouse</option>
                                    <option>Sibling</option>
                                    <option>Freind</option>
                                </select>
                            </div>
                            <div style="width:49%; margin-top:5px; display:inline-block" class="form-group vitals-section formGroup">
                                <label  for="emgoccupation" class="labelss">OCCUPATION</label>
                                <select [(ngModel)]="info.contact.emgOccupation" class="status inputs dataInfo patientdata " name="emgoccupation">
                                    <option>Civil Servant</option>
                                    <option>Entreprenure</option>
                                    <option>Farmer</option>
                                    <option>House Wife</option>
                                    <option>Applicant</option>
                                    <option>Student</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card card-secondary historycard midlecard formcard" style="width:95%; margin: auto; min-height:200px">
                        <div class="card-header grapheader" style="border:none;">
                            <h1 class="dept headtitle">MEDICAL INSURANCE</h1>
                        </div>
                        <div style="padding-top:10px; padding-left: 10px;padding-right: 10px"  class="card-body topcardbody clientinfobody nopading" >

                        <div style="width:49%; margin-top:5px;  margin-right: 5px; display:inline-block" class="form-group vitals-section formGroup" >
                            <label for="holdername" class="labelss">HOLDER'S NAME</label>
                            <input [(ngModel)]="info.insurance.name" type="text" name="holdername" class="form-control inputs dataInfo patientdata" id="" placeholder="Full Name">
                        </div>
                        <div style="width:49%; margin-top:5px; display:inline-block" class="form-group vitals-section formGroup">
                            <label  for="rel" class="labelss">RELATIONSHIP</label>
                            <select [(ngModel)]="info.insurance.rel" class=" status inputs dataInfo patientdata " name="rel">
                                <option>Self</option>
                                <option>Spouse</option>
                                <option>Sibling</option>
                            </select>
                        </div>
                        <div style="width:49%; margin-top:5px;  margin-right: 7px; display:inline-block" class="form-group vitals-section formGroup" >
                                <label  for="rel" class="labelss">EMPLOYER</label>
                                <input [(ngModel)]="info.insurance.employer" type="text" name="employer" class="form-control inputs dataInfo patientdata" id="" placeholder="e.g National hospital">
                        </div>
                        <div style="width:49%; margin-top:5px; display:inline-block" class="form-group vitals-section formGroup">
                            <label for="holdername" class="labelss">SOCIAL SECURITY</label>
                            <input [(ngModel)]="info.insurance.ssn" type="text" name="holdername" class="form-control inputs dataInfo patientdata" id="" placeholder="Social Security Number"/>
                        </div>
                      </div>
                    </div>
                    <i class="fa fa-circle-o-notch editicon continue blocked-icon fa-spin" style="font-size:15px;"></i>
                    <button style=" width: 130px; left:293px; bottom:5%; "  type="submit" class="btn btn-sm btn-outline-primary inputs mainbtn" >
                            <i class="fa fa-circle-o-notch editicon continue blocked-icon fa-spin" style="font-size:15px;"></i>
                        Save Record</button>
                    <button style="width: 61px; left:230px; bottom:5%;" class="btn btn-sm btn-outline-primary inputs mainbtn" >Cancel</button>

                  </form>
            </div>
        </div>
    </div>
  </div>




<div class="sidenav">
    <a href="#" class="home homemenu" title="Menu">
        <span class="homespan">
            <i class="material-icons homeicon">sort</i>
        </span>
    </a>

    <a href="#" [routerLink]="['/pharmacy']"  class="home dashboard" title="Dashboard">
        <span class="homespan">
            <i class="icon ion-android-apps homeicon"></i>
        </span>
    </a>
    <a href="#" [routerLink]="['/information']" routerLinkActive="router-link-active"  class="home patienmenu" title="Patients">
        <span class="homespan">
            <i class="icon ion-ios-people-outline homeicon"></i>
        </span>
    </a>
    <a href="#" [routerLink]="['/consultation']" routerLinkActive="router-link-active"  class="home reviewmenu" title="Appointments">
        <span class="homespan">
            <i class="icon ion-ios-calendar-outline homeicon"></i>
        </span>
    </a>
    <a href="#" [routerLink]="['/products']" routerLinkActive="active"  class="home cartmenu" title="Products">
        <span class="homespan"> <i class="icon ion-ios-cart-outline homeicon"></i></span></a>

    <a href="#" [routerLink]="['/ward']" routerLinkActive="router-link-active"   class="home wardmenu" title="Ward"><span class="homespan"><i class="material-icons homeicon wardicon">airline_seat_individual_suite</i></span></a>

    <a href="#"  [routerLink]="['/account']" routerLinkActive="router-link-active" class="home settings" title="Settings"><span class="homespan"><i class="icon ion-ios-gear-outline homeicon"></i></span></a>


  </div>
  <nav class="navbar fixed-top navbar-light navbar-expand-md navigation-clean-search" style="padding:0px; margin-bottom:0px">
  <div class="container">
      <a class="navbar-brand" href="#">
          <em>MS</em>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav"></ul>
          <form class="form-inline mr-auto searchform" target="_self">
              <div class="form-group">
                  <label style="left:500px;position:absolute;"  for="search-field">
                      <i class="icon ion-ios-search searchicon" title="Search"></i>
                  </label>
                  <input [(ngModel)] = searchTerm #search (keyup)='searchPatient(searchTerm)' autocomplete = "off" style="border-radius:30px;
                  left: 270px;
                  width:220px;
                  background-color: rgb(243, 248, 247);
                  margin: auto;"
                  class="form-control search-field"
                  type="search" name="search" id="search-field" placeholder="Search patient">
              </div>
          </form>
          <h6 style='font-size:12px;
                      left:780px;position:absolute;
                      color:grey;
                      font-weight:normal;'>Sort by: <span stye='cursor:pointer'(click)='showSortMenu()'>
                        {{nowSorting}}</span></h6>
          <div *ngIf=sortMenu style='position: absolute;
                      left:824px;
                      width:100px;top:6px;
                      height:110px'  class="menu">
            <ul class="actions primary">
                <li (click)='sortPatients("name")' class="action">A-Z</li>
                <li (click)='sortPatients("age")' class="action">Age</li>
                <li (click)='sortPatients("status")' class="action">Status</li>
                <li (click)='sortPatients("sex")' class="action">Gender</li>
                <li (click)='sortPatients("date")' class="action">Date added</li>
            </ul>
        </div>
      </div>
  </div>
  <i style="left:80%;" class="icon ion-android-notifications-none arrow buble note" title="Notifications"></i>

  <i [routerLink]="['/messages']" data-target="#newModal" data-toggle="modal" style="left:83%;" class="icon ion-ios-person-outline arrow buble" id="add" title="My Account" ></i>
 <i  style="left:75%;" class="icon ion-ios-plus-empty arrow buble" id="add" title="New Patient" data-target="#newModal" data-toggle="modal"></i>
  <div class="timeline lastdoc priscriber headerdp small-dp user-dp"style="left:90%;position:absolute;height:30px;width:30px;bottom:-8%"></div>
  </nav>

<div style="padding-top:60px" class="container">
        <div class="row">
            <div  *ngFor="let patient of patients; let i=index"  class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div *ngIf = "patient.card.view == 'front'"  class="card card-secondary maincard">
                  <div class="card-header profileheader"><i class="icon ion-android-more-vertical headericon moreicon actions-icon"></i>
                      <div class="timeline lastdoc priscriber headerdp">
                          <div style='background:lightgrey' *ngIf='patient.info.status==="queued"' class="indicator"></div>
                          <div style='background:yellow' *ngIf='patient.info.status==="admitted"' class="indicator"></div>
                          <div *ngIf='patient.info.status==="discharged"' class="indicator"></div>
                          <div  style='background:red' *ngIf='patient.info.status==="gone"' class="indicator"></div>
                          <img [src] = getDp(patient)/>
                      </div>
                  </div>
                  <p (click)= 'switchToBack(i)' class="dept displayname">
                  {{patient.info.personal.firstName + ' '+ patient.info.personal.lastName}}<span class="predata editicon"></span></p>
                  <div class="card-body mainbody">
                      <div class="carditem basic-item">
                          <h6 class="dept basic-info">Sex</h6>
                          <h6 class="dept basic-info sex-info">
                              {{patient.info.personal.gender.charAt(0).toUpperCase()}}</h6>
                      </div>
                      <div class="carditem basic-item">
                          <h6 class="dept basic-info">Age</h6>
                          <h6 class="dept basic-info sex-info">{{patient.info.personal.dob|dob}}</h6>
                      </div>
                      <div class="carditem basic-item">
                          <h6 class="dept basic-info">Bed</h6>
                          <h6 class="dept basic-info sex-info">5</h6>
                      </div>
                      <div class="priscription basic-subinfo">
                          <div class="sub-container">

                              <h6 class="dept basic-secondary basic-value">
                                {{patient.record.visits[0].dept}}</h6>
                          </div>
                          <div class="sub-container">

                              <h6 class="dept basic-secondary basic-value">
                                15/02/2019 04:50pm</h6>
                          </div>
                        </div>
                  </div>
              </div>

              <div  *ngIf = "patient.card.view == 'back'" class="card card-secondary maincard">
                    <i (click)='switchToFront(i)' style='font-size:19px;right:93%' title="Back" class="icon ion-android-arrow-back backIcon"></i>
                    <div class="card-body">
                        <div class="carditem">
                            <div class="timeline condition"><i class="icon ion-ios-person-outline deticon"></i></div>
                            <h6 class="dept firstheader">PERSONAL INFO</h6>
                            <p class="dept previnfo">Age:<span class="predata">&nbsp;25</span></p>
                            <p class="dept previnfo">Gender:<span class="predata">{{patient.info.personal.gender}}</span></p>
                            <p class="dept previnfo">Blood Group:<span class="predata">&nbsp;O+</span></p>
                            <p class="dept previnfo">Marital Staus:<span class="predata">&nbsp;{{patient.info.personal.mstatus}}</span></p>
                            <p class="dept previnfo">Religion:<span class="predata">&nbsp;{{patient.info.personal.religion}}</span></p>
                            <p class="dept previnfo">Tribe:<span class="predata">&nbsp;{{patient.info.personal.tribe}}</span></p>
                            <p class="dept previnfo">Occupation:<span class="predata">&nbsp;{{patient.info.personal.occupation}}</span></p>
                        </div>
                        <div class="carditem">
                            <div class="timeline condition"><i class="icon ion-ios-location-outline deticon"></i></div>
                            <h6 class="dept firstheader">CONTACT</h6>
                            <p class="dept previnfo">State:<span class="predata">&nbsp;{{patient.info.contact.lga}}</span></p>
                            <p class="dept previnfo">LGA:<span class="predata">&nbsp;Azare</span></p>
                            <p class="dept previnfo">Mobile:<span class="predata">&nbsp;{{patient.info.contact.mobile}}</span></p>
                            <p class="dept previnfo">Email:<span class="predata">&nbsp;{{patient.info.contact.email}}</span></p>
                            <p class="dept previnfo">Address:<span class="predata">&nbsp;{{patient.info.contact.address}}</span></p>
                        </div>
                        <!-- <div class="carditem">
                            <div class="timeline condition"><i class="icon ion-ios-pulse deticon"></i></div>
                            <h6 class="dept firstheader">EMERGENCY</h6>
                            <p class="dept previnfo">Name:<span class="predata">&nbsp;{{patient.info.contact.emgName}}</span></p>
                            <p class="dept previnfo">Relationship:<span class="predata">&nbsp;{{patient.info.contact.emgRel}}</span></p>
                            <p class="dept previnfo">Mobile:<span class="predata">&nbsp;{{patient.info.contact.emgMobile}}</span></p>
                            <p class="dept previnfo">Email:<span class="predata">&nbsp;amina@gamil.com</span></p>
                            <p class="dept previnfo">Address:<span class="predata">&nbsp;No. 25 Kofar wanbai, Azare</span></p>
                        </div>
                    </div> -->
                    <div title ='Edit' class="floter"><i (click)=selectPatient(i) data-target="#newModal" data-toggle="modal" class="icon ion-edit flotericon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

