
<div class="sidenav">
    <a href="#" class="home homemenu" title="Menu">
        <span class="homespan">
            <i class="material-icons homeicon">sort</i>
        </span>
    </a>

    <a href="#" [routerLink]="['/pharmacy']"  class="home dashboard" title="Dashboard">
        <span class="homespan">
            <i class="icon ion-android-apps homeicon"></i>
        </span>
    </a>
    <a href="#" [routerLink]="['/information']" routerLinkActive="router-link-active"  class="home patienmenu" title="Patients">
        <span class="homespan">
            <i class="icon ion-ios-people-outline homeicon"></i>
        </span>
    </a>
    <a href="#" [routerLink]="['/consultation']" routerLinkActive="router-link-active"  class="home reviewmenu" title="Appointments">
        <span class="homespan">
            <i class="icon ion-ios-calendar-outline homeicon"></i>
        </span>
    </a>
    <a href="#" [routerLink]="['/products']" routerLinkActive="active"  class="home cartmenu" title="Products">
        <span class="homespan"> <i class="icon ion-ios-cart-outline homeicon"></i></span></a>

    <a href="#" [routerLink]="['/ward']" routerLinkActive="router-link-active"   class="home wardmenu" title="Ward"><span class="homespan"><i class="material-icons homeicon wardicon">airline_seat_individual_suite</i></span></a>

    <a href="#"  [routerLink]="['/account']" routerLinkActive="router-link-active" class="home settings" title="Settings"><span class="homespan"><i class="icon ion-ios-gear-outline homeicon"></i></span></a>


  </div>
  <nav class="navbar fixed-top navbar-light navbar-expand-md navigation-clean-search" style="padding:0px; margin-bottom:0px">
  <div class="container">
      <a class="navbar-brand" href="#">
          <em>MS</em>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
      </button>

  </div>
  <i style="left:20%;" class="icon ion-android-notifications-none arrow buble note" title="Notifications"></i>

  <div class="timeline lastdoc priscriber headerdp small-dp user-dp"style="left:90%;position:absolute;height:30px;width:30px;bottom:-8%"></div>
  </nav>



<div class="row"style="padding-top:40px">
    <div class="col col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card-colums leftcolumn"></div>
    </div>
    <div class="col-xl-4 offset-xl-0 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="card-colums"></div>
        <div class="card card-secondary historycard midlecard profilecard" style="margin:auto;">
            <div class="card-header grapheader"style="border-radius:0px;">
                <h1 class="dept headtitle">ACCOUNT<span (click)="switchMode('infomode','edit')" *ngIf="infoChecked()" class="headeredit" title="Edit information">Edit</span></h1>
            </div>
            <div *ngIf="infomode==='view'" class="card-body topcardbody clientinfobody">
                <div  class="carditem">
                    <ul class="itemlist clientinfo">
                        <li (mouseover)=hovered(0) (mouseleave)=unhovered(0) >Hospital Name<span class="timetaken lastdept clientdata">
                          {{client.info.name}}
                            <input *ngIf="hovers[0]" type="checkbox" class="checkinfo" [(ngModel)]="checked[0]"/>
                        </span></li>
                        <li (mouseover)=hovered(1) (mouseleave)=unhovered(1)  >Ownership<span class="timetaken lastdept clientdata">{{client.info.ownership||'?'}} <input *ngIf="hovers[1]" type="checkbox" class="checkinfo" [(ngModel)]="checked[1]" /></span></li>
                        <li (mouseover)=hovered(2) (mouseleave)=unhovered(2)>Specialization<span class="timetaken lastdept clientdata">{{client.info.specialization||'?'}} <input *ngIf="hovers[2]" type="checkbox" class="checkinfo" [(ngModel)]="checked[2]" /></span></li>
                        <li (mouseover)=hovered(3) (mouseleave)=unhovered(3)>Mobile:<span class="timetaken lastdept clientdata">{{"+234"+client.info.mobile||'?'}} <input *ngIf="hovers[3]" type="checkbox" class="checkinfo" [(ngModel)]="checked[3]" /></span></li>
                        <li (mouseover)=hovered(4) (mouseleave)=unhovered(4)>Email<span class="timetaken lastdept clientdata">{{client.info.email||'?'}}<input *ngIf="hovers[4]" type="checkbox" class="checkinfo" [(ngModel)]="checked[4]" /></span></li>
                        <li (mouseover)=hovered(5) (mouseleave)=unhovered(5)>Address<span class="timetaken lastdept clientdata">{{client.info.address||'?'}}<input *ngIf="hovers[5]" type="checkbox" class="checkinfo" [(ngModel)]="checked[5]" /></span></li>
                        <li (mouseover)=hovered(6) (mouseleave)=unhovered(6)>Zip Code:<span class="timetaken lastdept clientdata">{{client.info.zipcode||'?'}}<input *ngIf="hovers[6]" type="checkbox" class="checkinfo" [(ngModel)]="checked[6]" /></span></li>
                        <li (mouseover)=hovered(7) (mouseleave)=unhovered(7)>State:<span class="timetaken lastdept clientdata">{{client.info.state||'?'}}<input *ngIf="hovers[7]" type="checkbox" class="checkinfo" [(ngModel)]="checked[7]" /></span></li>
                        <li (mouseover)=hovered(8) (mouseleave)=unhovered(8)>LGA<span class="timetaken lastdept clientdata">{{client.info.lga||'?'}}<input *ngIf="hovers[9]" type="checkbox" class="checkinfo" [(ngModel)]="checked[9]" /></span></li>
                        <li>Date Created:<span class="timetaken lastdept clientdata">March &nbsp;02, 2019</span></li>
                    </ul>
                </div>
            </div>
            <div *ngIf="infomode === 'edit'"  class="card-body topcardbody clientinfobody nopading">
                <div  class="form-group vitals-section">
                    <form>
                        <div class="formGroup newdept">
                            <input [(ngModel)]="client.info.name" *ngIf="checked[0]" name="name" class="form-control inputs patientdata" type="text" placeholder="Hospital name">
                            <select name="ownership" *ngIf="checked[1]" class=" patientdata inputs dataInfo newpatient" name="department">
                                <option >Private</option>
                                <option >Public</option>
                          </select>
                          <select *ngIf="checked[2]" class=" patientdata inputs dataInfo newpatient" name="department">
                                <option >Ohtopedics</option>
                                <option >General</option>
                          </select>
                            <input [(ngModel)]="client.info.mobile" *ngIf="checked[3]" name="mobile" class="form-control inputs patientdata" type="number" placeholder="Mobile">
                            <input [(ngModel)]="client.info.email" *ngIf="checked[4]" name="email" class="form-control inputs patientdata" type="email" placeholder="Email">
                            <input [(ngModel)]="client.info.address" *ngIf="checked[5]" name="address" class="form-control inputs patientdata" type="text" placeholder="Address">
                            <input [(ngModel)]="client.info.zipcode" *ngIf="checked[6]" name="zip" class="form-control inputs patientdata" type="number" placeholder="Zip code">
                        </div>
                    </form>
                   <button style=" width: 25%; left:70%; "  type="submit" class="btn btn-sm btn-outline-primary inputs mainbtn" >Save changes</button>
                   <button (click)="switchMode('infomode','view')" style="width: 15%; left:53%;"  type="submit" class="btn btn-sm btn-outline-primary inputs mainbtn" >Cancel</button>
              </div>
            </div>
        </div>
        <div class="card card-secondary historycard midlecard deptcard" style="margin:auto;">
            <div class="card-header grapheader" style="border:none;">
                <h1 class="dept headtitle">
                    DEPARTMENTS
                    <i (click)="switchMode('deptsmode','view')" style="left:-3%;font-size:18px;"  title="Back" class="icon ion-ios-arrow-back editicon editclient addinfo"></i>
                    <i (click)="switchMode('deptsmode','edit')" style="left:98%" class="icon ion-ios-plus-empty editicon editclient addinfo" title="Add department"></i>
                </h1>
            </div>
            <div class="card-body topcardbody" *ngIf="deptsmode === 'view'">
                <div class="carditem deptitem">
                    <div *ngFor="let department of client.departments let i = index;"   (click) = "switchToEditDept('deptsmode','edit',i)" title="Edit" class="department">
                        <i *ngIf="department.name === 'Information'" class="icon ion-information addicon infoicon" ></i>
                        <i *ngIf="department.name === 'GOPD'" class="icon ion-ios-people addicon infoicon consicon" ></i>
                        <i *ngIf="department.name === 'Pharmacy'" class="icon ion-ios-medkit addicon pharmicon"></i>
                        <i *ngIf="department.name === 'Maternity'" class="material-icons addicon infoicon maticon" title="Add Department">pregnant_woman</i>
                          <h6 class="deptname">{{department.name}}</h6>
                      </div>
                  </div>
            </div>
            <div style='min-height:150px;' *ngIf="deptsmode === 'edit'" class="card-body topcardbody clientinfobody nopading">
              <form style='height:150px;'>
                <div class="formGroup newdept">
                    <label style='font-size:8px'  for="email" class="labelss">DEPARTMENT</label>
                    <select style='font-size:11px' (change)=checkDept($event.target.value)  class=" patientdata inputs dataInfo newpatient" name="department">
                          <option *ngFor="let dept of departments">{{dept.name}}</option>
                    </select>
                </div>

                <div *ngIf="selectedDept.hasWard" class="formGroup newdept">
                    <label style='font-size:8px'  for="email" class="labelss">#BEDS</label>
                    <input [min]='0' [(ngModel)]="bedNumber"  name="numofBeds" class="form-control inputs patientdata" type="number" placeholder="Number of beds">
                </div>
              </form>
              <div (click)="addDepartment()"  style='left:78%; height:32px;width:32px;position:absolute;'
                       title ='Update departments' class="floter">
                        <i *ngIf='loading'  class="fa fa-circle-o-notch fa-spin fa-10x slow-spin" style="position:absolute;bottom:5px;left:5px;font-size:20px;color: #1da1f2;">
                        </i>
                       <i *ngIf='!loading' style="color:#1da1f2;bottom:-10px;" class="icon ion-ios-checkmark-empty flotericon">
                      </i>
                </div>

        </div>
        <div class="card card-secondary historycard midlecard formcard" style="margin:auto;">
            <div class="card-header grapheader" style="border:none;">
                <h1 class="dept headtitle">STAFFS<i (click)="switchMode('staffmode','newstaff')" style="left:98%" class="icon ion-ios-plus-empty editicon editclient addinfo" title="Add staff"></i></h1>
            </div>
            <div class="card-body topcardbody clientinfobody nopading">
                <div *ngIf="staffmode === 'view'"  class="form-group vitals-section setGroup">
                  <table *ngIf="client.staffs.length"  cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. " >
                   <thead class='productHead'>
                       <tr class="staff-th">
                           <th  class="headlbl staff-th"></th>
                           <th class="headlbl staff-th">NAME</th>
                           <th class="headlbl staff-th">DEPARTMENT</th>
                           <th class="headlbl staff-th">USERNAME</th>
                           <th class="headlbl staff-th"  style="text-align: center">PASSWORD</th>
                           <th class="headlbl headlbl staff-th"  style="text-align: center"></th>
                       </tr>
                   </thead>
                   <tbody>
                      <tr *ngFor="let staff of client.staffs; let i = index; let odd =odd;"  class="ro staff-row">
                          <td class="staff-td data">
                                <!-- <div style='height:17px:width:17px' class="timeline lastdoc priscriber headerdp ">
                                        <img [src] = getDp(staff)/>
                                    </div> -->
                            <!-- <div class="dp staff-dp" >
                                    <img [src] = getDp(staff)/>
                            </div> -->
                          </td>
                          <td style="padding-left:4px;" class="data">
                            {{staff.info.personal.firstName + ' ' + staff.info.personal.lastName}}</td>
                          <td class="data">{{staff.info.official.department}}</td>
                          <td class="data">{{staff.info.personal.username}}</td>
                          <td class="data" style="text-align:center">
                            {{staff.info.personal.password}}</td>
                          <td style="text-align: left; padding-left:3px" class="data" >
                            <i (click)="selectStaff(staff)"  class="icon ion-edit tableicon " title="Edit" style="color:rgb(149, 149, 149);font-size:14px; top:32px; right: 22px;position:absolute; cursor: pointer;"></i>
                            <i (click)="deleteStaff(staff)"  class="icon ion-ios-trash-outline tableicon" title="Drop" style="font-size:17px; cursor: pointer;"></i>
                          </td>
                      </tr>
                  </tbody>
                </table>
           </div>
           <div *ngIf="staffmode === 'newstaff'"  class="form-group vitals-section">
           <form style='height:150px;'>
              <div class="formGroup newdept">
                <label style='font-size:8px'  for="firstName" class="labelss">FIRST NAME</label>
                <input style='font-size:11px' name="firstname" [(ngModel)]="staff.info.personal.firstName" class=" form-control inputs patientdata newpatient" type="text" placeholder="First name"/>
              </div>
              <div class="formGroup newdept">
                    <label style='font-size:8px'  for="lastName" class="labelss">LAST NAME</label>
                    <input style='font-size:11px' [(ngModel)]="staff.info.personal.lastName" name="lastname" class="form-control inputs patientdata newpatient" type="text" placeholder="Last name"/>
              </div>
              <div class="formGroup newdept">
                    <label style='font-size:8px'  for="mobile" class="labelss">MOBILE</label>
                    <input style='font-size:11px' [(ngModel)]="staff.info.contact.me.mobile" name="mobile" class="form-control inputs patientdata newpatient" type="text" placeholder="Mobile"/>
              </div>
              <div class="formGroup newdept">
                    <label style='font-size:8px'  for="departments" class="labelss">DEPARTMENT</label>
                    <select (change)='checkStaff($event.target.value)' style='font-size:11px'   class="patientdata inputs dataInfo newpatient" name="department">
                       <option *ngFor="let d of client.departments">{{d.name}}</option>
                </select>
            </div>
            <div *ngIf="selectedDept2.hasWard"  class="formGroup newdept">
                    <label style='font-size:8px'  for="role" class="labelss">DESIGNATION</label>
                    <select [(ngModel)]="staff.info.official.role" class="patientdata inputs dataInfo newpatient" name="role">
                      <option>Doctor</option>
                      <option>Nurse</option>
                    </select>
            </div>
          </form>
          <div (click)="addStaff()"  style='left:78%; height:32px;width:32px;position:absolute;'
          title ='Save changes' class="floter">
                <i *ngIf='loading'  class="fa fa-circle-o-notch fa-spin fa-10x slow-spin" style="position:absolute;bottom:5px;left:5px;font-size:20px;color: #1da1f2;"> </i>
               <i *ngIf='!loading' style="color:#1da1f2;bottom:-10px;" class="icon ion-ios-checkmark-empty flotericon"></i>
          </div>

          </div>

          </div>
        </div>


    </div>
    <div class="col col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card-colums rightcolumn"></div>
    </div>
</div>
