.close:hover {
    color: black;
}

.flotericon.consulticon {
    font-size: 17px;
}

.reginfo {
    font-size: 10px;
}

.leftinput {
    margin-right: 2px;
}

.saverecord {
    width: 150px;
}

.infoicon {
    font-size: 21px;
    bottom: 3px;
}

.image-link {
    height: 100%;
    position: relative;
    display: block;
}

.card.scan-thumnail {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: 0px;
    border-color: white;
    margin-right: 3px;
    margin-left: 0px;
    border-collapse: collapse;
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px solid whitesmoke;
}

.dp-wrapper {
    background-color: rgb(240, 163, 163);
    width: 100px;
    height: 100px;
    margin-bottom: 0px;
    z-index: 10;
    /* background-image: url(../../../assets/img/avatar.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.dp-wrapper div {
    width: 100%;
    height: 100%;
    background: rgba(7, 7, 7, .4);
    /* opacity: .4; */
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
}

.imageicon {
    color: white;
    font-size: 30px;
    align-self: center;
    position: absolute;
    left: 15%;
    top: 12%;
}

.cover p {
    color: white;
    font-size: 11px;
    width: 100%;
    text-align: center;
    top: 65%;
    position: relative;
    font-weight: bold;
}

.drugs-table td {
    font-size: 11px;
}
.disposition {
    width:100%;
    padding-left: 10px;
    top:34px;
}
 .dispo {
    padding: 4px 6px;
    font-size: 11px;
    outline: none;
    box-shadow: none;
    width:75px;
}
.ref-dept {
   border-radius: 30px;
    }
.ref-dept:focus{
    outline: none;
    box-shadow: none;
    }
.dispo:focus{
    outline: none;
    box-shadow: none;
}
.disposition button:nth-child(1) {
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.disposition button:nth-child(3) {
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.next-dept {
    left: -100%;
}
.next-dept.out {
    left: -100%;
    animation-name: card-out;
    animation-duration: .2s;
    animation-timing-function: ease-in;
}
.next-dept.in {
    left: 0%;
    animation-name: card-in;
    animation-duration: .2s;
    animation-timing-function: ease-in;
}
@keyframes card-in {
    0% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}
@keyframes card-out {
    0% {
        left: 0%;
    }
    100% {
        left: -100%;
    }
}
.off {
    left: -100%;
   } 
.on {
    left: 0%;
    animation-name: card-in;
    animation-duration: .2s;
    animation-timing-function: ease-in;
}
@keyframes card-in {
    0% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}