<div class="modal fade" role="dialog" tabindex="-1" id="newModal" style="border-radius:0px;width:auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:500px;border-radius:0px;;padding-left:0px;padding-right: 0px;">
            <div class="card-header profileheader small-header">
                <i class="icon ion-android-more-vertical small-icon"></i>
                  <div class="timeline lastdoc priscriber headerdp small-dp">
                      <img [src] = getDp(patient)/>
                  </div>
                  <a href="#" class="patien-name small-name">
                    {{patients[curIndex].info.personal.firstName + ' '+ patients[curIndex].info.personal.lastName}}<span class="small-headericon"></span>
                  </a>
            </div>
            <div class="modal-body" style="border-radius:0px;padding-left:0px;padding-right: 0px;">
                <form novalidate  class="patientform" >
                    <div class="card card-secondary historycard midlecard profilecard" style="border-bottom:none;margin:0px;margin-right: 0px;width:100%; min-height: 100px;">
                        <div class="card-header grapheader" style="border:none;">
                            <h1 class="dept headtitle">PERSONAL INFORMATION </h1>
                        </div>
                        <div style="padding-top:0px;padding-left: 10px; padding-right: 10px;"  class="card-body topcardbody clientinfobody nopading">
                            <div class="form-group vitals-section formGroup" >
                                <label style="bottom:0%;top:12px;position: relative" for="complain" class="labelss notelabel">CHIEF COMPLAIN</label>
                                <textarea style="text-align:left; padding:5px;  border-radius:4px; border:1px solid whitesmoke " [(ngModel)]="session.complains.complain"   class=" inputs " name= "complain" placeholder="Patient complain">
                                </textarea>
                            </div>
                            <div style="width:49.3%; margin-top:5px; margin-right: 5px; display:inline-block" class="form-group vitals-section formGroup">
                                <label  for="allegies" class="labelss">ALLEGIES</label>
                                <input [(ngModel)]="session.allegies.allegy" type="text" name="allegies" class=" inputs dataInfo patientdata" placeholder="Eg Peanuts, Shelfish, ...">
                            </div>
                            <div style="width:49.3%; margin-top:5px;   display:inline-block" class="form-group vitals-section formGroup" >
                                <label  for="famhistory" class="labelss">FAMILY HISTORY</label>
                                <input [(ngModel)]="session.famHist.condition" type="text" name="famhistory" class=" inputs dataInfo patientdata" placeholder="Eg Diabetes, Athsma, ...">
                            </div>
                        </div>
                    </div>
                    <div class="card card-secondary historycard midlecard deptcard" style="width:100%; border-bottom:none; min-height: 120px">
                        <div class="card-header grapheader" style="border:none;">
                            <h1 class="dept headtitle">BASIC EXAMINATION</h1>
                        </div>
                        <div style="padding-left: 10px; padding-right: 10px;"  class="card-body topcardbody clientinfobody nopading">
                            <div style="width:49.3%; margin-top:5px;  margin-right: 5px; display:inline-block" class="form-group vitals-section formGroup" >
                                <label for="tempreture" class="labelss complain">TEMPRETURE</label>
                                <input [(ngModel)]="session.vital.tempreture.value" type="number" name="pulse" class="patientdata inputs dataInfo"   placeholder="Mesures in celsius">
                            </div>
                            <div style="width:49.3%; margin-top:5px; display:inline-block" class="form-group vitals-section formGroup">
                                <label for="dystolic" class="labelss complain">PULSE RATES</label>
                                <input [(ngModel)]="session.vital.pulse.value" type="number" name="dystolic" class="patientdata inputs dataInfo" placeholder="Mesures in bpm">
                            </div>
                            <div style="width:49.3%; margin-top:5px;  margin-right: 5px; display:inline-block" class="form-group vitals-section formGroup" >
                                <label for="resp" class="labelss complain">RESP. RATE</label>
                                <input [(ngModel)]="session.vital.resp.value" type="number" name="resp" class="patientdata inputs dataInfo"  placeholder="Mesures in bpm">
                            </div>
                            <div style="width:49.3%; margin-top:5px; display:inline-block" class="form-group vitals-section formGroup">
                                <label for="bp" class="labelss complain">BLOOD PRESURE</label>
                                <input [(ngModel)]="session.vital.bp.value" type="number" name="bp" class="patientdata inputs dataInfo" placeholder="Mesures in mmHg">
                            </div>
                            <div style="width:49.3%; margin-top:5px;margin-right: 5px; display:inline-block" class="form-group vitals-section formGroup">
                                <label for="height" class="labelss complain">HIGHT</label>
                                <input [(ngModel)]="session.vital.height.value" type="number" name="height" class="patientdata inputs dataInfo"  placeholder="Mesures in ft">
                            </div>
                            <div style="width:49.3%;  display:inline-block" class="form-group vitals-section formGroup">
                                <label for="weight" class="labelss complain">WEIGHT</label>
                                <input [(ngModel)]="session.vital.weight.value" type="number" name="weight" class="patientdata inputs dataInfo"  placeholder="Mesures in kg">
                            </div>
                        </div>
                    </div>
                    <div class="card card-secondary historycard midlecard formcard" style="min-height: 100px; border-bottom:none; width: 100%;">
                        <div class="card-header grapheader" style="border:none;">
                            <h1 class="dept headtitle">DIAGNOSIS</h1>
                        </div>
                        <div style="padding-left: 10px; padding-right: 10px;" class="card-body topcardbody clientinfobody nopading" >
                            <div class="form-group vitals-section formGroup" >
                                <label  for="condition" class="labelss">CONDITION</label>
                                <input [(ngModel)]="session.conditions.condition"  type="text" name="condition" class=" inputs dataInfo patientdata" placeholder="E.g Malaria fever">
                            </div>
                            <div class="form-group vitals-section formGroup" style=" width:24%;">
                                <label for="order" class="labelss complain">ORDER</label>
                                <select [(ngModel)]="session.conditions.order" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;"  class=" patientdata status inputs dataInfo " name="order" >
                                    <option>Primary</option>
                                    <option>Secondary</option>
                                </select>
                            </div>
                            <div class="form-group vitals-section formGroup" style=" width:24.15%; margin-right:4px; ">
                                <label for="certainty" class="labelss complain">CERTAINTY</label>
                                <select [(ngModel)]="session.conditions.certainty" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;"  class=" patientdata status inputs dataInfo " name="certainty" >
                                    <option>Comfirmed</option>
                                    <option>Presumed</option>
                                </select>
                            </div>
                            <div class="form-group vitals-section formGroup" style=" width:24%;">
                                <label for="order" class="labelss complain">CONCLUSION</label>
                                <select style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;" (change)=conclude($event.target.value)    [(ngModel)]="session.visits.status" class=" status inputs dataInfo patientdata " name="conclution">
                                    <option value="discharged">Discharge</option>
                                    <option value="admitted">Admit</option>
                                    <option value="fowarded">Foward</option>
                                </select>
                            </div>
                            <div class="form-group vitals-section formGroup" style=" width:26.7%; ">
                                <label for="certainty" class="labelss complain">DEPT</label>
                                <select style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;" [disabled] = !fowarded  class=" status inputs dataInfo patientdata " name="dept">
                                    <option *ngFor = 'let d of fetchDept() '>
                                      {{d.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group vitals-section formGroup" >
                                <label style="position: absolute; bottom:89%" for="note" class="labelss notelabel">NOTE</label>
                                <textarea [(ngModel)]="session.notes.note" style="width:100%; min-height: 100px; font-size: 13px; padding: 5px; border-radius: 4px; border:1px solid whitesmoke" name= "note" placeholder="Additional note"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card card-secondary historycard midlecard formcard" style="width:100%; min-height:200px">
                        <div class="card-header grapheader" style="border:none;">
                            <h1 class="dept headtitle">MEDICATION</h1>
                        </div>
                        <div style="padding-top:10px; padding-left: 10px;padding-right: 10px"  class="card-body topcardbody clientinfobody nopading" >

                    <div class="form-group vitals-section formGroup" >
                      <label for="drug" class="labelss">DRUG NAME</label>
                      <input autocomplete="off" (keyup)= "searchItem(input)" [(ngModel)] = input type="text" name="drug" placeholder= "E.g Paracetamol" class="patientdata dystolic inputs dataInfo" />
                      <div *ngIf= temItems.length class="prisOption">
                          <ul class="itemsList" >
                            <li *ngFor="let item of temItems" ><p (click) = "addSelection(item)"  class="dept firstheader drugItem" style="font-size:13px;padding-left: 10px; padding-right: 10px;font-weight: normal;" >
                                {{item.name+ ' '}}<span class="lastdept timetaken " >
                                    {{item.mesure + item.unit}}</span></p>
                            </li>
                          </ul>
                      </div>
                  </div>
                <div class="form-group vitals-section formGroup" style=" width:24%;">
                    <label for="dos" class="labelss complain">INTAKE</label>
                    <input [(ngModel)] = "priscription.intake" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;"  type="number" name="dos" class="patientdata inputs dataInfo"   placeholder="tabs/spoons">
                </div>
                <div class="form-group vitals-section formGroup" style=" width:23%; margin-right:4px; ">
                    <label for="intake" class="labelss complain">FREQ</label>
                    <select [(ngModel)]="priscription.freq" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;"  class=" patientdata status inputs dataInfo " name="intake" >
                        <option>dos</option>
                        <option>qos</option>
                        <option>after meal</option>
                        <option>as required</option>
                    </select>
                </div>
                <div class="form-group vitals-section formGroup" style=" width:23%;">
                      <label for="piriod" class="labelss complain">PIRIOD</label>
                      <input [(ngModel)]="priscription.piriod" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;"  type="number" name="piriod" class="patientdata inputs dataInfo"   placeholder="">
                  </div>
                  <div class="form-group vitals-section formGroup" style=" width:23%;">
                      <label for="extend" class="labelss complain">EXTEND</label>
                      <select [(ngModel)]="priscription.extend" style="border-radius: 0px;"  class=" patientdata status inputs dataInfo " name="extend" >
                        <option>days</option>
                        <option>weeks</option>
                        <option>months</option>
                      </select>
                  </div>
                  <div class="form-group vitals-section formGroup" style=" width:6%;">
                    <button type = "button" (click)="addMedication()" title="add priscription "  id ="addmorebtn" class="btn btn-sm btn-outline-primary"><i class="icon ion-ios-plus-empty"></i></button>
                  </div>
                <div *ngIf="tempMedications.length" class="form-group vitals-section setGroup">
                    <table   cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. " >
                      <thead class='productHead'>
                          <tr class="staff-th">
                              <th class="headlbl staff-th">PRODUCT NAME</th>
                              <th class="headlbl staff-th">DOSAGE</th>
                              <th class="headlbl staff-th">DURATION</th>
                              <th class="headlbl staff-th">PRICE</th>
                              <th class="headlbl staff-th"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr  *ngFor="let med of tempMedications; let i = index; let odd = odd;"   class="ro staff-row">
                              <td style="padding-left:4px;" class="data">
                                  {{med.product.item.name+ ' ' + med.product.item.mesure+med.product.item.unit}}</td>
                              <td class="data">{{med.priscription.intake+ ' '+med.priscription.freq}}</td>
                              <td class="data">{{med.priscription.piriod + ' '+med.priscription.extend}}</td>
                              <td class="data" style="text-align:center">{{med.product.stockInfo.price}}</td>
                              <td style="text-align: left; padding-left:3px" class="data" >
                                <i class="icon ion-edit tableicon " title="Edit" style="color:rgb(149, 149, 149);font-size:14px; top:32px; right: 22px;position:absolute; cursor: pointer;"></i>
                                <i  (click)= "removePriscription(i)" class="icon ion-ios-trash-outline tableicon" title="Remove" style="font-size:17px; cursor: pointer;"></i>
                              </td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <button (click) = "submitRecord()"  style=" width: 130px; left:353px; bottom:5%;" class="btn btn-sm btn-outline-primary inputs mainbtn" >Save Record</button>
              <button style="width: 61px; left:290px; bottom:5%;" class="btn btn-sm btn-outline-primary inputs mainbtn" >Cancel</button>
            </form>
        </div>
      </div>
    </div>
  </div>








  <div class="sidenav">
      <a href="#" class="home homemenu" title="Menu">
          <span class="homespan">
              <i class="material-icons homeicon">sort</i>
          </span>
      </a>

      <a href="#" [routerLink]="['/pharmacy']"  class="home dashboard" title="Dashboard">
          <span class="homespan">
              <i class="icon ion-android-apps homeicon"></i>
          </span>
      </a>
      <a href="#" [routerLink]="['/department/GOPD']" routerLinkActive="router-link-active"  class="home patienmenu" title="Patients">
          <span class="homespan">
              <i class="icon ion-ios-people-outline homeicon"></i>
          </span>
      </a>
      <a href="#" [routerLink]="['/department/maternity']" routerLinkActive="router-link-active"  class="home reviewmenu" title="Appointments">
          <span class="homespan">
              <i class="icon ion-ios-calendar-outline homeicon"></i>
          </span>
      </a>
      <a href="#" [routerLink]="['/products']" routerLinkActive="active"  class="home cartmenu" title="Products">
          <span class="homespan"> <i class="icon ion-ios-cart-outline homeicon"></i></span></a>
      <a href="#" [routerLink]="['/ward']" routerLinkActive="router-link-active"   class="home wardmenu" title="Ward"><span class="homespan"><i class="material-icons homeicon wardicon">airline_seat_individual_suite</i></span></a>
      <a href="#"  [routerLink]="['/account']" routerLinkActive="router-link-active" class="home settings" title="Settings"><span class="homespan"><i class="icon ion-ios-gear-outline homeicon"></i></span></a>
    </div>
    <nav class="navbar fixed-top navbar-light navbar-expand-md navigation-clean-search" style="padding:0px; margin-bottom:0px">
    <div class="container">
        <a class="navbar-brand" href="#">
            <em>MS</em>
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav"></ul>
            <form class="form-inline mr-auto searchform" target="_self">
                <div class="form-group">
                    <label for="search-field">
                        <i class="icon ion-ios-search searchicon" title="Search"></i>
                    </label>
                    <input autocomplete="off" style="border-radius:30px; left: 405px; width:220px;background-color: rgb(243, 248, 247); margin: auto;" class="form-control search-field" type="search" name="search" id="search-field" placeholder="Search Patient">
                </div>
            </form>
        </div>
    </div>
    <i style="left:20%;" class="icon ion-android-notifications-none arrow buble note" title="Notifications"></i>
    <i [routerLink]="['/messages']" routerLinkActive="router-link-active"  style="left:25%; font-size: 22px;" class="icon ion-ios-chatboxes-outline arrow buble" title="Messages"></i>
    <div class="timeline lastdoc priscriber headerdp small-dp user-dp"style="left:90%;position:absolute;height:30px;width:30px;bottom:-8%"></div>

    </nav>





<div style="padding-top:40px" class="container">
    <div class="row">
        <div *ngFor="let patient of patients; let i = index"  class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">

        <div class="card card-secondary maincard">
            <div class="card-header profileheader"><i class="icon ion-android-more-vertical headericon moreicon actions-icon"></i>
                <div class="timeline lastdoc priscriber headerdp">

                       <img [src] = getDp(patient)/>
                </div>
            </div>
            <a href="#" title="View history" [routerLink]="['/history/', patient._id]" routerLinkActive="router-link-active" class="patien-name">{{patient.info.personal.firstName + ' '+ patient.info.personal.lastName}}<span class="predata editicon"></span></a>

            <div class="card-body mainbody">
                <div class="carditem basic-item">
                    <h6 class="dept basic-info">Sex</h6>
                    <h6 class="dept basic-info sex-info">F</h6>
                </div>
                <div class="carditem basic-item">
                    <h6 class="dept basic-info">Age</h6>
                    <h6 class="dept basic-info sex-info">20</h6>
                </div>
                <div class="carditem basic-item">
                    <h6 class="dept basic-info">Bed</h6>
                    <h6 class="dept basic-info sex-info">5</h6>
                </div>
                <div class="priscription basic-subinfo">

                    <div class="sub-container">
                        <!-- <h6 class="dept basic-secondary">Date Visitted:</h6> -->
                        <h6 style="width:100%;text-align:center" class="dept basic-secondary basic-value">Mar 02  09:50am</h6>
                    </div>

                </div>
            </div>
            <div style="bottom:20px;" class="form-group vitals-section address">

              <button (click)="selectPatient(i)" style="border-radius: 30px; position:relative;font-size:12px; width:40%; left:52%; font-weight:bold" data-target="#newModal" data-toggle="modal" class="btn btn-sm btn-outline-primary inputs" >Attend to</button>
            </div>

            <!-- <div class="floter" title="Attend to">
                <i (click)="selectPatient(i)"  data-target="#newModal" data-toggle="modal" class="icon ion-person-stalker flotericon consulticon" title="Attend to"></i>
            </div> -->
        </div>


    </div>
</div>

