.close:hover
{
  color:black;
}
.flotericon.consulticon {
  font-size:17px;
}
.reginfo{
  font-size:10px;
}
.leftinput {
  margin-right:2px;
}
.saverecord{
  width: 150px;
}
.infoicon {
  font-size:21px;
  bottom:3px;
}

.image-link {
  height:100%;
  position:relative;
  display:block;
}

.card.scan-thumnail {
  width:80px;
  height:80px;
  display:inline-block;
  margin:0px;
  border-color:white;
  margin-right:3px;
  margin-left:0px;
  border-collapse:collapse;
  position: relative;
  margin-bottom: 10px;
  border-bottom:1px solid whitesmoke;
}
.dp-wrapper{
  background-color: rgb(240, 163, 163);
  width:100px;
  height:100px;
  margin-bottom: 0px;
  z-index: 10;
  /* background-image: url(../../../assets/img/avatar.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.dp-wrapper div{
  width:100%;
  height:100%;
  background:rgba(7, 7, 7,.4);
  /* opacity: .4; */
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}
.imageicon{
color:white;
font-size:30px;
align-self: center;
position:absolute;
left: 15%;
top:12%;
}
.cover p {
  color:white;
  font-size: 11px;
  width: 100%;
  text-align:center;
  top: 65%;
  position: relative;
  font-weight: bold;

}
.drugs-table td {
  font-size:11px;
}