

<div class="modal fade" role="dialog" tabindex="-1" id="newModal" style="border-radius:0px;width:auto;">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="width:700px">
              <div class="modal-header" style="padding:6px; ">

                <div class="card-header profileheader" style="width:70%;position: absolute; border-bottom: 0px;">
                  <div class="timeline lastdoc priscriber headerdp"></div>
                  <h1 class="dept displayname">Aisha Mohammed<span class="predata editicon" title="Edit"><i class="icon ion-ios-checkmark-empty headericon" title></i></span></h1>
                  <h1 class="dept displayname subinfo">Feb 10, 2018</h1>
                </div>

                  <h6 class="modal-title dept" style="text-align:center; width:100%">CONSULTATION</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">

                  <form (submit)="saveRecord()" novalicddate class="patientform" >
                      <fieldset class="topfilset">
                          <legend>HISTORY</legend>
                      </fieldset>

                      <div class="form-group vitals-section address">
                        <label for="height" class="labelss notelabel">CHIEF COMPLAIN</label>
                        <textarea [(ngModel)]="record.complains.complain"   class="patientdata note " name= "note" placeholder="Note">
                        </textarea>
                      </div>
                      <div class="form-group vitals-section "style="margin-right:4px;">
                          <label  for="allegies" class="labelss">ALLEGIES</label>
                          <input [(ngModel)]="record.allegies.allegy" type="text" name="allegies" class=" inputs dataInfo patientdata" placeholder="Eg Peanuts, Shelfish,...">

                       </div>
                      <div class="form-group vitals-section ">
                          <label  for="famhistory" class="labelss">FAMILY HISTORY</label>
                          <input [(ngModel)]="record.famHist.condition" type="text" name="famhistory" class=" inputs dataInfo patientdata" placeholder="Eg Diabetes, Athsma,...">

                       </div>


                      <fieldset class="topfilset">
                          <legend>BASIC EXAMINATION</legend>
                      </fieldset>


                      <div style="margin-right:4px;" class="form-group vitals-section formGroup">
                          <label for="tempreture" class="labelss complain">TEMPRETURE</label>
                          <input [(ngModel)]="record.vitals.tempreture.value" type="number" name="pulse" class="patientdata inputs dataInfo"   placeholder="Mesures in celsius">
                      </div>
                      <div class="form-group vitals-section formGroup">
                          <label for="dystolic" class="labelss complain">PULSE RATES</label>
                          <input [(ngModel)]="record.vitals.pulse.value" type="number" name="dystolic" class="patientdata inputs dataInfo" placeholder="Mesures in bpm">
                      </div>
                      <div style="margin-right:4px;" class="form-group vitals-section formGroup">
                          <label for="resp" class="labelss complain">RESP. RATE</label>
                          <input [(ngModel)]="record.vitals.resp.value" type="number" name="resp" class="patientdata inputs dataInfo"  placeholder="Mesures in bpm">
                      </div>

                      <div class="form-group vitals-section formGroup">
                              <label for="bp" class="labelss complain">BLOOD PRESURE</label>
                              <input [(ngModel)]="record.vitals.bp.value" type="number" name="bp" class="patientdata inputs dataInfo" placeholder="Mesures in mmHg">
                      </div>


                      <div class="form-group vitals-section formGroup" style="margin-right:4px;">
                              <label for="height" class="labelss complain">HIGHT. </label>
                              <input [(ngModel)]="record.vitals.height.value" type="number" name="height" class="patientdata inputs dataInfo" id=""  placeholder="Mesures in ft">
                      </div>
                      <div class="form-group vitals-section formGroup">
                              <label for="weight" class="labelss complain">WEIGHT</label>
                              <input [(ngModel)]="record.vitals.weight.value" type="number" name="weight" class="patientdata inputs dataInfo" id=""  placeholder="Mesures in kg">
                      </div>


                      <fieldset class="topfilset">
                          <legend>DIAGNOSIS</legend>
                      </fieldset>
                      <div class="form-group vitals-section address">
                          <label  for="condition" class="labelss">CONDITION</label>
                          <input [(ngModel)]="record.conditions.condition"  type="text" name="condition" class=" inputs dataInfo patientdata" placeholder="Specify diagnosed condition">

                      </div>

                       <div class="form-group vitals-section formGroup" style="margin-right:4px;">

                          <div class="btn-group btn-group-sm grouper "><label class="btn btn-primary btn-outline-primary gmember">Presumed<input class="invisible" type="radio" name="options" value="true" required="" id="r1" autocomplete="off"></label><label class="btn btn-primary btn-outline-primary gmember active">Comfirmed<input class="invisible" type="radio" id="r2" autocomplete="off" name="options" checked=""></label>
                          </div>
                      </div>
                       <div class="form-group vitals-section formGroup">

                          <div class="btn-group btn-group-sm grouper "><label  class="btn btn-primary btn-outline-primary gmember" [ngClass]="{'active':in==='admit'}">Admit<input (click)="switchBtn('admit')" class="invisible" type="radio" name="admit" value="true" required="" id="r1" autocomplete="off" ></label>

                          <label  class="btn btn-primary btn-outline-primary gmember" [ngClass]="{'active':in==='discharge'}">Discharge<input (click)="switchBtn('discharge')" class="invisible" type="radio" id="r2" autocomplete="off" name="discharge" checked=""></label>
                          </div>
                      </div>
                      <div class="form-group vitals-section address">
                        <label for="height" class="labelss notelabel">ADDITIONAL NOTE</label>
                        <textarea [(ngModel)]="record.notes.note"  class="patientdata note " name="note" placeholder="Note">
                        </textarea>
                      </div>


                      <fieldset class="topfilset">
                          <legend>MEDICATION</legend>
                      </fieldset>
                       <div class="form-group vitals-section address">
                          <label for="drug" class="labelss">DRUG NAME</label>
                          <input autocomplete="off" (keyup)= "searchItem(input)" [(ngModel)] = input type="text" name="drug" placeholder= "E.g Paracetamol" class="patientdata dystolic inputs dataInfo" />

                          <div *ngIf= temItems.length  class="options prisOption">
                              <ul class="itemsList" >
                                <li  *ngFor="let item of temItems"><p (click) = "addSelection(item)"  class="dept firstheader drugItem" style="font-size:13px;padding-left: 10px; padding-right: 10px;font-weight: normal;" >{{item.name+ ' '}}<span class="lastdept timetaken " >{{item.mesure + item.unit}}</span></p>
                                </li>

                              </ul>
                           </div>

                      </div>
                      <div class="form-group vitals-section formGroup" style=" width:24%;">
                          <label for="dos" class="labelss complain">INTAKE</label>
                          <input [(ngModel)] = "priscription.intake" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;"  type="number" name="dos" class="patientdata inputs dataInfo"   placeholder="tabs/spoons">
                      </div>
                      <div class="form-group vitals-section formGroup" style=" width:23%; margin-right:4px; ">
                          <label for="intake" class="labelss complain">FREQ</label>
                          <select [(ngModel)]="priscription.freq" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;"  class=" patientdata status inputs dataInfo " name="intake" >
                                  <option>dos</option>
                                  <option>qos</option>
                                  <option>after meal</option>
                                  <option>as required</option>
                          </select>
                       </div>
                      <div class="form-group vitals-section formGroup" style=" width:23%;">
                          <label for="piriod" class="labelss complain">PIRIOD</label>
                          <input [(ngModel)]="priscription.piriod" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;"  type="number" name="piriod" class="patientdata inputs dataInfo"   placeholder="">
                      </div>
                      <div class="form-group vitals-section formGroup" style=" width:23%;">
                          <label for="extend" class="labelss complain">EXTEND</label>
                          <select [(ngModel)]="priscription.extend" style="border-radius: 0px;"  class=" patientdata status inputs dataInfo " name="extend" >
                                  <option>days</option>
                                  <option>weeks</option>
                                  <option>months</option>
                          </select>
                       </div>
                      <div class="form-group vitals-section formGroup" style=" width:6%;">

                        <button type = "button" (click)="addMedication()" title="add priscription "  id ="addmorebtn" class="btn btn-sm btn-outline-primary"><i class="icon ion-ios-plus-empty"></i></button>
                      </div>


                       <div *ngIf="medications.length" class="form-group vitals-section">

                        <table cellspacing="0" class="data-table drugs-table" summary="List of all items in store. " >

                        <thead class='productHead'>
                            <tr>

                                <th class="headlbl prdName">PRODUCT NAME </th>

                                <th class="headlbl">DOSAGE</th>
                                <th class="headlbl">DURATION</th>
                                <th class="headlbl" colspan="2" style="text-align: center">PRICE</th>


                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let med of medications; let i = index; let odd =odd;"   class="ro odd" style="border-bottom:1px solid whitesmoke"  >

                                <td class="data">{{med.product.item.name+ ' ' + med.product.item.mesure+med.product.item.unit}}</td>

                                <td class="data">{{med.priscribtion.intake+ ' '+med.priscribtion.freq}}</td>
                                <td class="data">{{med.priscribtion.piriod + ' '+med.priscribtion.extend}}</td>
                                <td class="data">{{med.product.stockInfo.price}}</td>

                                <td style="text-align: left; padding-left:3px" class="data" >
                                    <i (click)= "removePriscription(i)" class="icon ion-ios-close-empty close" title="Remove" style="font-size:12px;"></i>
                                </td>

                              </tr>
                          </tbody>
                        </table>
                      </div>




                            <!-- <tr *ngFor="let priscription of record.medication; let i = index;" class="even ro" >

                                <td class="data">{{priscription.product.name}}</td>

                                <td class="data">{{priscription.dosage.intake+ ' '+ priscription.dosage.dos}}</td>
                                <td class="data">{{priscription.dosage.dos}}</td>
                                <td class="data" style="text-align:right">500</td>
                                <td style="text-align: left; padding-left:3px" class="data" title="Remove">
                                <i (click)="removePriscription(i)"  class="icon ion-ios-close-empty close" ></i>
                                </td>


                            </tr>
                            <tr class="even ro">
                              <td class="data" colspan="4" style="text-align: right;" >Total:</td>
                              <td class="data" colspan="2" style="text-align: center;">{{getTotal()}}</td>
                            </tr> -->







                       <fieldset class="topfilset">
                          <legend>TESTS/SURGERY</legend>
                      </fieldset>
                       <div class="form-group vitals-section address">
                          <label for="extend" class="labelss complain">TO</label>
                          <select  class=" patientdata status inputs dataInfo " name="extend" >
                                  <option>Anesthesia</option>
                                  <option>Chemical Pathology</option>
                                  <option>Haematology</option>
                                  <option>Radiology</option>

                          </select>
                       </div>
                       <div class="form-group vitals-section formGroup" style="margin-right:4px;">
                          <label  for="investigation" class="labelss">INVESTIGATION</label>
                          <input  type="text" name="investigation" class=" inputs dataInfo patientdata" id="" placeholder="Enter the type of investigation"/>

                      </div>
                      <div class="form-group vitals-section formGroup">
                              <label for="speciment" class="labelss">SPECIMENT</label>
                              <input  type="text" name="holdername" class=" inputs dataInfo patientdata" id="" placeholder="Enter speciment"/>

                      </div>
                      <div class="form-group vitals-section address">
                        <label for="height" class="labelss notelabel">CLINICAL SUMMARY</label>
                        <textarea  class="patientdata note " placeholder="Note">
                        </textarea>
                      </div>


                   <div class="modal-footer">

                      <button style = "width: 170px; font-size: 13px;" class="btn btn-sm btn-outline-primary" type="submit">Save  Record</button>
                  </div>
              </form>
          </div>

          </div>
      </div>
    </div>





<div  class="container">
    <div class="row">

        <div *ngFor="let patient of patients" class="col col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="card card-secondary maincard">
              <div class="card-header profileheader">
                <div class="timeline lastdoc priscriber headerdp"></div><a href="#" [routerLink]="['/history/', patient._id]" routerLinkActive="router-link-active" ><h1 class="dept displayname qicon">{{patient.personal.firstName + ' '+ patient.personal.lastName}}<span class="predata editicon" title="Edit"><i class="icon ion-android-more-vertical headericon moreicon" title="more actions"></i><i class="icon ion-android-stopwatch headericon clock" ></i></span></h1></a>

                <h1 class="dept displayname subinfo">Age: 32</h1>
              </div>
                <div class="card-body">
                    <div *ngFor="let condition of patient.record.conditions" class="carditem">
                        <h1 class="dept displayname cond">{{condition.condition}}<span class="timetaken lastdept">Anesthesia</span></h1>
                        <h1 class="dept previnfo">Diagnosed By: &nbsp;<span class="timetaken lastdept docname">Dr. M.A Danaro </span></h1>
                        <div class="timeline condition">
                            <h1 class="timelinedate">{{condition.dateCreated|date:'dd'}}</h1>
                            <h1 class="timelinedate month">{{condition.dateCreated|date:'MMM'|uppercase}}</h1>
                        </div>
                    </div>
                  </div>
                <div class="floter" title="Examine"><i data-target="#newModal" data-toggle="modal" class="icon ion-person-stalker flotericon consulticon" title="Examine"></i></div>
            </div>
        </div>


    </div>
</div>

