.timeline.lastdoc.priscriber.headerdp.profile-dp {
  left:63px;
}

.patien-name.profile-name {
  text-align:center;
  font-size:14px;
  width:100%;
  padding-left:0px;
}

.timeline.lastdoc.priscriber.headerdp {
  top:36px;
  left:18px;
  height:49px;
  width:49px;
  position:absolute;
}
.contacts-card, .profile-card{
    margin-top:0px;
}
.connections{
    width:48%;
}
.timetaken{
    left:82px;
}
.connection-btn{
  font-size:12px;
  font-weight:normal;
  width:70px;
  border-radius:999em;
  padding-top:2px;
  padding-bottom:2px;
  height:25px;

}
.bio {
  font-size:13px;
  color:lightgrey;
  font-weight:normal;
  text-align:center;
  top:20px;
  position:relative;
  margin:0px;
}
.card-header.grapheader.explore-header {
  height:26px;
  padding:0px;
  position:relative;
}
.explore-search {
  position:absolute;
  padding:0px;
  width:87%;
  height:100%;

  font-size:13px;
  padding-left:25px;

  border:none;

}
.card.card-secondary.historycard.midlecard.chatcard {
  min-height:91%;
  margin:auto;

  position:absolute;
  height:100%;
}
.basic-info {
  cursor:pointer;
}

.profile-card{
  width:200px;
}
.people{
  cursor:pointer
}
.indicator.indicator-online {
  width:8px;
  height:8px;
  top:70%;
}
.profile-info {
  list-style:none;
  font-size: 12px;
  position:relative;
  top: 25px;
  padding: 10px 5px 10px 5px;
  border-top :1px solid rgb(238, 236, 236);
  width:90%;
  margin:auto;
  color:grey;

}
.dp-wrapper{
  width:100%;
  height:100%;
  background:rgba(7, 7, 7,.4);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index:10;
  position: absolute;
}
.profile-item{
  width:100%;
  /* background: whitesmoke; */
  position:relative;
}






