



<nav class="navbar fixed-top navbar-light navbar-expand-md navigation-clean-search" style="padding:0px; margin-bottom:0px;">
<div class="container">
    <a class="navbar-brand" href="#">
        <em>Foldirect</em>
    </a>
    <div class="collapse navbar-collapse" id="navcol-1">
        <form class="top-searchform" target="_self">
            <div class="form-group">
              <input [(ngModel)] = searchTerm #search (keyup)='searchPatient(searchTerm)' autocomplete = "off" style="border-radius:.999em;
              width:80%;display:inline-block;
              position: absolute;
              text-align: left;
              vertical-align: middle;
              top:11%;
              box-shadow:none;
              outline:none;
              background-color: rgba(233, 236, 239, 0.7);
              "
              class="form-control"
              type="search" name="search" id="search-field" placeholder="Search patient">
              <i style='font-size:20px; top:3px;left:83%;position:relative;display:inline' class="icon ion-ios-search " title="Search"></i>
                <h6 style='font-size:12px;
                    left:98%;position:relative;display:inline-block;
                    color:grey;
                    font-weight:normal;'>Sort: <span style='cursor:pointer; color:#1da1f2;' (click)='toggleSortMenu()'>
                      {{nowSorting}}</span></h6>
                 <div *ngIf=sortMenu style='position: absolute;
                    left:120%;
                    width:100px;top:6px;
                    height:110px'  class="menu">
                <ul (mouseleave)='toggleSortMenu()' class="actions primary">
                    <li (click)='sortPatients("name")' class="action">A-Z</li>
                    <li (click)='sortPatients("age")' class="action">Age</li>
                    <li (click)='sortPatients("status")' class="action">Status</li>
                    <li (click)='sortPatients("sex")' class="action">Gender</li>
                    <li (click)='sortPatients("date")' class="action">Date added</li>
                </ul>
                </div>
          </div>
      </form>
    </div>
</div>

  <div class="timeline lastdoc priscriber headerdp small-dp user-dp"style="left:90%;position:absolute;height:30px;width:30px;top:5px; margin-bottom:0px;"> <img style='height:100%; width:100%; object-fit:cover;' [src] = getMyDp()/></div>
</nav>

<div style="padding-top:60px" class="container">
      <div class="row">
         <div *ngIf='!patients.length' class='issue'>
              <div *ngIf='loading' class="lds-css ng-scope"><div style="width:100%;height:100%" class="lds-rolling"><div></div></div></div>
              <div *ngIf='message' title='Refresh' class='refresh'><i class="icon ion-ios-reload "></i></div>
              <h6 *ngIf='message' style='font-size:13px;position:absolute;top:65%; width:100%; color:lightgrey;text-align: center' >{{message}}</h6>
          </div>
          <div  *ngFor="let patient of patients; let i=index"  class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div *ngIf = "patient.card.view == 'front'"  class="card card-secondary maincard">
                <div style="border-radius:12px" class="card-header profileheader"><i (click)='showMenu(i)' class="icon ion-android-more-vertical headericon moreicon actions-icon"></i>
                  <div (mouseleave)= hideMenu(i) *ngIf = "patient.card.menu" class="menu">
                    <ul class="actions primary">
                         <li (click) = queue(i) class="action">Queue</li>
                         <li (click) = switchToAp(i) class="action">Edit AP</li>
                         <li (click)="selectPatient(i)" data-target="#medicModal" data-toggle="modal" class="action">Cancel AP</li>
                     </ul>
                  </div>
                  <div class="timeline lastdoc priscriber headerdp">
                      <img [src] = getDp(patient.info.personal.avatar)/>
                  </div>
                </div>
                <p style='margin-bottom:2px;' class="patien-name">{{patient.info.personal.firstName + ' '+ patient.info.personal.lastName}}</p>
                <div class="card-body mainbody">
                    <div class="carditem basic-item">
                        <h6 class="dept basic-info">Sex</h6>
                        <h6 class="dept basic-info sex-info">
                            {{patient.info.personal.gender.charAt(0).toUpperCase()}}</h6>
                    </div>
                    <div class="carditem basic-item">
                        <h6 class="dept basic-info">Age</h6>
                        <h6 class="dept basic-info sex-info">{{patient.info.personal.dob|dob}}</h6>
                    </div>
                    <div class="carditem basic-item">
                       <h6 class="dept basic-info">APs</h6>
                       <h6 class="dept basic-info sex-info">{{patient.record.appointments.length}}</h6>
                    </div>
                    <div class="priscription basic-subinfo">
                        <!-- <div class="sub-container">
                            <h6 class="dept basic-secondary basic-value">
                              {{patient.record.visits[0].dept.toUpperCase()}}</h6>
                        </div> -->
                        <div class="sub-container">
                            <h6 style="color: darkgrey;" class="dept basic-secondary basic-value">{{patient.record.appointments[0].title}}</h6>
                        </div>
                        <div class="sub-container">
                          <h6 style="width:100%;text-align:center" class="dept basic-secondary basic-value">
                            {{patient.record.appointments[0].date|date:'dd/MM/y'}}&nbsp;<span>
                            {{patient.record.appointments[0].time}}</span>
                          </h6>
                        </div>
                      </div>
                </div>
               
                <div style='padding: 4px 4px 4px 27px;border-top:none;border-bottom:none;border-bottom-right-radius:12px;border-bottom-left-radius:12px' class="card-footer profileheader small-header">
                  <div style="left:10%; top:84%" class="timeline lastdoc priscriber headerdp small-dp">
                    <img [src] = getDp(patient.info.personal.avatar)/>
                  </div>
                  <h6 style="font-weight:normal;width:125px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin: 2px;" href="#" class="patien-name small-name">
                    {{'Dr.'+' '+patient.info.personal.firstName + ' '+ patient.info.personal.lastName}}
                  </h6>
                  <p style='position: absolute;bottom:0.1%;font-size: 10px;color:lightgrey;left: 70%;'>
                    {{patient.record.appointments[0].setOn|date:'dd/MM/y'}}</p>
                </div>

            </div>

            <div style="border-radius:12px"  *ngIf = "patient.card.view == 'ap'"   class="card card-secondary maincard">
              <div style='padding-left: 30px;border-top-right-radius:12px;border-top-left-radius:12px' class="card-header profileheader small-header">
                  <i (click)=switchToFront(i) style='position:absolute;
                    left:3%;top:2%; cursor:pointer;
                    display: inline-block;
                    color:#1da1f2;' title="Back"
                    class="icon ion-android-arrow-back ">
                </i>
                  <div style="left:23px" class="timeline lastdoc priscriber headerdp small-dp">
                    <img [src] = getDp(patient.info.personal.avatar)/>
                  </div>
                  <a href="#" class="patien-name small-name">
                    {{patient.info.personal.firstName + ' '+ patient.info.personal.lastName}}<span class="small-headericon"></span>
                  </a>
              </div>
              <div  class="card-body mainbody" style="padding-top:20px">
                  <form style="top:15%; padding-left: 2%; padding-right: 2%;" class=" staffsform" >
                      <div style=" margin-top:3px;   " class="form-group vitals-section formGroup" >
                          <label style = 'font-size: 8px' for="title" class="labelss complain">TITLE</label>
                          <input  [(ngModel)]="appointment.title"  style='font-size:11px'  type="text" name="pulse" class=" form-control patientdata inputs dataInfo"   placeholder="e.g Anti natal routine">
                      </div>
                       <div style="width:49.3%;margin-right:3px; margin-top:3px; display:inline-block"  class="form-group vitals-section formGroup" >
                          <label style = 'font-size: 8px' for="date" class="labelss complain">DATE</label>
                          <input [(ngModel)]="appointment.setOn"   style='font-size:11px'  type="date" name="date" class="form-control patientdata inputs dataInfo">
                      </div>
                      <div style="width:49.3%; display:inline-block;margin-top:3px;" class="form-group vitals-section formGroup">
                          <label style = 'font-size: 8px' for="time" class="labelss complain">TIME</label>
                          <input [(ngModel)]="appointment.time"   style='font-size:11px' type="time" name="time" class="form-control patientdata inputs dataInfo">
                      </div>
                  </form>
              </div>
              <div (click) = 'setAppointment()' style='left:78%; height:32px;width:32px'
                   title ='Done' class = "floter">
                   <i *ngIf='processing'  class="fa fa-circle-o-notch fa-spin fa-10x slow-spin" style="position:absolute;bottom:5px;left:5px;font-size:20px;color: #1da1f2;">
                  </i>
                 <i *ngIf='!processing' style="color:#1da1f2;bottom:-10px;" class="icon ion-ios-checkmark-empty flotericon">
                </i>
             </div>
             <div *ngIf = feedback style="padding:5px;border-bottom-left-radius:12px;border-bottom-right-radius:12px;border-top: 1px solid rgb(248, 247, 247)" class="card-footer"> <h6  class="feedbackMsg">{{feedback}}</h6></div>
          </div>
      </div>
  </div>
</div>

