<div class="card logincard">
  <div class="card-body logbody">
      <form>
          <div class="formGroup newdept"><input name="username" [(ngModel)]="staff.username"  class="form-control inputs patientdata newpatient" type="text" placeholder="Username"><input name="password" [(ngModel)]="staff.password" class="form-control inputs patientdata newpatient" type="password" placeholder="Password"></div>
      </form>
      <button (click)="login()"  style=" width: 25%; left:50%; "  type="button" class="btn btn-sm btn-primary inputs mainbtn" >Sign in</button>
   </div>
</div>

