
<div *ngIf="patients.length" class="modal fade" role="dialog" tabindex="-1" id="noteModal" style="border-radius:12px;width:auto;">
  <div class="modal-dialog" role="document">
      <div class="modal-content" style="width:480px;border-radius:0px;border-radius:12px;padding-left:0px;padding-right: 0px;">
          <div class="modal-body" style="border-radius:0px;padding: 0px;">
              <div class="card card-secondary historycard midlecard profilecard" style="margin:auto;min-height:200px;border-radius:12px;">
                  <div style='padding-left: 30px;border-top-right-radius:12px;border-top-left-radius:12px;' class="card-header profileheader small-header">
                        <div style="left:10px" class="timeline lastdoc priscriber headerdp small-dp">
                          <img [src] = getDp(patients[curIndex].info.personal.avatar)/>
                        </div>
                        <a  class="patien-name small-name">
                          {{patients[curIndex]?.info.personal.firstName + ' '+ patients[curIndex]?.info.personal.lastName}}<span class="small-headericon"></span>
                        </a>
                        <h6 style='left:50%;position: relative;' class="dept headtitle">NOTES</h6>
                    </div>
                    <div style="width:90%;margin:auto" class="card-body orderbody">
                      <form novalidate  class="patientform" >
                        <div class="card card-secondary historycard midlecard profilecard" style="border-bottom:none;margin:0px;margin-right: 0px;width:100%; min-height: 140px;">
                           <div style="padding-top:0px;padding-left: 10px; padding-right: 10px;"  class="card-body topcardbody clientinfobody nopading">
                             <div class="form-group vitals-section formGroup newnote" >
                               <textarea [(ngModel)]="note.note" id ='newnote' style="width:100%; min-height: 110px; font-size: 13px; padding: 5px; border: 0px; " name= "note" placeholder="Additional note"></textarea>
                             </div>
                           </div>
                         </div>
                        </form>
                 </div>
                 <div  (click) = saveNote() style='left:78%; height:32px;width:32px;'
                       title ='Update' class="floter">
                        <i *ngIf='loading'  class="fa fa-circle-o-notch fa-spin fa-10x slow-spin" style="position:absolute;bottom:5px;left:5px;font-size:20px;color: #1da1f2;"></i>
                        
                       <i *ngIf='!loading' style="color:#1da1f2;bottom:-10px;" class="icon ion-ios-checkmark-empty flotericon"> </i>
                    
                </div>
              </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="patients.length" class="modal fade" role="dialog" tabindex="-1" id="filesModal" style="border-radius:4px;width:auto;">
  <div class="modal-dialog" role="document">
      <div class="modal-content" style="width:500px;border-radius:4px;;padding-left:0px;padding-right: 0px;">
          <div class="card-header profileheader small-header">
              <i class="icon ion-android-more-vertical small-icon"></i>
                <div class="timeline lastdoc priscriber headerdp small-dp">
                 <img [src] = getDp(patient.info.personal.avatar)/>
                </div>
                <a href="#" class="patien-name small-name">
                  {{patients[curIndex].info.personal.firstName + ' '+ patients[curIndex].info.personal.lastName}}<span class="small-headericon"></span>
                </a>
            </div>
          <div class="modal-body" style="border-radius:0px;padding-left:0px;padding-right: 0px;padding-top: 0px">
              <form (submit) = uploader.uploadAll() novalidate  class="patientform" >
                <div class="card card-secondary historycard midlecard profilecard" style="border-bottom:none;margin:0px;margin-right: 0px;width:100%; min-height: 140px;">
                      <div style="padding-top:0px;padding-left: 10px; padding-right: 10px;"  class="card-body topcardbody clientinfobody nopading">
                        <div class="form-group vitals-section" style="width:50%;
                        margin: auto; top: 10%;position:absolute;left:25%;">
                          <div class="card scan-thumnail">
                            <a href="IMG-20180927-WA0000.jpg" target="_blank" class="image-link" data-lightbox="scan"><img [src]= url class="img-fluid" /></a>
                          </div>
                        </div>
                        <div class="form-group vitals-section" style="width:50%;
                        margin: auto; top: 10%;position:absolute;left:38%;">
                          <div class="card scan-thumnail">
                              <i (click)="picker.click()" class="icon ion-ios-plus-empty addicon" title="Browse file"></i>
                          </div>
                        </div>
                        <div class="form-group vitals-section" style="width:50%;
                        margin: auto; top: 60%;position:absolute;left:25%;">
                          <label for="Description" class="labelss" style="font-size:12px">File Description</label>
                          <input autocomplete="off"  name="description" placeholder= "e.g Mammograph" class="patientdata dystolic inputs dataInfo" />
                        </div>
                        <div class="form-group vitals-section" style="width:50%;
                        margin: auto; top: 60%;position:absolute;left:25%; display:none">
                          <input (change) = fileSelected($event) #picker type ="file"  name="file" multipe ng2FileSelect [uploader] = uploader  class="patientdata dystolic inputs dataInfo" />
                        </div>
                      </div>
                  </div>
            <button style=" width: 90px; font-size: 11px; left:393px; bottom:7%; "  type="submit" class="btn btn-sm btn-outline-primary inputs mainbtn" >Upload</button>
            <button style="width: 51px; font-size: 11px; left:340px; bottom:7%;" class="btn btn-sm btn-outline-primary inputs mainbtn" >Cancel</button>
          </form>
      </div>
    </div>
  </div>
</div>


<!-- <div *ngIf="patients.length" class="modal fade" role="dialog" tabindex="-1" id="medicModal" style="border-radius:12px;width:auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:480px;border-radius:0px;border-radius:12px;padding-left:0px;padding-right: 0px;">
            <div class="modal-body" style="border-radius:0px;padding: 0px;">
                <div class="card card-secondary historycard midlecard profilecard" style="margin:auto;min-height:200px;border-radius:12px;">
                    <div style='padding-left: 30px;border-top-right-radius:12px;border-top-left-radius:12px;' class="card-header profileheader small-header">
                        <i *ngIf = medicView (click)=switchToNewMedic() style='position:absolute;
                          left:1%;top:2%; cursor:pointer;
                          display: inline-block;
                          color:#1da1f2;' title="Back"
                          class="icon ion-android-arrow-back ">
                      </i>
                        <div style="left:23px" class="timeline lastdoc priscriber headerdp small-dp">
                          <img [src] = getDp(patients[curIndex].info.personal.avatar)/>
                        </div>
                        <a href="#" class="patien-name small-name">
                          {{patients[curIndex].info.personal.firstName + ' '+ patients[curIndex].info.personal.lastName}}<span class="small-headericon"></span>
                        </a>
                        <h6 style='font-size:10px; font-weight:bold; position:absolute;color:dodgerblue;  top:4%;left:76%' class="patien-name small-name">MEDICATIONS</h6>
                    </div>
                    <div *ngIf="!medicView" style="width:56%;margin:auto" class="card-body orderbody">
                    <h1 *ngIf='!medications.length' style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO RECORD</h1>
                        <div *ngFor="let medic of patients[curIndex]?.record.medications; let i = index" class="carditem priscriptioncontainer order">
                            <div  class="timeline condition drugtimeline">
                                <p class="timelinedate">{{medic[0]?.meta.dateAdded|date:'dd'}}</p>
                                <p class="timelinedate month">{{medic[0]?.meta.dateAdded|date:'MMM'|uppercase}}</p>
                            </div>
                            <div *ngFor ="let m of medic; let j = index" class="priscription drug">
                                <h6 class="dept">{{m.name}}&nbsp;<span class="predata">
                                 
                                  <i title="Continue" (click)=playMedication(i,j) *ngIf = m.paused class="icon ion-ios-play-outline editicon continue"></i>
                                  <i title="Discontinue" (click)= pauseMedication(i,j) *ngIf = !m.paused class="icon ion-ios-pause-outline editicon continue"></i></span><span class="predata priceval">
                                  </span></h6>
                                <h6 class="dept previnfo">Dosage&nbsp;<span class="predata">{{m.priscription.piriod+' '+ '|'+' '+m.priscription.freq}} </span>
                                </h6>
                                <h6 class="dept previnfo"style="color:lightgrey">
                                  {{m.meta.dateAdded|date:'hh:mma'|lowercase}}<span class="predata lastadministered" style="left:49%;width:97px; position:absolute; text-align:right">
                                    {{m.lastTaken|date:'dd MMM hh:mma'|lowercase}}</span>
                                </h6>
                            </div>
                       </div>
                  </div>
                  <div *ngIf="medicView" style="width:54%;margin:auto" class="card-body orderbody">
                        <form style="top:15%; padding-left: 2%; padding-right: 2%;" class=" staffsform" (submit) = updateMedication()>
                            <div class="form-group vitals-section address">
                                <label style='font-size:8px' for="drug" class="labelss">PRODUCT</label>
                                <input (focus)=clearFeedBack() autocomplete="off" (keyup)= "searchItems(item.name, 'drug')" [(ngModel)] = item.name type="text" name="drug" placeholder= "E.g Paracetamol 500mg" class="form-control patientdata dystolic inputs dataInfo" style="font-size:11px;" />
                                <div *ngIf= temItems.length  class="options prisOption edit">
                                    <ul class="itemsList" >
                                      <li  *ngFor="let item of temItems"><p (click) = "addSelection(item)"  class="dept firstheader drugItem" style="font-size:11px;padding-left: 10px; padding-right: 10px;font-weight: normal;" >{{item.name}}<span class="lastdept timetaken " ></span></p>
                                      </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group vitals-section formGroup" style=" width:26%;">
                                <label style='font-size:8px' for="dos" class="labelss complain">INTAE</label>
                                <input [min] = '1' [(ngModel)] = "priscription.intake" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;font-size:11px"  type="number" name="dos" class="patientdata inputs dataInfo"  >
                            </div>
                            <div class="form-group vitals-section formGroup" style=" width:37%; ">
                                <label style='font-size:8px' for="intake" class="labelss complain">FREQ</label>
                                <select  [(ngModel)]="priscription.freq" style="border-radius: 0px;font-size:11px;                      border-top-right-radius: 0px;          border-bottom-right-radius:0px"
                                  class=" patientdata status inputs dataInfo " name="intake">
                                    <option>dos</option>
                                    <option>qos</option>
                                    <option>am</option>
                                    <option>ar</option>
                                </select>
                            </div>
                            <div class="form-group vitals-section formGroup" style=" width:26%;">
                                <label style='font-size:8px' for="piriod" class="labelss complain">DAYS</label>
                                <input [min]='1' [(ngModel)]="priscription.piriod" style="border-radius: 0px; font-size:11px;"
                                type="number" name="piriod" class="patientdata inputs dataInfo" placeholder="">
                                <div id='moreBtn' title="Add medication"><i (click)="addMore()" class="icon ion-ios-plus-empty arrow " style="font-size:25px;position: absolute;left:27%;top:-17%; cursor:pointer"></i>
                                </div>
                            </div>

                            <div *ngIf="tempMedications.length" style="top:1px; margin-bottom:25px;"  class="form-group vitals-section setGroup">
                              <table   cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. " >
                                  <thead class='productHead'>
                                    <tr class="staff-th">
                                        <th class="headlbl staff-th">PRODUCT</th>
                                        <th class="headlbl staff-th">DOSAGE</th>
                                        <th class="headlbl staff-th">PRICE</th>
                                        <th class="headlbl staff-th"></th>
                                    </tr>
                                  </thead>
                                   <tbody>
                                      <tr *ngFor="let med of tempMedications; let i = index; let odd = odd;"  style="border-bottom:2px solid white;" [class.even]=odd  class="ro staff-row">
                                          <td style="padding-left:4px;" class="data">
                                          {{med.name}}<span class="predata"></span></td>
                                          <td class="data">
                                            {{med.priscription.intake +'-'+med.priscription.freq+'-'+med.priscription.piriod}}</td>
                                          <td class="data">
                                            {{med.stockInfo.price||'---'}}</td>
                                      </tr>
                                  </tbody>
                                     <tfoot col-span='4' style='font-size:11px; text-align:right; position:absolute; font-weight:bold;padding-right: 10px; border-top: 1px solid whitesmoke;width:100%'>Total: <span>{{getPriceTotal()}}</span> </tfoot>
                                </table>
                            </div>

                        </form>
                  </div>
                 <div *ngIf="!medicView"  (click)="switchToNewMedic()"
                       style='left:80%; height:32px;width:32px'
                       title ='Add Medication' class="floter">

                    <i style="color:#1da1f2; left:8px; font-size:25px;bottom:5px"
                       class="icon ion-ios-plus-empty arrow flotericon">
                    </i>
                </div>
                <div *ngIf="medicView && tempMedications.length" (click)="saveMedication(curIndex)" style='left:80%; height:32px;width:32px'
                title ='Done' class="floter">
                <i *ngIf='loading' class="fa fa-circle-o-notch fa-spin fa-10x slow-spin" style="position:absolute;bottom:5px;left:5px;font-size:20px;color: #1da1f2;"> </i>

                <i *ngIf='!loading' style="color:#1da1f2;bottom:-10px"
                  class="icon ion-ios-checkmark-empty flotericon"> </i>
                 
              </div>
            </div>
        </div>
     </div>
  </div>
</div> -->



<nav class="navbar fixed-top navbar-light navbar-expand-md navigation-clean-search" style="padding:0px; margin-bottom:0px">
    <div class="container">
        <a class="navbar-brand" href="#">
            <em>spinr</em>
        </a>
        
        <div class="collapse navbar-collapse" id="navcol-1">
            
            <form class="top-searchform" target="_self">
                <div class="form-group">
                  <input [(ngModel)] = searchTerm #search (keyup)='searchPatient(searchTerm)' autocomplete = "off" style="border-radius:.999em;
                  width:80%;display:inline-block;
                  position: absolute;
                  text-align: left;
                  vertical-align: middle;
                  top:11%;
                  background-color: rgba(233, 236, 239, 0.7);
                  box-shadow:none;
                  outline:none;
                  "
                  class="form-control"
                  type="search" name="search" id="search-field" placeholder="Search patient">
                  <i style='font-size:20px; top:3px;left:83%;position:relative;display:inline' class="icon ion-ios-search " title="Search"></i>
           <h6 style='font-size:12px;
                        left:98%;position:relative;display:inline-block;
                        color:grey;
                        font-weight:normal;'>Sort by: <span stye='cursor:pointer'(click)='toggleSortMenu()'>
                          {{nowSorting}}</span></h6>
            <div *ngIf=sortMenu style='position: absolute;
                        left:120%;
                        width:100px;top:6px;
                        height:110px'  class="menu">
              <ul (mouseleave) = 'toggleSortMenu()' class="actions primary">
                  <li (click)='sortPatients("name")' class="action">A-Z</li>
                  <li (click)='sortPatients("age")' class="action">Age</li>
                  <li (click)='sortPatients("status")' class="action">Status</li>
                  <li (click)='sortPatients("sex")' class="action">Gender</li>
                  <li (click)='sortPatients("date")' class="action">Date added</li>
              </ul>
          </div>
       </div>          
      </form>
        </div>
    </div>
    <i style="left:80%;" class="icon ion-android-notifications-none arrow buble note" title="Notifications"></i>
    <i [routerLink]="['../../me']" data-target="#newModal" data-toggle="modal" style="left:83%;" class="icon ion-ios-person-outline arrow buble" id="add" title="Me" ></i>

    <div class="timeline lastdoc priscriber headerdp small-dp user-dp"style="left:90%;position:absolute;height:30px;width:30px;top:5px; margin-bottom:0px;"> <img style='height:100%; width:100%; object-fit:cover;' [src] = getMyDp()/></div>
    </nav>

<div style="padding-top:60px" class="container">
        <div class="row">
        <div *ngIf='!patients.length' class='issue'>
            <div *ngIf='loading' class="lds-css ng-scope">
            <div style="width:100%;height:100%" class="lds-rolling"><div></div></div></div>
            <div (click)=refresh()  *ngIf='message' title='Refresh' class='refresh'><i class="icon ion-ios-reload "></i></div>
             <h6 *ngIf='message' style='font-size:13px;position:absolute;top:65%; width:100%; color:lightgrey;text-align: center' >{{message}}</h6>
         </div>
          <div *ngFor="let patient of patients; let i=index"  class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div style="border-radius:12px" *ngIf = "patient.card.view == 'front'"  class="card card-secondary maincard">
                  <div style="border-radius:12px" class="card-header profileheader">
                  <i  (click)='showMenu(i)' class="icon ion-android-more-vertical headericon moreicon actions-icon"></i>
                  <div (mouseleave)= hideMenu(i) *ngIf = "patient.card.menu" class="menu">
                      <ul class="actions primary">
                          <li (click)="pullNote(i)" data-target="#noteModal" data-toggle="modal" class="action">Add Note</li>
                          <li (click)="pullMedications(i)" data-target="#medicModal" data-toggle="modal" class="action">Medications</li>
                          <li (click) = 'dischargePtient(patient, i)' class="action">Discharge</li>
                      </ul>
                  </div>
                  <div class="timeline lastdoc priscriber headerdp">
                      <img [src] = getDp(patient.info.personal.avatar)/>
                  </div>
                  </div>
                  <p style='margin-bottom:2px;' *ngIf='!routeHas("consultation")' class="patien-name">{{patient.info.personal.firstName + ' '+ patient.info.personal.lastName}}</p>
                  <a *ngIf=' routeHas("consultation")' href="#" title="View history" [routerLink]="['../history', patient._id]" routerLinkActive="router-link-active" class="patien-name">
                  {{patient.info.personal.firstName + ' '+ patient.info.personal.lastName}}<span class="predata editicon"></span></a>
                  <div class="card-body mainbody">
                      <div class="carditem basic-item">
                          <h6 class="dept basic-info">Sex</h6>
                          <h6 class="dept basic-info sex-info">
                              {{patient.info.personal.gender.charAt(0).toUpperCase()}}
                          </h6>
                      </div>
                      <div class="carditem basic-item">
                          <h6 class="dept basic-info">Age</h6>
                          <h6 class="dept basic-info sex-info">{{patient.info.personal.dob|dob}}</h6>
                      </div>
                      <div class="carditem basic-item">
                        <h6 class="dept basic-info">Room</h6>
                        <h6 class="dept basic-info sex-info"> {{patient.record.visits[0][0].wardNo ||'?'}}<span style='vertical-align:super;font-size:12px;font-weight: normal'>
                          {{patient.record.visits[0][0].bedNo ||'?'}}</span></h6>
                      </div>
                      <div class="priscription basic-subinfo">
                          <div class="sub-container">
                              <h6 class="dept basic-secondary basic-value">
                                {{patient.record.visits[0][0].dept}}
                              </h6>
                          </div>
                          <div class="sub-container">
                                <h6 style="width:100%;text-align:center" class="dept basic-secondary basic-value">
                                  {{patient.record.visits[0][0].visitedOn|date:'dd MMM yy'}}&nbsp;<span>
                                  {{patient.record.visits[0][0].visitedOn|date:'hh:mma'|lowercase}}</span>
                                </h6>
                          </div>
                        </div>
                    </div>
              </div>
        </div>
    </div>
</div>
