<div class="modal fade" role="dialog" tabindex="-1" id="newModal" style="border-radius:4px;width:auto;">
  <div class="modal-dialog" role="document">
      <div class="modal-content" style="width:500px;border-radius:4px;;padding-left:0px;padding-right: 0px;">
          <div class="card-header profileheader small-header">
              <i class="icon ion-android-more-vertical small-icon"></i>
                <div class="timeline lastdoc priscriber headerdp small-dp">
                </div>
                <a href="#" class="patien-name small-name">
                  {{patients[curIndex].info.personal.firstName + ' '+ patients[curIndex].info.personal.lastName}}
                  <span class="small-headericon"></span>
                </a>
          </div>
          <div class="modal-body" style="border-radius:0px;padding-left:0px;padding-right: 0px;padding-top: 0px">
              <form (submit) = updateNote() novalidate  class="patientform" >
                   <div class="card card-secondary historycard midlecard profilecard" style="border-bottom:none;margin:0px;margin-right: 0px;width:100%; min-height: 140px;">
                      <div style="padding-top:0px;padding-left: 10px; padding-right: 10px;"  class="card-body topcardbody clientinfobody nopading">
                        <div class="form-group vitals-section formGroup newnote" >
                          <textarea [(ngModel)]="note.note" id ='newnote' style="width:100%; min-height: 110px; font-size: 13px; padding: 5px; border: 0px; " name= "note" placeholder="Additional note"></textarea>
                        </div>
                      </div>
                  </div>

                  <button style=" width: 90px; font-size: 11px; left:393px; bottom:7%; "  type="submit" class="btn btn-sm btn-outline-primary inputs mainbtn" >Add Note</button>
                  <button style="width: 51px; font-size: 11px; left:340px; bottom:7%;" class="btn btn-sm btn-outline-primary inputs mainbtn" >Cancel</button>
          </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" role="dialog" tabindex="-1" id="filesModal" style="border-radius:4px;width:auto;">
  <div class="modal-dialog" role="document">
      <div class="modal-content" style="width:500px;border-radius:4px;;padding-left:0px;padding-right: 0px;">
          <div class="card-header profileheader small-header">
              <i class="icon ion-android-more-vertical small-icon"></i>
                <div class="timeline lastdoc priscriber headerdp small-dp">
                 <img [src] = getDp(patient)/>
                </div>
                <a href="#" class="patien-name small-name">
                  {{patients[curIndex].info.personal.firstName + ' '+ patients[curIndex].info.personal.lastName}}<span class="small-headericon"></span>
                </a>
            </div>
          <div class="modal-body" style="border-radius:0px;padding-left:0px;padding-right: 0px;padding-top: 0px">
              <form (submit) = uploader.uploadAll() novalidate  class="patientform" >
                <div class="card card-secondary historycard midlecard profilecard" style="border-bottom:none;margin:0px;margin-right: 0px;width:100%; min-height: 140px;">
                      <div style="padding-top:0px;padding-left: 10px; padding-right: 10px;"  class="card-body topcardbody clientinfobody nopading">
                        <div class="form-group vitals-section" style="width:50%;
                        margin: auto; top: 10%;position:absolute;left:25%;">
                          <div class="card scan-thumnail">
                            <a href="IMG-20180927-WA0000.jpg" target="_blank" class="image-link" data-lightbox="scan"><img [src]= url class="img-fluid" /></a>
                          </div>
                        </div>
                        <div class="form-group vitals-section" style="width:50%;
                        margin: auto; top: 10%;position:absolute;left:38%;">
                          <div class="card scan-thumnail">
                              <i (click)="picker.click()" class="icon ion-ios-plus-empty addicon" title="Browse file"></i>
                          </div>
                        </div>
                        <div class="form-group vitals-section" style="width:50%;
                        margin: auto; top: 60%;position:absolute;left:25%;">
                          <label for="Description" class="labelss" style="font-size:12px">File Description</label>
                          <input autocomplete="off"  name="description" placeholder= "e.g Mammograph" class="patientdata dystolic inputs dataInfo" />
                        </div>
                        <div class="form-group vitals-section" style="width:50%;
                        margin: auto; top: 60%;position:absolute;left:25%; display:none">
                          <input (change) = fileSelected($event) #picker type ="file"  name="file" multipe ng2FileSelect [uploader] = uploader  class="patientdata dystolic inputs dataInfo" />
                        </div>
                      </div>
                  </div>
            <button style=" width: 90px; font-size: 11px; left:393px; bottom:7%; "  type="submit" class="btn btn-sm btn-outline-primary inputs mainbtn" >Upload</button>
            <button style="width: 51px; font-size: 11px; left:340px; bottom:7%;" class="btn btn-sm btn-outline-primary inputs mainbtn" >Cancel</button>
          </form>
      </div>
    </div>
  </div>
</div>


<div class="sidenav">
    <a href="#" class="home homemenu" title="Menu">
        <span class="homespan">
            <i class="material-icons homeicon">sort</i>
        </span>
    </a>

    <a href="#" [routerLink]="['/pharmacy']"  class="home dashboard" title="Dashboard">
        <span class="homespan">
            <i class="icon ion-android-apps homeicon"></i>
        </span>
    </a>
    <a href="#" [routerLink]="['/information']" routerLinkActive="router-link-active"  class="home patienmenu" title="Patients">
        <span class="homespan">
            <i class="icon ion-ios-people-outline homeicon"></i>
        </span>
    </a>
    <a href="#" [routerLink]="['/consultation']" routerLinkActive="router-link-active"  class="home reviewmenu" title="Appointments">
        <span class="homespan">
            <i class="icon ion-ios-calendar-outline homeicon"></i>
        </span>
    </a>
    <a href="#" [routerLink]="['/products']" routerLinkActive="active"  class="home cartmenu" title="Products">
        <span class="homespan"> <i class="icon ion-ios-cart-outline homeicon"></i></span></a>
    <a href="#" [routerLink]="['/ward']" routerLinkActive="router-link-active"   class="home wardmenu" title="Ward"><span class="homespan"><i class="material-icons homeicon wardicon">airline_seat_individual_suite</i></span></a>
    <a href="#"  [routerLink]="['/account']" routerLinkActive="router-link-active" class="home settings" title="Settings"><span class="homespan"><i class="icon ion-ios-gear-outline homeicon"></i></span></a>
  </div>
  <nav class="navbar fixed-top navbar-light navbar-expand-md navigation-clean-search" style="padding:0px; margin-bottom:0px">
  <div class="container">
      <a class="navbar-brand" href="#">
          <em>MS</em>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav"></ul>
          <form class="form-inline mr-auto searchform" target="_self">
              <div class="form-group">
                  <label for="search-field">
                      <i class="icon ion-ios-search searchicon" title="Search"></i>
                  </label>
                  <input autocomplete="off" style="border-radius:30px; left: 405px; width:220px;background-color: rgb(243, 248, 247); margin: auto;" class="form-control search-field" type="search" name="search" id="search-field" placeholder="Search Patient">
              </div>
          </form>
      </div>
  </div>
  <i style="left:80%;" class="icon ion-android-notifications-none arrow buble note" title="Notifications"></i>

  <i [routerLink]="['/messages']" data-target="#newModal" data-toggle="modal" style="left:83%;" class="icon ion-ios-person-outline arrow buble" id="add" title="My Account" ></i>

  <div class="timeline lastdoc priscriber headerdp small-dp user-dp"style="left:90%;position:absolute;height:30px;width:30px;bottom:-8%"></div>
  </nav>



<div style="padding-top:40px;" class="container">
<div class="row">
    <div *ngFor = "let patient of patients; let i = index" class="col col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div  style="min-height:400px;max-height:400px;"  *ngIf = "patient.card.view == 'front'"    class="card card-secondary maincard">
            <div class="card-header profileheader small-header">
                <i style='cursor:pointer;z-index:1' title='More...' (click)='showMenu(i)' (blur)=hideMenu() class="icon ion-android-more-vertical small-icon"></i>
                <div class="timeline lastdoc priscriber headerdp small-dp">
                    <img [src] = getDp(patient)/>
                </div>
                  <a href="#" class="patien-name small-name">
                    {{patient.info.personal.firstName + ' '+ patient.info.personal.lastName}}
                    <span style="font-weight:normal; margin-left: 3px;">
                        | Bed:
                    </span>
                    <span style="font-weight:normal; margin-left: 3px;">
                    {{ patient.record.visits[patient.record.visits.length-1].bedNo || 'Unassigned'}}
                    </span>
                    <span class="small-headericon"></span>
                  </a>

                <div *ngIf = "patient.card.menu" class="menu">
                    <ul class="actions primary">
                        <li class="action">Update Vitals</li>
                        <li (click)="swichtToBack(i)" class="action">Add Medication</li>
                        <li (click)="addMedication(i)" data-target="#newModal" data-toggle="modal" class="action">Add Note</li>
                        <li (click)="selectPatient(i)" data-target="#filesModal" data-toggle="modal" class="action">Attach Files</li>
                    </ul>
                </div>
            </div>
            <div class="card-body orderbody">
              <div *ngFor="let medic of patient.record.medications; let j = index" class="carditem priscriptioncontainer order">
                  <div  class="timeline condition drugtimeline">
                      <p class="timelinedate">{{medic[0].dateAdded|date:'dd'}}</p>
                      <p class="timelinedate month">{{medic[0].dateAdded|date:'MMM'|uppercase}}</p>
                  </div>
                  <div *ngFor ="let m of medic; let k = index" class="priscription drug">
                      <h6 class="dept">{{m.product.item.name}}&nbsp;<span class="predata">{{m.product.item.mesure+m.product.item.unit}}
                        <i title="Continue" (click)=playMedication(i,j,k) *ngIf = m.paused class="icon ion-ios-play-outline editicon continue"></i>
                        <i title="Discontinue" (click)= pauseMedication(i,j,k) *ngIf = !m.paused class="icon ion-ios-pause-outline editicon continue"></i></span><span class="predata priceval">
                        </span></h6>
                      <h6 class="dept previnfo">Dosage&nbsp;<span class="predata">{{m.priscription.piriod+' '+ '|'+' '+m.priscription.freq}} </span>
                      </h6>
                      <h6 class="dept previnfo"style="color:lightgrey">
                        {{m.dateAdded|date:'hh:mma'|lowercase}}<span class="predata lastadministered" style="left:49%;width:97px; position:absolute; text-align:right">
                          {{m.lastTaken|date:'dd MMM hh:mma'|lowercase}}</span>
                      </h6>

                  </div>
             </div>
             
          </div>
          <div *ngIf ='medidcationsSelected(i)' style="border:none;background:blue" class="card-footer">
              <div (click)="swichtToFront(i)" style="width:50%;border:none;left:0%;color:white;padding-top:5px;" class="icon-container edit-container">
                <h6 style="text-align:center" class="dept">Cancel</h6>
              </div>
              <div (click)="updateTimeTaken(i)" style="width:50%;left:50%;border:none;color:white;padding-top:5px;"  class="icon-container"> <h6 style="text-align:center" class="dept">Administered</h6></div>
          </div>
            <!-- <div class="floter" title="Examine"><i (click)="updateTimeTaken()"class="icon ion-person-stalker flotericon consulticon" title="Administered"></i>
            </div> -->
        </div>
        <div  *ngIf = "patient.card.view == 'back'"  style="min-height:400px;max-height:400px;" class="card card-secondary maincard">
          <div class="card-header profileheader small-header">
            <i class="icon ion-android-more-vertical small-icon"></i>
            <div class="timeline lastdoc priscriber headerdp small-dp"></div><a href="#" class="patien-name small-name">
              {{patient.info.personal.firstName + ' '+ patient.info.personal.lastName}}<span class="small-headericon"></span></a>
          </div>
          <div style="margin-left:0px; padding-top:15%; border-left: none" class="card-body orderbody" >
              <form style="top:15%; padding-left: 2%; padding-right: 2%;" class=" staffsform" (submit) = updateMedication()>
                <div class="form-group vitals-section address">
                    <label for="drug" class="labelss">Drug Name</label>
                    <input autocomplete="off" (keyup)= "searchItems(input)" [(ngModel)] = input type="text" name="drug" placeholder= "E.g Paracetamol" class="patientdata dystolic inputs dataInfo" />
                    <div *ngIf= temItems.length  class="options prisOption edit">
                        <ul class="itemsList" >
                          <li  *ngFor="let item of temItems"><p (click) = "addSelection(item)"  class="dept firstheader drugItem" style="font-size:13px;padding-left: 10px; padding-right: 10px;font-weight: normal;" >{{item.name+ ' '}}<span class="lastdept timetaken " >{{item.mesure + item.unit}}</span></p>
                          </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group vitals-section formGroup" style=" width:26%;">
                    <label for="dos" class="labelss complain">Intake</label>
                    <input [(ngModel)] = "priscription.intake" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;"  type="number" name="dos" class="patientdata inputs dataInfo"  >
                </div>
                <div class="form-group vitals-section formGroup" style=" width:37%; ">
                    <label for="intake" class="labelss complain">Freq</label>
                    <select [(ngModel)]="priscription.freq" style="border-radius: 0px;"  class=" patientdata status inputs dataInfo " name="intake">
                            <option>dos</option>
                            <option>qos</option>
                            <option>after meal</option>
                            <option>as required</option>
                    </select>
                </div>
                <div class="form-group vitals-section formGroup" style=" width:26%;">
                    <label for="piriod" class="labelss complain">Days</label>
                    <input [(ngModel)]="priscription.piriod" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;"  type="number" name="piriod" class="patientdata inputs dataInfo"   placeholder="">
                    <div title="Add product" style="display:inline-block;position:absolute; height:28px; width:25px;background-color:lightgrey"><i (click)="addMedication()" class="icon ion-ios-plus-empty arrow " style="font-size:25px;position: absolute;left:27%;top:-17%; cursor:pointer"></i>
                    </div>
                </div>

                <div *ngIf="tempMedications.length" style="top:1px; margin-bottom:25px;"  class="form-group vitals-section setGroup">
                  <table   cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. " >
                       <tbody>
                          <tr *ngFor="let med of tempMedications; let i = index; let odd = odd;"  style="border-bottom:2px solid white;" [class.even]=odd  class="ro staff-row">
                              <td style="padding-left:4px;" class="data">
                              {{med.product.item.name}}<span class="predata">{{med.product.item.mesure+med.product.item.unit}}</span></td>
                              <td class="data">
                                {{med.priscription.intake +med.priscription.freq+ ' '+'|'+' '+ med.priscription.piriod}}</td>
                              <td class="data">
                                {{med.product.stockInfo.price}}</td>
                          </tr>
                      </tbody>
                    </table>
                </div>

            </form>
          </div>

          <div (click)='switchToFront(i)'  style="border:none;background:#1da1f2" class="card-footer">
              <div style="width:50%;border:none;left:0%;color:white;padding-top:5px;" class="icon-container edit-container">
                <h6 style="text-align:center" class="dept">Cancel</h6>
              </div>
              <div (click)=saveMedication(i) style="width:50%;left:50%;border:none;color:white;padding-top:5px;"  class="icon-container"> <h6 style="text-align:center" class="dept">Done</h6></div>
          </div>
      </div>



    </div>



  </div>
</div>
