
<router-outlet>
  <div class="modal fade" role="dialog" tabindex="-1" id="noteModal" style="border-radius:12px;width:auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:480px;border-radius:0px;border-radius:12px;padding-left:0px;padding-right: 0px;">
            <div class="modal-body" style="border-radius:0px;padding: 0px;">
                <div class="card card-secondary historycard midlecard profilecard" style="margin:auto;min-height:200px;border-radius:12px;">
                    <div style='padding-left: 30px;border-top-right-radius:12px;border-top-left-radius:12px;' class="card-header profileheader small-header">
                          <div style="left:10px" class="timeline lastdoc priscriber headerdp small-dp">
                            <!-- <img [src] = getDp(patients[curIndex]?.info.personal.avatar)/> -->
                          </div>
                          <a  class="patien-name small-name">
                            <!-- {{patients[curIndex]?.info.personal.firstName + ' '+ patients[curIndex]?.info.personal.lastName}}<span class="small-headericon"></span> -->
                          </a>
                          <h6 style='font-size:10px; font-weight:bold; position:absolute;color:dodgerblue;  top:4%;left:76%' class="patien-name small-name">ADD NOTE</h6>
                      </div>
                      <div style="width:90%;margin:auto" class="card-body orderbody">
                        <form novalidate  class="patientform" >
                          <div class="card card-secondary historycard midlecard profilecard" style="border-bottom:none;margin:0px;margin-right: 0px;width:100%; min-height: 140px;">
                             <div style="padding-top:0px;padding-left: 10px; padding-right: 10px;"  class="card-body topcardbody clientinfobody nopading">
                               <div class="form-group vitals-section formGroup newnote" >
                                 <textarea id ='newnote' style="width:100%; min-height: 110px; font-size: 13px; padding: 5px; border: 0px; " name= "note" placeholder="Additional note"></textarea>
                               </div>
                             </div>
                           </div>
                          </form>
                   </div>
                   <div  style='left:78%; height:32px;width:32px;'
                         title ='Update' class="floter">
                          <i   class="fa fa-circle-o-notch fa-spin fa-10x slow-spin" style="position:absolute;bottom:5px;left:5px;font-size:20px;color: #1da1f2;">
                          </i>
                         <i  style="color:#1da1f2;bottom:-10px;" class="icon ion-ios-checkmark-empty flotericon">
                        </i>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</router-outlet>




