<div class="loginwrap">
  <div class="split"></div>
  <form class="accountform" (submit)="creatClient()">
    <div class="form-group vitals-section address">
      <label  for="name" class="labelss">COMPANY NAME</label>
      <input [(ngModel)]="main.name"  type="text" name="name" class=" inputs dataInfo patientdata" placeholder="e.g City Hospital">

    </div>
    <div class="form-group vitals-section formGroup" style="margin-right:2px;">
        <label  for="email" class="labelss">EMAIL</label>
        <input [(ngModel)]="main.email"  type="text" name="email" class=" inputs dataInfo patientdata"    placeholder="company email"/>

    </div>

    <div class="form-group vitals-section formGroup">
        <label for="speciment" class="labelss">MOBILE</label>
        <input [(ngModel)]="main.mobile"  type="text" name="holdername" class=" inputs dataInfo patientdata"  placeholder="company phone no."/>

    </div>
    <div class="form-group vitals-section formGroup" style="margin-right:2px;">
        <label for="pwd" class="labelss">PASSWORD</label>
        <input [(ngModel)]="main.pwd"  type=password name="pwd" class=" inputs dataInfo patientdata"  placeholder="new password"/>

    </div>
    <div class="form-group vitals-section formGroup">
        <label for="comfirm" class="labelss">COMFIRM PASSWORD</label>
        <input [(ngModel)]="main.comfirm"  type="password" name="comfirm" class=" inputs dataInfo patientdata" id="" placeholder="comfirm passoword"/>

    </div>
    <div class="form-group vitals-section address">
      <label  for="comname" class="labelss">ADDRESS</label>
      <input [(ngModel)]="main.address"  type="text" name="comaddress" class=" inputs dataInfo patientdata" placeholder="e.g block 4 city plaza, kaduna, kaduna state">

    </div>
    <div class="form-group vitals-section address">
      <button type="submit" class="btn btn-sm btn-outline-primary inputs" >Create Account</button>

    </div>



  </form>
</div>
