
body {

  background-color: rgb(243, 248, 247);
}

@media (min-width:768px) {
  .col-md-4 {
    -webkit-box-flex:0;
    -ms-flex:0 0 33.333333%;
  }
}

@media (min-width:768px) {
  .col-md-4 {
    -webkit-box-flex:0;
    -ms-flex:0 0 33.333333%;
  }
}

.col {
  -ms-flex-preferred-size:0;
  flex-basis:0;
  -webkit-box-flex:1;
  -ms-flex-positive:1;
  flex-grow:1;
  padding-left:0px;
  padding-right:0px;
  margin:0px;
}

@media (min-width: 300px) {
  .card {
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    width:295px;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:.25rem;
    margin-bottom:8px;
    height:400px;
  }
}

@media (min-width: 576px) {
  .card {
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    width:250px;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:.25rem;
    margin-bottom:8px;
    height:400px;
  }
}

@media (min-width: 768px) {
  .card {
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    width:250px;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:.25rem;
    margin-bottom:8px;
    height:400px;
  }
}

@media (min-width: 992px) {
  .card {
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    width:247px;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:.25rem;
    margin-left:px;
    margin-bottom:5px;
  }
}

@media (min-width: 1200px) {
  .card {
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    width:250px;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:0px;
    border-radius:.25rem;
    margin-left:px;
    margin-bottom:11px;
    height:400px;
  }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position:relative;
  min-height:1px;
  padding-right:0px;
  padding-left:0px;
}

.card-body {
  -webkit-box-flex:1;
  -ms-flex:1 1 auto;
  flex:1 1 auto;
  padding:0px;
  padding-top:0px;
  border-left:2px solid lightgrey;
  margin-left:25px;
  height:100px;
  position:relative;
}

@media (min-width:1200px) {
  .container {
    max-width:1140px;
  }
}



@media (min-width:1200px) {
  .container {
    max-width:1140px;
  }
}

@media (min-width: 300px) {
  .row {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:5px;
    margin-left:23px;
  }
}

@media (min-width: 576px) {
  .row {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-21px;
    margin-left:4px;
  }
}

@media (min-width: 768px) {
  .row {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-71px;
    margin-left:-20px;
  }
}

@media (min-width: 992px) {
  .row {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-87px;
    margin-left:-27px;
  }
}

@media (min-width: 1200px) {
  .row {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:24px;
    margin-left:40px;
  }
}

.card-body.card-secondary {
  padding-top:8%;
}

.card-body {
  padding-top:8%;
}

body, html {
  height:100vh;
}

.card-header {
  padding:.75rem 1.25rem;
  margin-bottom:0;
  background-color:white;
  border-bottom:1px solid rgba(0,0,0,.125);
}

.card-footer {
  padding:.75rem 1.25rem;
  background-color:white;
  border-top:1px solid rgba(0,0,0,.125);
}

.media.userprofile {
  width:30%;
}

.timeline.lastdoc.priscriber.headerdp {
  top:7px;
  left:12px;
  height:30px;
  width:30px;
}

.card-header.profileheader {
  height:45px;
  border-bottom:1px solid rgb(249,248,248);
}

.dept.displayname.subinfo {
  color:grey;
  font-weight:normal;
}

.dept.displayname {
  left:26px;
  font-weight:bold;
}
.dept.displayname.cond{
  left: 0px;
  color:grey;
}
.headericon.moreicon {
  font-size:20px;
  bottom:-4px;
  left:89%;
  color:blue;
}


.backicon {
  position:absolute;
  font-size:21px;
  color:blue;
  left:91%;
  bottom:92%;
  cursor:pointer;
}

.backicon:hover{
  cursor:pointer;
}

.moreicon:hover {
  cursor:pointer;
}

.headericon {
  font-size:31px;
  position:absolute;
  color:blue;
  /*left:48%;*/
  bottom:-10px;
  margin-left:2px;
}

.qicon {
}

.vitals-section
{
  position: relative;
  margin-bottom: 5px;
}
.inputs
{
  width: 100%;
  text-align: center;
  font-size: 13px;
}
.formGroup
{
  display: inline-block;
  width: 49.5%;

}
.rightGroup{
  margin-left:2px;
}
.modal-header{
  padding:0px;
}

fieldset {
  margin-top:20px;
  position:relative;
  margin-bottom:20px;
}
.rightgroup{
  margin-right:5px;
}
legend {
  display:block;
  width:100%;
  max-width:100%;
  padding:0;
  margin-bottom:.5rem;
  color:#45adf2;
  white-space:normal;
  font-size:11px;
  border-bottom:1px solid #e0e3e4;
  text-align:right;
  font-size:11px;
  font-weight:bold;
  text-align:left;
}
.emptyCard {
  color:lightgray;
  position: absolute;
  width: 100%;
  top:43%;
  text-align: center;
}
.btn-group, .btn-group-vertical {
  position:relative;
  display:-webkit-inline-box;
  display:-ms-inline-flexbox;
  display:inline-flex;
  vertical-align:middle;
}

.btn.btn-primary.btn-outline-primary.btn-sm {
  position:relative;
  /*bottom:20px;*/
  /*left:20px;*/
  width:100%;
  /*padding-top:2px;*/
  /*padding-bottom:2px;*/
  border:none;
  height:100%;
}

.footerbotton {
  position:relative;
  /*height:100%;*/
  width:100%;
  border-bottom:27%;
  bottom:0px;
}

.cardbtnfooter {
  height:29px;
  padding:0px;
  border:none;
  background:rgb(252,252,252);
}

.btn.btn-primary.btn-sm.btn-outline-primary.btn-sm.leftbtn {
  border-top-left-radius:0px;
}

.btn.btn-primary.btn-outline-primary.btn-sm.rightbtn {
  border-top-right-radius:0px;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow:none;
}

.grouper{
  width:100%;
  position: relative;
}
.gmember{
  width:100%;
  padding-top:0px;
  padding-bottom:0px;
  border-color: rgb(235, 235, 235);
  font-size: 11px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.gmember:hover{
  background: rgb(235, 235, 235);
  border-color: rgb(235, 235, 235);
}
.leftgorup{
  margin-right:4px;
}
.disposeNote{
  width: 100%;
  position: relative;
  border: 1px rgb(235, 233, 233) solid;
  /* top: 20px; */
  font-size: smaller;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
  min-height: 130px;
  text-align:left;

}
.note{
  width:100%;
  text-align:left;
  min-height: 100px;
  max-height: 150px;
}
.notelabel{
  bottom:93%;
}
.selected{
  border-color:blue;
}
.setDivider{
  font-size: 11px; color:lightgray; position:absolute; left:45%;; align-self: center; top: -7%; text-align: center; background: white;
}
.setGroup{
  border-top: 1px solid whitesmoke;
  margin-top: 5px;
  padding-top: 4px;
}
.floter {
  width:30px;
  height:30px;
  border-radius:50%;
  border:1px solid whitesmoke;
  position:absolute;
  bottom:5%;
  left:80%;
  cursor:pointer;
}
.flotericon {
  position:relative;
  left:7px;
  font-size:13px;
  color:blue;
}

.floter {
  width:30px;
  height:30px;
  border-radius:50%;
  border:1px solid whitesmoke;
  position:absolute;
  bottom:5%;
  left:80%;
  cursor:pointer;
}
.timetaken.lastdept {
  font-size:11px;
  font-weight:normal;
  /*left:71%;*/
  text-align:right;
  /*display:block;*/
  width:65%;
  left:31%;
  color:rgb(191,190,190);
  padding-left:5px;
}

.timeline.condition {
  background:white;
  border-radius:0px;
}
.headericon {
  font-size:33px;
  position:absolute;
  color:#07f282;
  /*left:48%;*/
  bottom:-10px;
  margin-left:2px;
}



.headericon.clock {
  font-size:17px;
  bottom:-2px;
  color:rgb(181,179,179);
}
.options{
  position:absolute;
  height:300px ;
  width: 100%;
  border: 1px solid whitesmoke;
  z-index: 1;
  background: white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.itemsList{
  padding-top: 6px;
  padding-left: 0px;
  list-style: none;
  background: white;
  height: 100%;
}
.itemsList li{
  list-style: none;
  margin-bottom: 3px;
  cursor: pointer;
}
.itemsList p:hover
{
  background: lightblue;
  color:white;
}

.drugItem{
  font-size: 17px;
}

.prisOption{
  width: 70%;
  margin:auto;
  align-self:center;
  left: 15%;

}
.prisOption.edit{
  width: 100%;
  margin:auto;
  align-self:center;
  left: 0%;

}
.prisOption p{
  padding-left: 10px;
  padding-right: 10px;
  font-size:13px;
  font-weight: normal;

}

#addmorebtn{
  padding-top: 1px;
  padding-bottom:1px;
  margin-right:3px;
  font-size: 16px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height:100%; bottom:1px;
  position:relative;
  width:100%;
}
.menu{
  position: relative;
  width: 50%;
  left: 78%;
  bottom: 10px;
  height: 100px;
  border-radius: 4px;
  border: 1px solid whitesmoke;
  background-color: white;
  z-index: 1;

}
.actions{
  list-style:none;
  font-size: 11px;
  padding: 0px;
  padding-top:5px;
}
.action{
  padding-left: 10px;
  cursor: pointer;
  width:100%;
  height: 20px;
  padding-top: 2px;
}

.action:hover{
  background:blue;
  color: white;
}
.headericon.gone {
  font-size: 17px;
  bottom: -2px;
  color: red;
}
.headericon.in {
  font-size: 17px;
  bottom: -2px;
  color: #fff500;
}


