
<router-outlet></router-outlet>
<div style="background: white;z-index:1035" class="sidenav">

  <a  *ngIf="isBillable()"  style="top:28%"  href="#" [routerLink]="['./']" [routerLinkActiveOptions]={exact:true}  routerLinkActive="router-link-active"  class="home reviewmenu" title="Pending Orders"><span class="homespan"><i style ='font-size: 22px; color: rgb(158, 158, 158); position: relative; top:5px;right: 3px;' class="material-icons homeicon wardicon">check</i></span>
  </a>
  <a  *ngIf="isBillable()"  style="top:35%" href="#" [routerLink]="['./completed']" routerLinkActive="router-link-active"   class="home wardmenu" title="Completed Orders"><span class="homespan"><i style ='font-size: 22px; color: rgb(158, 158, 158); position: relative; top:5px;right: 3px;' class="material-icons homeicon wardicon">done_all</i></span>
  </a>
  <a *ngIf = "isBillable()" style="top:43%" href="#"   [routerLink]="['./notifications']" routerLinkActive="router-link-active"  class="home reviewmenu" title="Notifications">
    <span class="homespan">
        <i  style ='font-size: 26px;position:relative;' class="icon ion-android-notifications-none homeicon"></i>
    </span>
</a>

  <a *ngIf='isAdmin() || isInfo() || isWard()' style="top:21%" href="#" [routerLink]="['./']" [routerLinkActiveOptions]={exact:true}  routerLinkActive="router-link-active"  class="home reviewmenu" title="Discharged">
      <span class="homespan">
          <i  style ='font-size: 26px;position:relative; ' class="icon ion-ios-checkmark-outline homeicon"></i>
      </span>
  </a>
  <a *ngIf='isConsult()' style="top:49%" href="#" [routerLink]="['./discharged']" [routerLinkActiveOptions]={exact:true}  routerLinkActive="router-link-active"  class="home reviewmenu" title="Discharged">
      <span class="homespan">
          <i  style ='font-size: 26px;position:relative; ' class="icon ion-ios-checkmark-outline homeicon"></i>
      </span>
  </a>
  <a *ngIf='isAdmin() || isInfo() || isConsult()' style="top:42%" href="#" [routerLink]="['./appointments']"   routerLinkActive="router-link-active"  class="home reviewmenu" title="Appointments">
    <span class="homespan">
        <i class="icon ion-ios-calendar-outline homeicon"></i>
    </span>
  </a>

  <a *ngIf='isConsult()' style="top:28%" href="#" [routerLink]="['./']" [routerLinkActiveOptions] ={exact:true} routerLinkActive="router-link-active"  class="home patienmenu" title="Consultation">
    <span class="homespan">
        <i class="icon ion-ios-people-outline homeicon"></i>
    </span>
  </a>
  <a *ngIf='isAdmin() || isInfo() ' style="top:28%" href="#" [routerLink]="['./consultations']" routerLinkActive="router-link-active"   class="home patienmenu" title="Consultation">
    <span class="homespan">
        <i class="icon ion-ios-people-outline homeicon"></i>
    </span>
  </a>

  <!-- <a  style="top:28%" href="#" [routerLink]="['./']" routerLinkActive="router-link-active"  class="home patienmenu" title="Consultation">
    <span class="homespan">
        <i class="icon ion-ios-people-outline homeicon"></i>
    </span>
  </a> -->

 
 
  <a *ngIf=isWard()  style="top:28%" href="#" [routerLink]="['./addmisions']" routerLinkActive="router-link-active"   class="home wardmenu" title="Addmisions"><span class="homespan"><i style ='font-size: 25px; color: rgb(158, 158, 158); position: relative; top:5px;right: 3px;' class="material-icons homeicon wardicon">airline_seat_individual_suite</i></span>
  </a>
  <a *ngIf='isWard()' style="top:35%" href="#" [routerLink]="['./deceased']" routerLinkActive="router-link-active"  class="home reviewmenu" title="Deceased">
    <span class="homespan">
        <i  style ='font-size: 26px;position:relative; ' class="icon ion-ios-close-outline homeicon"></i>
    </span>
 </a>
  <a *ngIf='isAdmin() || isInfo() || isConsult()'  style="top:35%" href="#" [routerLink]="['./addmisions']" routerLinkActive="router-link-active"   class="home wardmenu" title="Addmisions"><span class="homespan"><i style ='font-size: 25px; color: rgb(158, 158, 158); position: relative; top:5px;right: 3px;' class="material-icons homeicon wardicon">airline_seat_individual_suite</i></span>
  </a>

 
  <a  *ngIf='isConsult()'style="top:57%" href="#" [routerLink]="['./deceased']" routerLinkActive="router-link-active"  class="home reviewmenu" title="Deceased">
    <span class="homespan">
        <i  style ='font-size: 26px;position:relative; ' class="icon ion-ios-close-outline homeicon"></i>
    </span>
</a>
  <a  *ngIf='isAdmin() || isInfo()'style="top:49%" href="#" [routerLink]="['./deceased']" routerLinkActive="router-link-active"  class="home reviewmenu" title="Deceased">
    <span class="homespan">
        <i  style ='font-size: 26px;position:relative; ' class="icon ion-ios-close-outline homeicon"></i>
    </span>
</a>
<a *ngIf = 'isWard()' style="top:57%" href="#"   [routerLink]="['./notifications']" routerLinkActive="router-link-active"  class="home reviewmenu" title="Notifications">
    <span class="homespan">
        <i  style ='font-size: 26px;position:relative;' class="icon ion-android-notifications-none homeicon"></i>
    </span>
</a>
<a *ngIf = 'isConsult()' style="top:65%" href="#"   [routerLink]="['./notifications']" routerLinkActive="router-link-active"  class="home reviewmenu" title="Notifications">
    <span class="homespan">
        <i  style ='font-size: 26px;position:relative;' class="icon ion-android-notifications-none homeicon"></i>
    </span>
</a>
<!-- <a *ngIf='isAdmin()'  style="top:58%" href="#" [routerLink]="['./pharmacy']" routerLinkActive="router-link-active"  class="home reviewmenu" title="Pharmacy">
    <span class="homespan">
        <i style ='font-size: 24px; color: rgb(158, 158, 158); position: relative; top:5px;right: 3px;' class="material-icons editicon continue blocked-icon">block</i>
    </span>
</a> -->
<a *ngIf = isAdmin()  style="top:56%" href="#"   [routerLink]="['./inventory']" routerLinkActive="router-link-active"  class="home reviewmenu" title="Inventory">
    <span class="homespan">
        <i  style ='font-size: 26px;position:relative;' class="icon ion-android-apps homeicon"></i>
    </span>
</a>

<a *ngIf = isAdmin() style="top:63%" href="#"  [routerLink]="['./notifications']" routerLinkActive="router-link-active"  class="home reviewmenu" title="Notifications">
    <span class="homespan">
        <i  style ='font-size: 26px;position:relative;' class="icon ion-android-notifications-none homeicon"></i>
    </span>
</a>
<a *ngIf = isAdmin()  style="top:72%" href="#" [routerLink]="['./dashboard']" routerLinkActive="router-link-active"  class="home reviewmenu" title="Notifications">
    <span class="homespan">
        <i  style ='font-size:26px;position:relative;' class="icon ion-stats-bars homeicon"></i>
    </span>
</a>
<a *ngIf = isInfo()  style="top:58%" href="#"   [routerLink]="['./notifications']" routerLinkActive="router-link-active"  class="home reviewmenu" title="Notifications">
    <span class="homespan">
        <i  style ='font-size: 26px;position:relative;' class="icon ion-android-notifications-none homeicon"></i>
    </span>
</a>

<a href="#" *ngIf='admin==="admin"'  [routerLink]="['./settings']" routerLinkActive="router-link-active" class="home settings" title="Settings"><span class="homespan"><i class="icon ion-ios-gear-outline homeicon"></i></span></a>
</div>
