.carditem.priscriptioncontainer.order {
  border-left:2px solid blue;
}

.card-body.orderbody {
  border-left:0px;
  padding-top:3px;
}
#cancel:focus{
  outline:none;
}

.carditem.priscriptioncontainer.order label {
  width:100%;
  position:absolute;
  text-align:right;
  font-size:11px;
  padding-right:28px;
  font-weight:bold;
  cursor: pointer;
}

