
<div class="sidenav">
  <a href="#" class="home homemenu" title="Menu">
      <span class="homespan">
          <i class="material-icons homeicon">sort</i>
      </span>
  </a>

  <a href="#" [routerLink]="['/pharmacy']"  class="home dashboard" title="Dashboard">
      <span class="homespan">
          <i class="icon ion-android-apps homeicon"></i>
      </span>
  </a>
  <a href="#" [routerLink]="['/information']" routerLinkActive="router-link-active"  class="home patienmenu" title="Patients">
      <span class="homespan">
          <i class="icon ion-ios-people-outline homeicon"></i>
      </span>
  </a>
  <a href="#" [routerLink]="['/consultation']" routerLinkActive="router-link-active"  class="home reviewmenu" title="Appointments">
      <span class="homespan">
          <i class="icon ion-ios-calendar-outline homeicon"></i>
      </span>
  </a>
  <a href="#" [routerLink]="['/products']" routerLinkActive="active"  class="home cartmenu" title="Products">
      <span class="homespan"> <i class="icon ion-ios-cart-outline homeicon"></i></span></a>

  <a href="#" [routerLink]="['/ward']" routerLinkActive="router-link-active"   class="home wardmenu" title="Ward"><span class="homespan"><i class="material-icons homeicon wardicon">airline_seat_individual_suite</i></span></a>

  <a href="#"  [routerLink]="['/account']" routerLinkActive="router-link-active" class="home settings" title="Settings"><span class="homespan"><i class="icon ion-ios-gear-outline homeicon"></i></span></a>


</div>
<nav class="navbar fixed-top navbar-light navbar-expand-md navigation-clean-search" style="padding:0px; margin-bottom:0px">
<div class="container">
    <a class="navbar-brand" href="#">
        <em>MS</em>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav"></ul>
        <form class="form-inline mr-auto searchform" target="_self">
            <div class="form-group">
                <label for="search-field">
                    <i class="icon ion-ios-search searchicon" title="Search"></i>
                </label>
                <input autocomplete="off" style="border-radius:30px; left: 405px; width:220px;background-color: rgb(243, 248, 247); margin: auto;" class="form-control search-field" type="search" name="search" id="search-field" placeholder="Search Patient">
            </div>
        </form>
    </div>
</div>
<i style="left:20%;" class="icon ion-android-notifications-none arrow buble note" title="Notifications"></i>
<i [routerLink]="['/information/','new']"  style="left:80%;" class="icon ion-ios-personadd-outline arrow buble" id="add" title="Add Patient" data-target="#newModal" data-toggle="modal"></i>
<i [routerLink]="['/products/','new']" style="left:83%;" class="icon ion-ios-plus-empty arrow buble" id="add" title="Add Products" data-target="#newModal" data-toggle="modal"></i>
<div style="left:87%; top:5px;" class="timeline lastdoc priscriber headerdp"></div>
</nav>
