

  <div *ngIf = 'patients.length' class="modal fade" role="dialog" tabindex="-1" id="medicModal" style="border-radius:12px;width:auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:480px;border-radius:0px;border-radius:12px;padding-left:0px;padding-right: 0px;">
            <div class="modal-body" style="border-radius:0px;padding: 0px;">
                <div  class="card card-secondary historycard midlecard profilecard" style="margin:auto;min-height:200px;border-radius:12px;">
                    <div style='padding-left: 30px;border-top-right-radius:12px;border-top-left-radius:12px;' class="card-header profileheader small-header">
                        <i  *ngIf='cardView.editing||cardView.reversing' (click)="switchViews('orders')"  style='position:absolute;left:1%;top:2%; cursor:pointer; display: inline-block;
                          color:#1da1f2;' title="Back"
                          class="icon ion-android-arrow-back "> </i>
                        <div style="left:23px" class="timeline lastdoc priscriber headerdp small-dp">
                          <img [src] = getDp(patients[curIndex].info.personal.avatar)/>
                        </div>
                        <a href="#" class="patien-name small-name">
                          {{patients[curIndex]?.info.personal.firstName + ' '+ patients[curIndex].info.personal.lastName}}<span class="small-headericon"></span>
                        </a>
                        <h6 style='font-size:10px; font-weight:bold; position:absolute;color:dodgerblue;  top:4%;left:76%' class="patien-name small-name">MEDICATIONS</h6>
                    </div>
                  <div *ngIf='cardView.orders' class="card-body orderbody"style=" width:65%; margin:auto;">
                      <div data-simplebar style="border-left:2px solid #1da1f2;height:200px; width:100%;">
                      <div style='border:none'   *ngFor="let medic of medications; let i = index"  class="carditem priscriptioncontainer order">
                          <div style='left:-4%' class="timeline condition drugtimeline">
                              <p class="timelinedate">{{medic[0]?.meta.dateAdded|date:'dd'}}</p>
                              <p class="timelinedate month"> {{medic[0]?.meta.dateAdded|date:'MMM'|uppercase}}</p>
                          </div>
                          <div *ngFor ="let m of medic; let j= index" class="priscription drug">
                              <h6 class="dept">{{m.name}}&nbsp;<span class="predata">
                                 </span>
                                  <span *ngIf="m.invoice.paid"  class="predata priceval">
                                  <i class="icon ion-ios-checkmark-empty paid-icon"></i>
                                  </span>
                                  <span *ngIf="!m.invoice.paid"  class="predata priceval">
                                  <i (click)="selectItem(i,j)" style=' color:lightgrey;'  *ngIf="m.meta.selected" class="icon ion-ios-checkmark-empty paid-icon" title="Deselect "></i>
                                  <div  style='border-color:rgb(228, 227, 227)' *ngIf ="!m.meta.selected && !m.stockInfo.quantity" class="mycheckbox"  >
                                  </div>
                                  <div  class="mycheckbox" *ngIf ="!m.meta.selected && m.stockInfo.quantity" (click)="selectItem(i,j)" >
                                  </div>
                                  </span>
                              </h6>
                              <h6 class="dept previnfo">Dosage&nbsp;<span class = "predata">
                                {{m.priscription.intake+'-'+m.priscription.freq+'-'+ m.priscription.piriod}} </span></h6>
                              <h6 class="dept previnfo"style="color:lightgrey">
                                  Price&nbsp;<span [ngStyle]=getStyle(m) style="text-align:right;left:80%;display: inline-block;width:50px" *ngIf = m.stockInfo.price class="predata priceval">{{(m.invoice.price)*(m.invoice.quantity)}}</span>
                                  <span *ngIf = !m.stockInfo.price class="predata priceval">---</span>
                                </h6>
                           </div>
                           <label class='totalLbl' *ngIf='somePaid(i)' >{{getTransTotal(i)}} </label>
                      </div>
                    </div>
                    <div style='left:105%; height:32px;width:32px'title ='Process tranasaction' class="floter">
                        <i (click)='switchToEdit()' style='font-size: 23px;left:3px; top:4px;' class="material-icons flotericon">swap_horiz</i>
                    </div>
                    </div>
                    <div *ngIf='cardView.editing' class="card-body orderbody"style="width:56%;margin:auto;">
                      <form  style="top:15%;" class=" staffsform">
                        <div class="form-group vitals-section address">
                            <label style="font-size:8px" for="drug" class="labelss">DRUG</label>
                            <input style='font-size:11px' autocomplete="off" (keyup)= "searchProducts(input)" [(ngModel)] = medication.name type="text" name="drug" placeholder= "E.g Paracetamol" class="patientdata dystolic inputs dataInfo" />
                        </div>
                        <div class="form-group vitals-section formGroup" style=" width:22%;">
                            <label style="font-size:8px" for="dos" class="labelss complain">INTAKE</label>
                            <input [(ngModel)] = "medication.priscription.intake" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;font-size:11px"  type="number" name="dos" class="patientdata inputs dataInfo"  >
                        </div>
                        <div class="form-group vitals-section formGroup" style=" width:28%; ">
                            <label style="font-size:8px" for="intake" class="labelss complain">FREQ</label>
                            <select [(ngModel)]="medication.priscription.freq" style="border-radius: 0px;font-size:11px"  class=" patientdata status inputs dataInfo " name="intake">
                                <option>dos</option>
                                <option>qos</option>
                                <option>am</option>
                                <option>ar</option>
                            </select>
                        </div>
                        <div class="form-group vitals-section formGroup" style=" width:28%;">
                            <label style="font-size:8px" for="intake" class="labelss complain">DAYS</label>
                            <input [(ngModel)]="medication.priscription.piriod" style="border-radius: 0px;font-size:11px;"type="number" name="piriod" class="patientdata inputs dataInfo"   placeholder="">
                        </div>
                        <div class="form-group vitals-section formGroup" style=" width:22%;">
                            <label style="font-size:8px" for="purchase" class="labelss complain">QTY</label>
                            <input [min] = '1' [max] = 'medication.stockInfo.quantity'
                            [(ngModel)]="medication.invoice.quantity" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;font-size:11px"  type="number" name="purchase" class="patientdata inputs dataInfo"   placeholder="">
                        </div>
                        <div style="margin-bottom:0px; width:100%;position:relative;height:25px;" class="form-group vitals-section formGroup">
                          <p style='position: absolute;left:47%;text-align:center; font-size:11px; top:10%;'>
                            {{edited.length}}<span>/</span><span>{{count}}</span></p>
                          <i (click)='previous()' title="Previous" class="icon ion-ios-arrow-left shift-icon"></i>
                          <i (click)='next()' title="Next" class="icon ion-ios-arrow-right shift-icon next-icon"></i>
                        </div>
                        <div  style="top:1px; margin-bottom:25px; min-height: 80px;max-height: 120;"  class="form-group vitals-section setGroup">
                          <table *ngIf="edited.length"  cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" >
                          <thead class='productHead'>
                              <tr class="staff-th">
                                  <th style="padding-left:4px;" class="headlbl staff-th">PRODUCT</th>
                                  <th class="headlbl staff-th">DOSAGE</th>
                                  <th class="headlbl staff-th">QTY</th>
                                  <th style='text-align:right' class="headlbl staff-th">PRICE</th>
                              </tr>
                            </thead>
                               <tbody>
                                  <tr *ngFor="let med of edited; let i = index; let odd = odd;"  style="border-bottom:2px solid white;" [class.even] = odd  class="ro staff-row">
                                      <td style="padding-left:4px;" class="data">
                                      {{med.name}}<span class="predata">
                                        </span></td>
                                      <td style='font-size:11px' class="data">
                                        {{med.priscription.intake+'-'+med.priscription.freq+'-'+ med.priscription.piriod}}</td>
                                      <td style='font-size:11px' class="data">
                                        {{med.invoice.quantity}}</td>
                                      <td style='font-size:11px' class="data">
                                        {{med.invoice.quantity*med.stockInfo.price}}</td>
                                  </tr>
                              </tbody>
                              <tfoot col-span='4' style='font-size:11px; text-align:right; position:absolute; font-weight:bold;padding-right: 10px; border-top: 1px solid whitesmoke;width:100%'>Total:<span>{{getPriceTotal()}}</span> </tfoot>
                            </table>
                        </div>
                        <div style='left:110%; height:32px;width:32px' title ='Process tranasaction' class="floter">
                          <i *ngIf='processing' class="fa fa-circle-o-notch fa-spin fa-10x slow-spin" style="position:absolute;bottom:5px;left:5px;font-size:20px;color: #1da1f2;"> </i>
                          <i (click) = processPayment()  *ngIf='!processing' style="color:#1da1f2;bottom:-10px"
                           class="icon ion-ios-checkmark-empty flotericon"> </i>
                        </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>
</div>
</div>
