

<div class="modal fade" role="dialog" tabindex="-1" id="reversePayment" style="border-radius:0px;width:auto;">
  <div class="modal-dialog" role="document">
      <div class="modal-content" style="width:480px;border-radius:0px;;padding-left:0px;padding-right: 0px;">
          <div class="modal-body" style="border-radius:0px;padding: 0px">
              <div class="card card-secondary historycard midlecard profilecard" style="margin:auto;min-height:200px">
                  <div class="card-header grapheader"style="border-radius:0px;">
                      <h1 class="dept headtitle">REVERSE PAYMENT<span class="headeredit" title="Edit information"></span></h1>
                  </div>
                  <div style="padding-top:10px;padding-left:10px; padding-right:10px"  class="card-body topcardbody clientinfobody nopading">
                    <form (submit) = reversePayment() style="top:15%; padding-left: 18%; padding-right: 18%;" class=" staffsform">
                        <div  style="top:1px; margin-bottom:25px;"  class="form-group vitals-section setGroup">
                          <table   cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. " >
                               <tbody>
                                  <tr *ngFor="let med of edited; let i = index; let odd = odd;"  style="border-bottom:2px solid white;" [class.even] = odd  class="ro staff-row">
                                      <td style="padding-left:4px;" class="data">
                                      {{med.product.item.name}}<span class="predata">
                                        {{med.product.item.mesure+med.product.item.unit}}</span></td>
                                      <td style='font-size:11px' class="data">
                                        {{med.priscription.intake+'-'+med.priscription.freq+'-'+ med.priscription.piriod}}</td>
                                      <td style='font-size:11px' class="data">{{med.purchased}}</td>
                                      <td style='font-size:11px' class="data">{{med.purchased*med.product.stockInfo.price}}</td>
                                  </tr>
                              </tbody>
                              <tfoot  class="cardFooter">Total: <span>{{getPriceTotal()}}</span> </tfoot>
                            </table>
                        </div>
                        <button type ="submit"  style=" width: 95px; position:relative;  font-size: 10px; left:175px; margin:15px 15px;  border-radius:0px;" class="btn btn-sm btn-primary inputs mainbtn" >
                            <i class="fa fa-circle-o-notch fa-spin fa-10x slow-spin" style="position:absolute;font-size:16px;color: white; right:75%;"></i>
                          REVERSE</button>
                        <button (click)='reset()'  id ='cancel' data-dismiss="modal" style="width: 57px; font-size: 10px;right:9px; margin:15px 15px; position:relative; border-radius:0px" class="btn btn-sm btn-primary inputs mainbtn" >Cancel</button>

                    </form>

                  </div>

              </div>
          </div>
      </div>
  </div>
</div>


<div class="modal fade" role="dialog" tabindex="-1" id="comfirmPayment" style="border-radius:0px;width:auto;">
  <div class="modal-dialog" role="document">
      <div class="modal-content" style="width:480px;border-radius:0px;;padding-left:0px;padding-right: 0px;">
          <div class="modal-body" style="border-radius:0px;padding: 0px">
              <div class="card card-secondary historycard midlecard profilecard" style="margin:auto;min-height:200px">
                  <div class="card-header grapheader"style="border-radius:0px;">
                      <h1 class="dept headtitle">EDIT PAYMENT<span class="headeredit" title="Edit information"></span></h1>
                  </div>
                  <div style="padding-top:10px;padding-left:10px; padding-right:10px"  class="card-body topcardbody clientinfobody nopading">
                    <form (submit) = comfirmPayment() style="top:15%; padding-left: 18%; padding-right: 18%;" class=" staffsform">
                        <div class="form-group vitals-section address">
                            <label for="drug" class="labelss">DRUG NAME</label>
                            <input style='font-size:11px' autocomplete="off" (keyup)= "searchItems(input)" [(ngModel)] = input type="text" name="drug" placeholder= "E.g Paracetamol" class="patientdata dystolic inputs dataInfo" />
                            <div *ngIf = searchedItems.length  class="options prisOption edit">
                                <ul class="itemsList" >
                                  <li *ngFor="let item of searchedItems"><p (click) = "addSelection(item)"  class="dept firstheader drugItem" style="font-size:13px;padding-left: 10px; padding-right: 10px;font-weight: normal;" >{{item.name+ ' '}}<span class="lastdept timetaken " >
                                    {{item.mesure + item.unit}}</span></p>
                                  </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group vitals-section formGroup" style=" width:22%;">
                            <label for="dos" class="labelss complain">INTAKE</label>
                            <input [(ngModel)] = "medication.priscription.intake" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;font-size:11px"  type="number" name="dos" class="patientdata inputs dataInfo"  >
                        </div>
                        <div class="form-group vitals-section formGroup" style=" width:28%; ">
                            <label for="intake" class="labelss complain">FREQ</label>
                            <select [(ngModel)]="medication.priscription.freq" style="border-radius: 0px;font-size:11px"  class=" patientdata status inputs dataInfo " name="intake">
                                <option>dos</option>
                                <option>qos</option>
                                <option>am</option>
                                <option>ar</option>
                            </select>
                        </div>
                        <div class="form-group vitals-section formGroup" style=" width:28%;">
                            <label for="intake" class="labelss complain">DAYS</label>
                            <input [(ngModel)]="medication.priscription.piriod" style="border-radius: 0px;font-size:11px;"type="number" name="piriod" class="patientdata inputs dataInfo"   placeholder="">
                        </div>
                        <div class="form-group vitals-section formGroup" style=" width:22%;">
                            <label for="purchase" class="labelss complain">QTY</label>
                            <input [min] = '0' [max] = 'medication.product.stockInfo.quantity' [(ngModel)]="medication.purchased" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;font-size:11px"  type="number" name="purchase" class="patientdata inputs dataInfo"   placeholder="">
                        </div>
                        <div style="margin-bottom:0px; width:100%;position:relative;height:25px;" class="form-group vitals-section formGroup">
                          <p style='position: absolute;left:47%;text-align:center; font-size:11px; top:10%;'>
                            {{editables.length}}<span>/</span><span>{{count}}</span></p>
                          <i (click)='previous()' title="Previous" class="icon ion-ios-arrow-left shift-icon"></i>
                          <i (click)='next()' title="Next" class="icon ion-ios-arrow-right shift-icon next-icon"></i>
                        </div>

                        <div *ngIf="edited.length" style="top:1px; margin-bottom:25px;"  class="form-group vitals-section setGroup">
                          <table   cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. " >
                               <tbody>
                                  <tr *ngFor="let med of edited; let i = index; let odd = odd;"  style="border-bottom:2px solid white;" [class.even] = odd  class="ro staff-row">
                                      <td style="padding-left:4px;" class="data">
                                      {{med.product.item.name}}<span class="predata">
                                        {{med.product.item.mesure+med.product.item.unit}}</span></td>
                                      <td style='font-size:11px' class="data">
                                        {{med.priscription.intake+'-'+med.priscription.freq+'-'+ med.priscription.piriod}}</td>
                                      <td style='font-size:11px' class="data">{{med.purchased}}</td>
                                      <td style='font-size:11px' class="data">{{med.purchased*med.product.stockInfo.price}}</td>
                                  </tr>
                              </tbody>
                              <tfoot col-span='4' style='font-size:11px; text-align:right; position:absolute; font-weight:bold;padding-right: 10px; border-top: 1px solid whitesmoke;width:100%'>Total: <span>{{getPriceTotal()}}</span> </tfoot>
                            </table>
                        </div>
                        <button  type ="submit"  style=" width: 95px; position:relative;  font-size: 10px; left:175px; margin:15px 15px;  border-radius:0px;" class="btn btn-sm btn-primary inputs mainbtn" >UPDATE</button>
                        <button (click)='reset()' id ='cancel' data-dismiss="modal" style="width: 57px; font-size: 10px;right:9px; margin:15px 15px; position:relative; border-radius:0px" class="btn btn-sm btn-primary inputs mainbtn" >Cancel</button>
                    </form>

                  </div>

              </div>
          </div>
      </div>
  </div>
</div>

<div class="sidenav">
    <a href="#" class="home homemenu" title="Menu">
        <span class="homespan">
            <i class="material-icons homeicon">sort</i>
        </span>
    </a>

    <a href="#" [routerLink]="['/pharmacy']"  class="home dashboard" title="Dashboard">
        <span class="homespan">
            <i class="icon ion-android-apps homeicon"></i>
        </span>
    </a>
    <a href="#" [routerLink]="['/information']" routerLinkActive="router-link-active"  class="home patienmenu" title="Patients">
        <span class="homespan">
            <i class="icon ion-ios-people-outline homeicon"></i>
        </span>
    </a>
    <a href="#" [routerLink]="['/consultation']" routerLinkActive="router-link-active"  class="home reviewmenu" title="Appointments">
        <span class="homespan">
            <i class="icon ion-ios-calendar-outline homeicon"></i>
        </span>
    </a>
    <a href="#" [routerLink]="['/products']" routerLinkActive="active"  class="home cartmenu" title="Products">
        <span class="homespan"> <i class="icon ion-ios-cart-outline homeicon"></i></span></a>
    <a href="#" [routerLink]="['/ward']" routerLinkActive="router-link-active"   class="home wardmenu" title="Ward"><span class="homespan"><i class="material-icons homeicon wardicon">airline_seat_individual_suite</i></span></a>
    <a href="#"  [routerLink]="['/account']" routerLinkActive="router-link-active" class="home settings" title="Settings"><span class="homespan"><i class="icon ion-ios-gear-outline homeicon"></i></span></a>
  </div>
<nav class="navbar fixed-top navbar-light navbar-expand-md navigation-clean-search" style="padding:0px; margin-bottom:0px">
<div class="container">
    <a class="navbar-brand" href="#">
        <em>MS</em>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav"></ul>
        <form class="form-inline mr-auto searchform" target="_self">
            <div class="form-group">
                <label for="search-field">
                    <i class="icon ion-ios-search searchicon" title="Search"></i>
                </label>
                <input autocomplete="off" style="border-radius:30px; left: 405px; width:220px;background-color: rgb(243, 248, 247); margin: auto;" class="form-control search-field" type="search" name="search" id="search-field" placeholder="Search Patient">
            </div>
        </form>
    </div>
</div>
<i style="left:80%;" class="icon ion-android-notifications-none arrow buble note" title="Notifications"></i>

<i [routerLink]="['/messages']" data-target="#newModal" data-toggle="modal" style="left:83%;" class="icon ion-ios-person-outline arrow buble" id="add" title="My Account" ></i>
<div class="timeline lastdoc priscriber headerdp small-dp user-dp"style="left:90%;position:absolute;height:30px;width:30px;bottom:-8%"></div>
</nav>








<div style="padding-top:40px;" class="container">
        <div class="row">
            <div *ngFor="let patient of patients; let i = index" class="col col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div *ngIf = "view==='default'" style="min-height:400px;max-height:400px;" class="card card-secondary maincard">
                   <div class="card-header profileheader small-header">
                      <i class="icon ion-android-more-vertical small-icon"></i>
                        <div class="timeline lastdoc priscriber headerdp small-dp">
                         <img [src] = getDp(patient)/>
                        </div>
                        <a href="#" class="patien-name small-name">
                          {{patient.info.personal.firstName + ' '+ patient.info.personal.lastName}}<span class="small-headericon"></span>
                        </a>
                        
                    </div>
                    <div class="card-body orderbody">
                        <div *ngFor="let medic of patient.record.medications; let j = index" class="carditem priscriptioncontainer order">
                            <div  class="timeline condition drugtimeline">
                                <p class="timelinedate">
                                  {{medic[0].dateAdded|date:'dd'}}
                                </p>
                                <p class="timelinedate month">
                                  {{medic[0].dateAdded|date:'MMM'|uppercase}}
                                </p>
                            </div>
                            <div *ngFor ="let m of medic; let k= index" class="priscription drug">
                                <h6 class="dept">{{m.product.item.name}}&nbsp;<span class="predata">
                                    {{m.product.item.mesure+m.product.item.unit}}</span>
                                    <span *ngIf="m.paid"  class="predata priceval">
                                    <i (click)='getReversables(i,j,k)' data-target="#reversePayment" data-toggle="modal" title = 'Reverse payment'  class="icon ion-ios-checkmark-empty paid-icon"></i>
                                    </span>
                                    <span *ngIf="!m.paid"  class="predata priceval">
                                    <i (click)="selectItem(i,j,k)" style=' color:lightgrey;'  *ngIf="m.selected" class="icon ion-ios-checkmark-empty paid-icon" title="Deselect "></i>
                                    <div class="mycheckbox" *ngIf ="!m.selected" (click)="selectItem(i,j,k)" ></div>
                                    </span>
                                </h6>
                                <h6 class="dept previnfo">Dosage&nbsp;<span class="predata"> {{m.priscription.intake+'-'+m.priscription.freq+'-'+ m.priscription.piriod}} </span></h6>
                                <h6 class="dept previnfo"style="color:lightgrey">
                                    Price&nbsp;<span style="text-align:right;left:70%;display: inline-block;width:50px" *ngIf = m.product.stockInfo.price class="predata priceval">{{(m.product.stockInfo.price)*(m.purchased||1)}}</span>
                                    <span *ngIf = !m.product.stockInfo.price class="predata priceval">---</span>
                                  </h6>
                             </div>
                             <label  class='totalLbl' *ngIf='somePaid(i,j)' >
                              {{getTransTotal(i,j)}}
                            </label>
                        </div>
                </div>
            <div *ngIf = medidcationsSelected(i) style="border:none;background:#1da1f2" class="card-footer">
              <div style="width:50%;border:none;left:0%;color:white;padding-top:5px;padding-left:18px" class="icon-container edit-container">
                <h6 style="text-align:left;" class="dept">Cancel</h6>
              </div>
              <div (click)="switchToEdit(i)" data-toggle="modal" data-target="#comfirmPayment"   style="width:50%;left:50%;border:none;color:white;padding-top:5px;padding-right:15px"  class="icon-container"> <h6 style="text-align:right;font-weight:bold;padding-right:5px;" class="dept">EDIT</h6>
              </div>
          </div>
     </div>

  </div>
