<!--

<div class="modal fade" role="dialog" tabindex="-1" id="reversePayment" style="border-radius:0px;width:auto;">
  <div class="modal-dialog" role="document">
      <div class="modal-content" style="width:480px;border-radius:0px;;padding-left:0px;padding-right: 0px;">
          <div class="modal-body" style="border-radius:0px;padding: 0px">
              <div class="card card-secondary historycard midlecard profilecard" style="margin:auto;min-height:200px">
                  <div class="card-header grapheader"style="border-radius:0px;">
                      <h1 class="dept headtitle">REVERSE PAYMENT<span class="headeredit" title="Edit information"></span></h1>
                  </div>
                  <div style="padding-top:10px;padding-left:10px; padding-right:10px"  class="card-body topcardbody clientinfobody nopading">
                    <form (submit) = reversePayment() style="top:15%; padding-left: 18%; padding-right: 18%;" class=" staffsform">
                        <div  style="top:1px; margin-bottom:25px;"  class="form-group vitals-section setGroup">
                          <table   cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. " >
                               <tbody>
                                  <tr *ngFor="let med of edited; let i = index; let odd = odd;"  style="border-bottom:2px solid white;" [class.even] = odd  class="ro staff-row">
                                      <td style="padding-left:4px;" class="data">
                                      {{med.product.item.name}}<span class="predata">
                                        {{med.product.item.mesure+med.product.item.unit}}</span></td>
                                      <td style='font-size:11px' class="data">
                                        {{med.priscription.intake+'-'+med.priscription.freq+'-'+ med.priscription.piriod}}</td>
                                      <td style='font-size:11px' class="data">{{med.purchased}}</td>
                                      <td style='font-size:11px' class="data">{{med.purchased*med.product.stockInfo.price}}</td>
                                  </tr>
                              </tbody>
                              <tfoot  class="cardFooter">Total: <span>{{getPriceTotal()}}</span> </tfoot>
                            </table>
                        </div>
                        <button type ="submit"  style=" width: 95px; position:relative;  font-size: 10px; left:175px; margin:15px 15px;  border-radius:0px;" class="btn btn-sm btn-primary inputs mainbtn" >
                            <i class="fa fa-circle-o-notch fa-spin fa-10x slow-spin" style="position:absolute;font-size:16px;color: white; right:75%;"></i>
                          REVERSE</button>
                        <button (click)='reset()'  id ='cancel' data-dismiss="modal" style="width: 57px; font-size: 10px;right:9px; margin:15px 15px; position:relative; border-radius:0px" class="btn btn-sm btn-primary inputs mainbtn" >Cancel</button>

                    </form>

                  </div>

              </div>
          </div>
      </div>
  </div>
</div>


<div class="modal fade" role="dialog" tabindex="-1" id="comfirmPayment" style="border-radius:0px;width:auto;">
  <div class="modal-dialog" role="document">
      <div class="modal-content" style="width:480px;border-radius:0px;padding-left:0px;padding-right: 0px;">
          <div class="modal-body" style="border-radius:0px;padding: 0px">
              <div class="card card-secondary historycard midlecard profilecard" style="margin:auto;min-height:200px">
                  <div class="card-header grapheader"style="border-radius:0px;">
                      <h1 class="dept headtitle">EDIT PAYMENT<span class="headeredit" title="Edit information"></span></h1>
                  </div>
                  <div style="padding-top:10px;padding-left:10px; padding-right:10px"  class="card-body topcardbody clientinfobody nopading">
                    <form (submit) = comfirmPayment() style="top:15%; padding-left: 18%; padding-right: 18%;" class=" staffsform">
                        <div class="form-group vitals-section address">
                            <label for="drug" class="labelss">DRUG NAME</label>
                            <input style='font-size:11px' autocomplete="off" (keyup)= "searchItems(input)" [(ngModel)] = input type="text" name="drug" placeholder= "E.g Paracetamol" class="patientdata dystolic inputs dataInfo" />
                            <div *ngIf = searchedItems.length  class="options prisOption edit">
                                <ul class="itemsList" >
                                  <li *ngFor="let item of searchedItems"><p (click) = "addSelection(item)"  class="dept firstheader drugItem" style="font-size:13px;padding-left: 10px; padding-right: 10px;font-weight: normal;" >{{item.name+ ' '}}<span class="lastdept timetaken " >
                                    {{item.mesure + item.unit}}</span></p>
                                  </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group vitals-section formGroup" style=" width:22%;">
                            <label for="dos" class="labelss complain">INTAKE</label>
                            <input [(ngModel)] = "medication.priscription.intake" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;font-size:11px"  type="number" name="dos" class="patientdata inputs dataInfo"  >
                        </div>
                        <div class="form-group vitals-section formGroup" style=" width:28%; ">
                            <label for="intake" class="labelss complain">FREQ</label>
                            <select [(ngModel)]="medication.priscription.freq" style="border-radius: 0px;font-size:11px"  class=" patientdata status inputs dataInfo " name="intake">
                                <option>dos</option>
                                <option>qos</option>
                                <option>am</option>
                                <option>ar</option>
                            </select>
                        </div>
                        <div class="form-group vitals-section formGroup" style=" width:28%;">
                            <label for="intake" class="labelss complain">DAYS</label>
                            <input [(ngModel)]="medication.priscription.piriod" style="border-radius: 0px;font-size:11px;"type="number" name="piriod" class="patientdata inputs dataInfo"   placeholder="">
                        </div>
                        <div class="form-group vitals-section formGroup" style=" width:22%;">
                            <label for="purchase" class="labelss complain">QTY</label>
                            <input [min] = '0' [max] = 'medication.product.stockInfo.quantity' [(ngModel)]="medication.purchased" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;font-size:11px"  type="number" name="purchase" class="patientdata inputs dataInfo"   placeholder="">
                        </div>
                        <div style="margin-bottom:0px; width:100%;position:relative;height:25px;" class="form-group vitals-section formGroup">
                          <p style='position: absolute;left:47%;text-align:center; font-size:11px; top:10%;'>
                            {{editables.length}}<span>/</span><span>{{count}}</span></p>
                          <i (click)='previous()' title="Previous" class="icon ion-ios-arrow-left shift-icon"></i>
                          <i (click)='next()' title="Next" class="icon ion-ios-arrow-right shift-icon next-icon"></i>
                        </div>

                        <div *ngIf="edited.length" style="top:1px; margin-bottom:25px;"  class="form-group vitals-section setGroup">
                          <table   cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. " >
                               <tbody>
                                  <tr *ngFor="let med of edited; let i = index; let odd = odd;"  style="border-bottom:2px solid white;" [class.even] = odd  class="ro staff-row">
                                      <td style="padding-left:4px;" class="data">
                                      {{med.product.item.name}}<span class="predata">
                                        {{med.product.item.mesure+med.product.item.unit}}</span></td>
                                      <td style='font-size:11px' class="data">
                                        {{med.priscription.intake+'-'+med.priscription.freq+'-'+ med.priscription.piriod}}</td>
                                      <td style='font-size:11px' class="data">{{med.purchased}}</td>
                                      <td style='font-size:11px' class="data">{{med.purchased*med.product.stockInfo.price}}</td>
                                  </tr>
                              </tbody>
                              <tfoot col-span='4' style='font-size:11px; text-align:right; position:absolute; font-weight:bold;padding-right: 10px; border-top: 1px solid whitesmoke;width:100%'>Total: <span>{{getPriceTotal()}}</span> </tfoot>
                            </table>
                        </div>
                        <button  type ="submit"  style=" width: 95px; position:relative;  font-size: 10px; left:175px; margin:15px 15px;  border-radius:0px;" class="btn btn-sm btn-primary inputs mainbtn" >UPDATE</button>
                        <button (click)='reset()' id ='cancel' data-dismiss="modal" style="width: 57px; font-size: 10px;right:9px; margin:15px 15px; position:relative; border-radius:0px" class="btn btn-sm btn-primary inputs mainbtn" >Cancel</button>
                    </form>

                  </div>

              </div>
          </div>
      </div>
  </div>
</div> -->









<!--
<div style="padding-top:40px;" class="container">
        <div class="row">
            <div *ngFor="let patient of patients; let i = index" class="col col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div *ngIf = "view ==='default'" style="border-radius: 12px;min-height:400px;max-height:400px;" class="card card-secondary maincard">
                   <div style='border-top-right-radius: 12px;border-top-left-radius: 12px' class="card-header profileheader small-header">
                      <i class="icon ion-android-more-vertical small-icon"></i>
                        <div class="timeline lastdoc priscriber headerdp small-dp">
                         <img [src] = getDp(patient)/>
                        </div>
                        <a href="#" class="patien-name small-name">
                          {{patient.info.personal.firstName + ' '+ patient.info.personal.lastName}}<span class="small-headericon"></span>
                        </a>

                    </div>
                    <div class="card-body orderbody">
                        <div *ngFor="let medic of patient.record.medications; let j = index" class="carditem priscriptioncontainer order">
                            <div  class="timeline condition drugtimeline">
                                <p class="timelinedate">
                                  {{medic[0].dateAdded|date:'dd'}}
                                </p>
                                <p class="timelinedate month">
                                  {{medic[0].dateAdded|date:'MMM'|uppercase}}
                                </p>
                            </div>
                            <div *ngFor ="let m of medic; let k= index" class="priscription drug">
                                <h6 class="dept">{{m.product.item.name}}&nbsp;<span class="predata">
                                    {{m.product.item.mesure+m.product.item.unit}}</span>
                                    <span *ngIf="m.paid"  class="predata priceval">
                                    <i (click)='getReversables(i,j,k)' data-target="#reversePayment" data-toggle="modal" title = 'Reverse payment'  class="icon ion-ios-checkmark-empty paid-icon"></i>
                                    </span>
                                    <span *ngIf="!m.paid"  class="predata priceval">
                                    <i (click)="selectItem(i,j,k)" style=' color:lightgrey;'  *ngIf="m.selected" class="icon ion-ios-checkmark-empty paid-icon" title="Deselect "></i>
                                    <div class="mycheckbox" *ngIf ="!m.selected" (click)="selectItem(i,j,k)" ></div>
                                    </span>
                                </h6>
                                <h6 class="dept previnfo">Dosage&nbsp;<span class="predata"> {{m.priscription.intake+'-'+m.priscription.freq+'-'+ m.priscription.piriod}} </span></h6>
                                <h6 class="dept previnfo"style="color:lightgrey">
                                    Price&nbsp;<span style="text-align:right;left:70%;display: inline-block;width:50px" *ngIf = m.product.stockInfo.price class="predata priceval">{{(m.product.stockInfo.price)*(m.purchased||1)}}</span>
                                    <span *ngIf = !m.product.stockInfo.price class="predata priceval">---</span>
                                  </h6>
                             </div>
                             <label  class='totalLbl' *ngIf='somePaid(i,j)' >
                              {{getTransTotal(i,j)}}
                            </label>
                        </div>
                </div>
            <div *ngIf = medidcationsSelected(i) style="border:none;background:#1da1f2" class="card-footer">
              <div style="width:50%;border:none;left:0%;color:white;padding-top:5px;padding-left:18px" class="icon-container edit-container">
                <h6 style="text-align:left;" class="dept">Cancel</h6>
              </div>
              <div (click)="switchToEdit(i)" data-toggle="modal" data-target="#comfirmPayment"   style="width:50%;left:50%;border:none;color:white;padding-top:5px;padding-right:15px"  class="icon-container"> <h6 style="text-align:right;font-weight:bold;padding-right:5px;" class="dept">EDIT</h6>
              </div>
          </div>
     </div>

  </div> -->



  <div class="modal fade" role="dialog" tabindex="-1" id="medicModal" style="border-radius:12px;width:auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:480px;border-radius:0px;border-radius:12px;padding-left:0px;padding-right: 0px;">
            <div class="modal-body" style="border-radius:0px;padding: 0px;">
                <div  class="card card-secondary historycard midlecard profilecard" style="margin:auto;min-height:200px;border-radius:12px;">
                    <div style='padding-left: 30px;border-top-right-radius:12px;border-top-left-radius:12px;' class="card-header profileheader small-header">
                        <i  *ngIf='cardView.editing' (click)="switchViews('orders')"  style='position:absolute;left:1%;top:2%; cursor:pointer; display: inline-block;
                          color:#1da1f2;' title="Back"
                          class="icon ion-android-arrow-back "> </i>
                        <div style="left:23px" class="timeline lastdoc priscriber headerdp small-dp">
                          <img [src] = getDp(patients[curIndex])/>
                        </div>
                        <a href="#" class="patien-name small-name">
                          {{patients[curIndex]?.info.personal.firstName + ' '+ patients[curIndex].info.personal.lastName}}<span class="small-headericon"></span>
                        </a>
                    </div>
                    <div *ngIf='cardView.orders' class="card-body orderbody"style="width:56%;margin:auto;height: 255px;">
                      <div  *ngFor="let medic of patients[curIndex]?.record.medications; let i = index"  class="carditem priscriptioncontainer order">
                          <div  class="timeline condition drugtimeline">
                              <p class="timelinedate"> {{medic[0].dateAdded|date:'dd'}}</p>
                              <p class="timelinedate month"> {{medic[0].dateAdded|date:'MMM'|uppercase}}</p>
                          </div>
                          <div *ngFor ="let m of medic; let j= index" class="priscription drug">
                              <h6 class="dept">{{m.product.item.name}}&nbsp;<span class="predata">
                                  {{m.product.item.mesure+m.product.item.unit}}</span>
                                  <span *ngIf="m.paid"  class="predata priceval">
                                  <i (click)='getReversables(i,j)' data-target="#reversePayment" data-toggle="modal" title = 'Reverse payment'  class="icon ion-ios-checkmark-empty paid-icon"></i>
                                  </span>
                                  <span *ngIf="!m.paid"  class="predata priceval">
                                  <i (click)="selectItem(i,j)" style=' color:lightgrey;'  *ngIf="m.selected" class="icon ion-ios-checkmark-empty paid-icon" title="Deselect "></i>
                                  <div class="mycheckbox" *ngIf ="!m.selected" (click)="selectItem(i,j)" ></div>
                                  </span>
                              </h6>
                              <h6 class="dept previnfo">Dosage&nbsp;<span class="predata"> {{m.priscription.intake+'-'+m.priscription.freq+'-'+ m.priscription.piriod}} </span></h6>
                              <h6 class="dept previnfo"style="color:lightgrey">
                                  Price&nbsp;<span style="text-align:right;left:70%;display: inline-block;width:50px" *ngIf = m.product.stockInfo.price class="predata priceval">{{(m.product.stockInfo.price)*(m.purchased||1)}}</span>
                                  <span *ngIf = !m.product.stockInfo.price class="predata priceval">---</span>
                                </h6>
                           </div>
                           <label  class='totalLbl' *ngIf='somePaid(i)' >{{getTransTotal(i)}} </label>
                      </div>
                      <button (click)='switchToEdit()' type ="submit"  style="top:100px; width: 95px; position:relative;  font-size: 10px; left:152px;  border-radius: 0px; border-top-right-radius:4px;border-bottom-right-radius:4px;" class="btn btn-sm btn-outline-primary inputs mainbtn" >EDIT</button>
                      <button (click)='reset()' id ='cancel' data-dismiss="modal" style="width: 57px; font-size: 10px;border-right: 0px; top: 100px;  position:relative; border-radius: 4px 0px 0px 4px;" class="btn btn-sm btn-outline-primary inputs mainbtn" >CANCEL</button>
                    </div>
                    <div *ngIf='cardView.editing' class="card-body orderbody"style="width:56%;margin:auto;">
                      <form  style="top:15%;" class=" staffsform">
                        <div class="form-group vitals-section address">
                            <label style="font-size:8px" for="drug" class="labelss">DRUG NAME</label>
                            <input style='font-size:11px' autocomplete="off" (keyup)= "searchItems(input)" [(ngModel)] = input type="text" name="drug" placeholder= "E.g Paracetamol" class="patientdata dystolic inputs dataInfo" />
                            <div *ngIf = searchedItems.length  class="options prisOption edit">
                                <ul class="itemsList" >
                                  <li *ngFor="let item of searchedItems"><p (click) = "addSelection(item)"  class="dept firstheader drugItem" style="font-size:13px;padding-left: 10px; padding-right: 10px;font-weight: normal;" >{{item.name+ ' '}}<span class="lastdept timetaken " >
                                    {{item.mesure + item.unit}}</span></p>
                                  </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group vitals-section formGroup" style=" width:22%;">
                            <label style="font-size:8px" for="dos" class="labelss complain">INTAKE</label>
                            <input [(ngModel)] = "medication.priscription.intake" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;font-size:11px"  type="number" name="dos" class="patientdata inputs dataInfo"  >
                        </div>
                        <div class="form-group vitals-section formGroup" style=" width:28%; ">
                            <label style="font-size:8px" for="intake" class="labelss complain">FREQ</label>
                            <select [(ngModel)]="medication.priscription.freq" style="border-radius: 0px;font-size:11px"  class=" patientdata status inputs dataInfo " name="intake">
                                <option>dos</option>
                                <option>qos</option>
                                <option>am</option>
                                <option>ar</option>
                            </select>
                        </div>
                        <div class="form-group vitals-section formGroup" style=" width:28%;">
                            <label style="font-size:8px" for="intake" class="labelss complain">DAYS</label>
                            <input [(ngModel)]="medication.priscription.piriod" style="border-radius: 0px;font-size:11px;"type="number" name="piriod" class="patientdata inputs dataInfo"   placeholder="">
                        </div>
                        <div class="form-group vitals-section formGroup" style=" width:22%;">
                            <label style="font-size:8px" for="purchase" class="labelss complain">QTY</label>
                            <input [min] = '0' [max] = 'medication.product.stockInfo.quantity' [(ngModel)]="medication.purchased" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;font-size:11px"  type="number" name="purchase" class="patientdata inputs dataInfo"   placeholder="">
                        </div>
                        <div style="margin-bottom:0px; width:100%;position:relative;height:25px;" class="form-group vitals-section formGroup">
                          <p style='position: absolute;left:47%;text-align:center; font-size:11px; top:10%;'>
                            {{editables.length}}<span>/</span><span>{{count}}</span></p>
                          <i (click)='previous()' title="Previous" class="icon ion-ios-arrow-left shift-icon"></i>
                          <i (click)='next()' title="Next" class="icon ion-ios-arrow-right shift-icon next-icon"></i>
                        </div>

                        <div  style="top:1px; margin-bottom:25px; min-height: 80px;max-height: 120;"  class="form-group vitals-section setGroup">
                          <table *ngIf="edited.length"  cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" >
                               <tbody>
                                  <tr *ngFor="let med of edited; let i = index; let odd = odd;"  style="border-bottom:2px solid white;" [class.even] = odd  class="ro staff-row">
                                      <td style="padding-left:4px;" class="data">
                                      {{med.product.item.name}}<span class="predata">
                                        {{med.product.item.mesure+med.product.item.unit}}</span></td>
                                      <td style='font-size:11px' class="data">
                                        {{med.priscription.intake+'-'+med.priscription.freq+'-'+ med.priscription.piriod}}</td>
                                      <td style='font-size:11px' class="data">{{med.purchased}}</td>
                                      <td style='font-size:11px' class="data">{{med.purchased*med.product.stockInfo.price}}</td>
                                  </tr>
                              </tbody>
                              <tfoot col-span='4' style='font-size:11px; text-align:right; position:absolute; font-weight:bold;padding-right: 10px; border-top: 1px solid whitesmoke;width:100%'>Total: <span>{{getPriceTotal()}}</span> </tfoot>
                            </table>
                        </div>
                        <button (click)='switchToEdit()' type ="submit"  style=" width: 95px; position:relative; outline: none; box-shadow: none;  font-size: 10px; left:143px; margin:15px; border-radius: 0px; border-top-right-radius:4px;border-bottom-right-radius:4px;" class="btn btn-sm btn-outline-primary inputs mainbtn" >PAID</button>
                        <button (click)='reset()' id ='cancel' data-dismiss="modal" style="width: 57px; font-size: 10px;right:39px; border-right: 0px; margin:15px; position:relative; border-radius: 4px 0px 0px 4px;" class="btn btn-sm btn-outline-primary inputs mainbtn" >CANCEL</button>
                    </form>

                  </div>
                
              </div>
          </div>
      </div>
  </div>
</div>


<div class="modal fade" role="dialog" tabindex="-1" id="comfirmPayment" style="border-radius:0px;width:auto;">
  <div class="modal-dialog" role="document">
      <div class="modal-content" style="width:480px;border-radius:0px;padding-left:0px;padding-right: 0px;">
          <div class="modal-body" style="border-radius:0px;padding: 0px">
              <div class="card card-secondary historycard midlecard profilecard" style="margin:auto;min-height:200px">
                  <div class="card-header grapheader"style="border-radius:0px;">
                      <h1 class="dept headtitle">EDIT PAYMENT<span class="headeredit" title="Edit information"></span></h1>
                  </div>
                  <div style="padding-top:10px;padding-left:10px; padding-right:10px"  class="card-body topcardbody clientinfobody nopading">
                    <form (submit) = comfirmPayment() style="top:15%; padding-left: 18%; padding-right: 18%;" class=" staffsform">
                        <div class="form-group vitals-section address">
                            <label for="drug" class="labelss">DRUG NAME</label>
                            <input style='font-size:11px' autocomplete="off" (keyup)= "searchItems(input)" [(ngModel)] = input type="text" name="drug" placeholder= "E.g Paracetamol" class="patientdata dystolic inputs dataInfo" />
                            <div *ngIf = searchedItems.length  class="options prisOption edit">
                                <ul class="itemsList" >
                                  <li *ngFor="let item of searchedItems"><p (click) = "addSelection(item)"  class="dept firstheader drugItem" style="font-size:13px;padding-left: 10px; padding-right: 10px;font-weight: normal;" >{{item.name+ ' '}}<span class="lastdept timetaken " >
                                    {{item.mesure + item.unit}}</span></p>
                                  </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group vitals-section formGroup" style=" width:22%;">
                            <label for="dos" class="labelss complain">INTAKE</label>
                            <input [(ngModel)] = "medication.priscription.intake" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;font-size:11px"  type="number" name="dos" class="patientdata inputs dataInfo"  >
                        </div>
                        <div class="form-group vitals-section formGroup" style=" width:28%; ">
                            <label for="intake" class="labelss complain">FREQ</label>
                            <select [(ngModel)]="medication.priscription.freq" style="border-radius: 0px;font-size:11px"  class=" patientdata status inputs dataInfo " name="intake">
                                <option>dos</option>
                                <option>qos</option>
                                <option>am</option>
                                <option>ar</option>
                            </select>
                        </div>
                        <div class="form-group vitals-section formGroup" style=" width:28%;">
                            <label for="intake" class="labelss complain">DAYS</label>
                            <input [(ngModel)]="medication.priscription.piriod" style="border-radius: 0px;font-size:11px;"type="number" name="piriod" class="patientdata inputs dataInfo"   placeholder="">
                        </div>
                        <div class="form-group vitals-section formGroup" style=" width:22%;">
                            <label for="purchase" class="labelss complain">QTY</label>
                            <input [min] = '0' [max] = 'medication.product.stockInfo.quantity' [(ngModel)]="medication.purchased" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;font-size:11px"  type="number" name="purchase" class="patientdata inputs dataInfo"   placeholder="">
                        </div>
                        <div style="margin-bottom:0px; width:100%;position:relative;height:25px;" class="form-group vitals-section formGroup">
                          <p style='position: absolute;left:47%;text-align:center; font-size:11px; top:10%;'>
                            {{editables.length}}<span>/</span><span>{{count}}</span></p>
                          <i (click)='previous()' title="Previous" class="icon ion-ios-arrow-left shift-icon"></i>
                          <i (click)='next()' title="Next" class="icon ion-ios-arrow-right shift-icon next-icon"></i>
                        </div>

                        <div *ngIf="edited.length" style="top:1px; margin-bottom:25px;"  class="form-group vitals-section setGroup">
                          <table   cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. " >
                               <tbody>
                                  <tr *ngFor="let med of edited; let i = index; let odd = odd;"  style="border-bottom:2px solid white;" [class.even] = odd  class="ro staff-row">
                                      <td style="padding-left:4px;" class="data">
                                      {{med.product.item.name}}<span class="predata">
                                        {{med.product.item.mesure+med.product.item.unit}}</span></td>
                                      <td style='font-size:11px' class="data">
                                        {{med.priscription.intake+'-'+med.priscription.freq+'-'+ med.priscription.piriod}}</td>
                                      <td style='font-size:11px' class="data">{{med.purchased}}</td>
                                      <td style='font-size:11px' class="data">{{med.purchased*med.product.stockInfo.price}}</td>
                                  </tr>
                              </tbody>
                              <tfoot col-span='4' style='font-size:11px; text-align:right; position:absolute; font-weight:bold;padding-right: 10px; border-top: 1px solid whitesmoke;width:100%'>Total: <span>{{getPriceTotal()}}</span> </tfoot>
                            </table>
                        </div>
                        <button  type ="submit"  style=" width: 95px; position:relative;  font-size: 10px; left:175px; margin:15px 15px;  border-radius:0px;" class="btn btn-sm btn-primary inputs mainbtn" >UPDATE</button>
                        <button (click)='reset()' id ='cancel' data-dismiss="modal" style="width: 57px; font-size: 10px;right:9px; margin:15px 15px; position:relative; border-radius:0px" class="btn btn-sm btn-primary inputs mainbtn" >Cancel</button>
                    </form>
                    </div>
                    <!-- <div *ngIf="!medicView" style="width:54%;margin:auto" class="card-body orderbody">
                        <div *ngFor="let medic of patients[curIndex]?.record.medications; let i = index" class="carditem priscriptioncontainer order">
                            <div  class="timeline condition drugtimeline">
                                <p class="timelinedate">{{medic[0]?.dateAdded|date:'dd'}}</p>
                                <p class="timelinedate month">{{medic[0]?.dateAdded|date:'MMM'|uppercase}}</p>
                            </div>
                            <div *ngFor ="let m of medic; let j = index" class="priscription drug">
                                <h6 class="dept">{{m.product.item.name}}&nbsp;<span class="predata">
                                  {{m.product.item.mesure+m.product.item.unit}}
                                  <i title="Continue" (click)=playMedication(i,j) *ngIf = m.paused class="icon ion-ios-play-outline editicon continue"></i>
                                  <i title="Discontinue" (click)= pauseMedication(i,j) *ngIf = !m.paused class="icon ion-ios-pause-outline editicon continue"></i></span><span class="predata priceval">
                                  </span></h6>
                                <h6 class="dept previnfo">Dosage&nbsp;<span class="predata">{{m.priscription.piriod+' '+ '|'+' '+m.priscription.freq}} </span>
                                </h6>
                                <h6 class="dept previnfo"style="color:lightgrey">
                                  {{m.dateAdded|date:'hh:mma'|lowercase}}<span class="predata lastadministered" style="left:49%;width:97px; position:absolute; text-align:right">
                                    {{m.lastTaken|date:'dd MMM hh:mma'|lowercase}}</span>
                                </h6>
                            </div>
                       </div>
                  </div> -->
                  <!-- <div *ngIf="medicView" style="width:54%;margin:auto" class="card-body orderbody">
                        <form style="top:15%; padding-left: 2%; padding-right: 2%;" class=" staffsform" (submit) = updateMedication()>
                            <div class="form-group vitals-section address">
                                <label for="drug" class="labelss">DRUG</label>
                                <input autocomplete="off" (keyup)= "searchItems(input)" [(ngModel)] = input type="text" name="drug" placeholder= "E.g Paracetamol" class="patientdata dystolic inputs dataInfo" style="font-size:11px;" />
                                <div *ngIf= temItems.length  class="options prisOption edit">
                                    <ul class="itemsList" >
                                      <li  *ngFor="let item of temItems"><p (click) = "addSelection(item)"  class="dept firstheader drugItem" style="font-size:13px;padding-left: 10px; padding-right: 10px;font-weight: normal;" >{{item.name+ ' '}}<span class="lastdept timetaken " >{{item.mesure + item.unit}}</span></p>
                                      </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group vitals-section formGroup" style=" width:26%;">
                                <label for="dos" class="labelss complain">INTAE</label>
                                <input [(ngModel)] = "priscription.intake" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;font-size:11px"  type="number" name="dos" class="patientdata inputs dataInfo"  >
                            </div>
                            <div class="form-group vitals-section formGroup" style=" width:37%; ">
                                <label for="intake" class="labelss complain">FREQ</label>
                                <select [(ngModel)]="priscription.freq" style="border-radius: 0px;font-size:11px;                      border-top-right-radius: 0px;          border-bottom-right-radius:0px"
                                  class=" patientdata status inputs dataInfo " name="intake">
                                    <option>dos</option>
                                    <option>qos</option>
                                    <option>am</option>
                                    <option>ar</option>
                                </select>
                            </div>
                            <div class="form-group vitals-section formGroup" style=" width:26%;">
                                <label for="piriod" class="labelss complain">DAYS</label>
                                <input [(ngModel)]="priscription.piriod" style="border-radius: 0px; font-size:11px;"
                                type="number" name="piriod" class="patientdata inputs dataInfo" placeholder="">
                                <div id='moreBtn' title="Add medication"><i (click)="addMedication()" class="icon ion-ios-plus-empty arrow " style="font-size:25px;position: absolute;left:27%;top:-17%; cursor:pointer"></i>
                                </div>
                            </div>

                            <div *ngIf="tempMedications.length" style="top:1px; margin-bottom:25px;"  class="form-group vitals-section setGroup">
                              <table   cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. " >
                                   <tbody>
                                      <tr *ngFor="let med of tempMedications; let i = index; let odd = odd;"  style="border-bottom:2px solid white;" [class.even]=odd  class="ro staff-row">
                                          <td style="padding-left:4px;" class="data">
                                          {{med.product.item.name}}<span class="predata">{{med.product.item.mesure+med.product.item.unit}}</span></td>
                                          <td class="data">
                                            {{med.priscription.intake +med.priscription.freq+ ' '+'|'+' '+ med.priscription.piriod}}</td>
                                          <td class="data">
                                            {{med.product.stockInfo.price}}</td>
                                      </tr>
                                  </tbody>
                                </table>
                            </div>

                        </form>
                  </div> -->
                 <!-- <div *ngIf="!medicView"  (click)="switchToNewMedic()"
                       style='left:80%; height:32px;width:32px'
                       title ='Add Medication' class="floter">

                    <i style="color:#1da1f2; left:8px; font-size:25px;bottom:5px"
                       class="icon ion-ios-plus-empty arrow flotericon">
                    </i>
                </div>
                <div *ngIf="medicView && tempMedications.length" (click)="saveMedication(curIndex)" style='left:80%; height:32px;width:32px'
                title ='Done' class="floter">
                <i *ngIf='loading' class="fa fa-circle-o-notch fa-spin fa-10x slow-spin" style="position:absolute;bottom:5px;left:5px;font-size:20px;color: #1da1f2;"> </i>

                <i *ngIf='!loading' style="color:#1da1f2;bottom:-10px"
                  class="icon ion-ios-checkmark-empty flotericon"> </i>

              </div> -->
              <button style='left:80%; height:32px;width:32px'
                   title ='Edit' class=" btn btn-outline-primary floter">
                    <i style=" font-size:15px;text-align: center;position: relative;"
                     class="icon ion-edit arrow flotericon">
                    </i>
              </button>
            </div>
        </div>
     </div>
  </div>
</div>


  

<nav class="navbar fixed-top navbar-light navbar-expand-md navigation-clean-search" style="padding:0px; margin-bottom:0px">
  <div class="container">
      <a class="navbar-brand" href="#">
          <em>MS</em>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav"></ul>
          <form class="form-inline mr-auto searchform" target="_self">
              <div class="form-group">
                  <label style="left:500px;position:absolute;"  for="search-field">
                      <i class="icon ion-ios-search searchicon" title="Search"></i>
                  </label>
                  <input [(ngModel)] = searchTerm #search (keyup)='searchPatient(searchTerm)' autocomplete = "off" style="border-radius:30px;
                  left: 270px;
                  width:220px;
                  background-color: rgb(243, 248, 247);
                  margin: auto;"
                  class="form-control search-field"
                  type="search" name="search" id="search-field" placeholder="Search patient">
              </div>
          </form>
          <h6 style='font-size:12px;
                      left:780px;position:absolute;
                      color:grey;
                      font-weight:normal;'>Sort by: <span stye='cursor:pointer'(click)='showSortMenu()'>
                        {{nowSorting}}</span></h6>
          <div *ngIf=sortMenu style='position: absolute;
                      left:824px;
                      width:100px;top:6px;
                      height:110px'  class="menu">
            <ul class="actions primary">
                <li (click)='sortPatients("name")' class="action">A-Z</li>
                <li (click)='sortPatients("age")' class="action">Age</li>
                <li (click)='sortPatients("status")' class="action">Status</li>
                <li (click)='sortPatients("sex")' class="action">Gender</li>
                <li (click)='sortPatients("date")' class="action">Date added</li>
            </ul>
        </div>
      </div>
  </div>
  <i style="left:80%;" class="icon ion-android-notifications-none arrow buble note" title="Notifications"></i>
    <i [routerLink]="['./me']" data-target="#newModal" data-toggle="modal" style="left:83%;" class="icon ion-ios-person-outline arrow buble" id="add" title="Me" ></i>
  
    <div class="timeline lastdoc priscriber headerdp small-dp user-dp"style="left:90%;position:absolute;height:30px;width:30px;bottom:-8%"></div>
</nav>

    <div style="padding-top:60px" class="container">
          <div class="row">
              <h6 *ngIf ='!patients.length' style='font-size:13px;position:relative;top:170px;text-align:center;display:inline-block; color:lightgrey; width:30%; margin:auto;' [routerLink]="['/signup']" routerLinkActive="" >No Record Found</h6>
              <div  *ngFor="let patient of patients; let i=index"  class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div *ngIf = "patient.card.view == 'front'"  class="card card-secondary maincard">
                    <div style="border-radius:12px" class="card-header profileheader"><i class="icon ion-android-more-vertical headericon moreicon actions-icon"></i>
                        <div class="timeline lastdoc priscriber headerdp">
                            <img [src] = getDp(patient)/>
                        </div>
                    </div>
                    <p class="dept displayname">
                    {{patient.info.personal.firstName + ' '+ patient.info.personal.lastName}}<span class="predata editicon"></span></p>
                    <div class="card-body mainbody">
                        <div class="carditem basic-item">
                            <h6 class="dept basic-info">Sex</h6>
                            <h6 class="dept basic-info sex-info">
                                {{patient.info.personal.gender.charAt(0).toUpperCase()}}</h6>
                        </div>
                        <div class="carditem basic-item">
                            <h6 class="dept basic-info">Age</h6>
                            <h6 class="dept basic-info sex-info">{{patient.info.personal.dob|dob}}</h6>
                        </div>
                        <div class="carditem basic-item">
                           <h6 class="dept basic-info">Seen</h6>
                           <h6 class="dept basic-info sex-info">{{patient.record.visits.length}}</h6>
                        </div>
                        <div class="priscription basic-subinfo">
                            <div class="sub-container">
                                <h6 class="dept basic-secondary basic-value">
                                  {{patient.record.visits[0].dept}}</h6>
                            </div>
                            <div class="sub-container">
                                <h6 class="dept basic-secondary basic-value">
                                  {{patient.record.visits[0].visitedOn|date:'dd MMM hh:mma'|uppercase}}</h6>
                            </div>
                          </div>
                    </div>
                    <button (click)='selectPatient(i)' data-toggle="modal" data-target="#medicModal" style=" width: 90px;font-size: 10px; height:27px;left:52%; bottom:7%;" class="btn btn-sm btn-outline-primary inputs mainbtn" >ORDERS</button>
                </div>


          </div>
      </div>
  </div>

