
<div class="modal fade" role="dialog" tabindex="-1" id="revokeModal" style="border-radius:0px;width:auto;">
  <div class="modal-dialog" role="document">
      <div class="modal-content" style="width:480px;border-radius:0px;;padding-left:0px;padding-right: 0px;">
          <div class="modal-body" style="border-radius:0px;padding: 0px">
              <div class="card card-secondary historycard midlecard profilecard" style="margin:auto;min-height:150px">
                  <div class="card-header grapheader"style="border-radius:0px;">
                      <h1 class="dept headtitle">COMFIRM PAYMENT<span class="headeredit" title="Edit information">Edit</span></h1>
                  </div>
                  <div style="padding-top:10px;padding-left:10px; padding-right:10px"  class="card-body topcardbody clientinfobody nopading">
                    <div  class="form-group vitals-section setGroup">
                      <table   cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. " >
                       <!-- <thead class='productHead'>
                           <tr class="staff-th">

                               <th class="headlbl staff-th">NAME</th>
                               <th class="headlbl staff-th">PRICE</th>
                               <th class="headlbl staff-th">QUANTITY</th>
                               <th class="headlbl staff-th"  style="text-align: center">EXPIRY</th>
                               <th class="headlbl headlbl staff-th"  style="text-align: center"></th>
                           </tr>
                       </thead> -->
                       <tbody>
                          <tr *ngFor="let item of getSelections();let even=even"  class="ro even  staff-row">

                              <td style="padding-left:4px;" class="data">
                                {{item.product.item.name}}&nbsp;<span class="predata">{{item.product.item.mesure+item.product.item.unit}}</span></td>
                              <td class="data">{{item.priscription.freq+' '+ '|'+' '+item.priscription.piriod+' '+ item.priscription.extend}} </td>
                              <td class="data"[class.strike]="item.product.stockInfo.quantity===item.product.stockInfo.sold">{{item.product.stockInfo.price||'---'}}</td>

                          </tr>


                      </tbody>
                    </table>
                </div>
                      <!-- <form novalidate  class="patientform">
                      <div style="width:49.3%; margin-top:5px;margin-right: 5px; display:inline-block" class="form-group vitals-section formGroup">
                          <label style="font-size:9px;" for="product" class="labelss duration">PRODUCT</label>
                          <input style="font-size:11px" autocomplete="off" (keyup)="searchItem(input)"
                          [(ngModel)] = input  type="text" name="name" class=" inputs dataInfo patientdata"  placeholder="Product name"/>
                          <div *ngIf= temItems.length class="options">
                            <ul class="itemsList" >
                              <li *ngFor="let item of temItems"><p  class="dept firstheader drugItem" style="font-size:12px; padding-left: 5px; font-weight: normal;" >{{item.name+ ' '}}<span class="lastdept timetaken " (click) = "selectItem(item)">{{item.mesure + item.unit}}</span></p>
                              </li>
                            </ul>
                          </div>
                      </div>

                      <div style="width:49.3%;  display:inline-block" class="form-group vitals-section formGroup">
                          <label for="price" class="labelss">PRICE</label>
                          <input style="font-size:11px" [(ngModel)] = "product.stockInfo.price"  type="number" name="price" class=" inputs dataInfo patientdata"  placeholder="Price per item"/>
                      </div>

                      <div style="width:49.3%; margin-top:5px;margin-right: 5px; display:inline-block" class="form-group vitals-section formGroup">
                          <label for="quantity" class="labelss">QUANTITY</label>
                          <input style="font-size:11px" [(ngModel)] = "product.stockInfo.quantity" type="number" name="quantity" class=" inputs dataInfo patientdata"  placeholder="Quantity"/>
                      </div>
                      <div style="width:49.3%;  display:inline-block" class="form-group vitals-section formGroup">
                          <label for="expiry" class="labelss">EXPIRY DATE</label>
                          <input style=" font-size:11px;" [(ngModel)] = "product.stockInfo.expiry" type="date" name="expiry" class=" inputs dataInfo patientdata"  placeholder="Expiry"/>
                      </div>

                      <button style=" width: 130px; left:323px; bottom:5%; "  type="submit" class="btn btn-sm btn-outline-primary inputs mainbtn" >Add Product</button>
                      <button style="width: 61px; left:260px; bottom:5%;" class="btn btn-sm btn-outline-primary inputs mainbtn" >Cancel</button>
                    </form> -->
                    <!-- <div  class="form-group vitals-section setGroup">
                        <table   cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. " >
                         <thead class='productHead'>
                             <tr class="staff-th">

                                 <th class="headlbl staff-th">NAME</th>
                                 <th class="headlbl staff-th">PRICE</th>
                                 <th class="headlbl staff-th">QUANTITY</th>
                                 <th class="headlbl staff-th"  style="text-align: center">EXPIRY</th>
                                 <th class="headlbl headlbl staff-th"  style="text-align: center"></th>
                             </tr>
                         </thead>
                         <tbody>
                            <tr  class="ro staff-row">

                                <td style="padding-left:4px;" class="data">
                                  Paracetamol</td>
                                <td class="data">500</td>
                                <td class="data">100</td>
                                <td class="data" style="text-align:center">
                                  22/02/2018</td>
                                <td style="text-align: left; padding-left:3px" class="data" >
                                  <i class="icon ion-edit tableicon " title="Edit" style="color:rgb(149, 149, 149);font-size:14px; top:32px; right: 22px;position:absolute; cursor: pointer;"></i>
                                  <i   class="icon ion-ios-trash-outline tableicon" title="Drop" style="font-size:17px; cursor: pointer;"></i>
                                </td>
                            </tr>

                        </tbody>
                      </table>
                  </div> -->
                  </div>
                  <button style=" width: 90px; font-size: 11px; left:373px; bottom:7%;"  (click)="comfirmPayment()" class="btn btn-sm btn-outline-primary inputs mainbtn" >COMFIRM</button>
                  <button style="width: 51px; font-size: 11px; left:320px; bottom:7%;" class="btn btn-sm btn-outline-primary inputs mainbtn" >Cancel</button>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="sidenav">
    <a href="#" class="home homemenu" title="Menu">
        <span class="homespan">
            <i class="material-icons homeicon">sort</i>
        </span>
    </a>

    <a href="#" [routerLink]="['/pharmacy']"  class="home dashboard" title="Dashboard">
        <span class="homespan">
            <i class="icon ion-android-apps homeicon"></i>
        </span>
    </a>
    <a href="#" [routerLink]="['/information']" routerLinkActive="router-link-active"  class="home patienmenu" title="Patients">
        <span class="homespan">
            <i class="icon ion-ios-people-outline homeicon"></i>
        </span>
    </a>
    <a href="#" [routerLink]="['/consultation']" routerLinkActive="router-link-active"  class="home reviewmenu" title="Appointments">
        <span class="homespan">
            <i class="icon ion-ios-calendar-outline homeicon"></i>
        </span>
    </a>
    <a href="#" [routerLink]="['/products']" routerLinkActive="active"  class="home cartmenu" title="Products">
        <span class="homespan"> <i class="icon ion-ios-cart-outline homeicon"></i></span></a>
    <a href="#" [routerLink]="['/ward']" routerLinkActive="router-link-active"   class="home wardmenu" title="Ward"><span class="homespan"><i class="material-icons homeicon wardicon">airline_seat_individual_suite</i></span></a>
    <a href="#"  [routerLink]="['/account']" routerLinkActive="router-link-active" class="home settings" title="Settings"><span class="homespan"><i class="icon ion-ios-gear-outline homeicon"></i></span></a>
  </div>
<nav class="navbar fixed-top navbar-light navbar-expand-md navigation-clean-search" style="padding:0px; margin-bottom:0px">
<div class="container">
    <a class="navbar-brand" href="#">
        <em>MS</em>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav"></ul>
        <form class="form-inline mr-auto searchform" target="_self">
            <div class="form-group">
                <label for="search-field">
                    <i class="icon ion-ios-search searchicon" title="Search"></i>
                </label>
                <input autocomplete="off" style="border-radius:30px; left: 405px; width:220px;background-color: rgb(243, 248, 247); margin: auto;" class="form-control search-field" type="search" name="search" id="search-field" placeholder="Search Patient">
            </div>
        </form>
    </div>
</div>
<i style="left:20%;" class="icon ion-android-notifications-none arrow buble note" title="Notifications"></i>
<i [routerLink]="['/messages']" routerLinkActive="router-link-active"  style="left:23%; font-size: 22px;" class="icon ion-ios-chatboxes-outline arrow buble" title="Messages"></i>
<i style="left:27%;" class="icon ion-ios-personadd-outline arrow buble" id="add" title="Add Patient" ></i>
<i style="left:83%;" class="icon ion-ios-plus-empty arrow buble" id="add" title="Add Products" data-target="#newModal" data-toggle="modal"></i>
<div class="timeline lastdoc priscriber headerdp small-dp user-dp"style="left:90%;position:absolute;height:30px;width:30px;bottom:-8%"></div>
</nav>








<div
        class="container">
        <div class="row">
            <div *ngFor="let patient of patients; let i = index" class="col col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" >
                <div style="min-height:400px;max-height:400px" class="card card-secondary maincard">
                    <div class="card-header profileheader small-header"><i class="icon ion-android-more-vertical small-icon"></i>
                        <div class="timeline lastdoc priscriber headerdp small-dp"></div><a href="#" class="patien-name small-name">
                          {{patient.info.personal.firstName + ' '+ patient.info.personal.lastName}}<span class="small-headericon"></span></a>
                    </div>
                    <div class="card-body orderbody">
                        <div *ngFor="let medic of patient.record.medications; let j = index" class="carditem priscriptioncontainer order">
                            <div  class="timeline condition drugtimeline">
                                <p class="timelinedate">{{medic[j].priscription.priscribedOn|date:'dd'}}</p>
                                <p class="timelinedate month">{{medic[j].priscription.priscribedOn|date:'MMM'|uppercase}}</p>
                            </div>
                            <div *ngFor ="let m of medic; let k= index" class="priscription drug">
                                <h6 class="dept">{{m.product.item.name}}&nbsp;<span class="predata">{{m.product.item.mesure+m.product.item.unit}}</span><span class="predata priceval"><input [checked] ="m.paid" (click)="selectItem(i,j,k)" type="checkbox"></span></h6>
                                <h6 class="dept previnfo">Dosage&nbsp;<span class="predata">{{m.priscription.freq+' '+ '|'+' '+m.priscription.piriod+' '+ m.priscription.extend}} </span></h6>
                                <h6 class="dept previnfo">Price&nbsp;<span class="predata priceval "[class.strike]="m.product.stockInfo.quantity===m.product.stockInfo.sold">{{m.product.stockInfo.price||'---'}}</span></h6>
                            </div>
                        </div>
                       <div class="carditem priscriptioncontainer order">
                            <div class="timeline condition drugtimeline">
                                <p class="timelinedate">05</p>
                                <p class="timelinedate month">FEB</p>
                            </div>
                            <div class="priscription drug">
                                <h6 class="dept">Amoxiline&nbsp;<span class="predata prescriptionicon"><input type="checkbox"></span><span class="predata">200mg</span></h6>
                                <h6 class="dept previnfo">Dosage&nbsp;<span class="predata">dos | 10 days</span></h6>
                                <h6 class="dept previnfo">Price&nbsp;<span class="predata priceval">300</span></h6>
                            </div>
                            <div class="priscription drug">
                                <h6 class="dept">Chloroquine &nbsp;<span class="predata prescriptionicon"><input type="checkbox"></span><span class="predata">200ml</span></h6>
                                <h6 class="dept previnfo">Dosage&nbsp;<span class="predata">dos | 10 days</span></h6>
                                <h6 class="dept previnfo">Price&nbsp;<span class="predata priceval">200</span></h6>
                            </div>
                            <div class="priscription drug">
                                <h6 class="dept">Destrosaline<span class="predata prescriptionicon"><input type="checkbox"></span><span class="predata">1000ml</span></h6>
                                <h6 class="dept previnfo">Dosage&nbsp;<span class="predata">dos | 10 days</span></h6>
                                <h6 class="dept previnfo">Price&nbsp;<span class="predata priceval">500</span></h6>
                            </div>
                        </div>
                         <!-- <div class="carditem priscriptioncontainer order">
                            <div class="timeline condition drugtimeline">
                                <p class="timelinedate">25</p>
                                <p class="timelinedate month">SEP</p>
                            </div>
                            <div class="priscription drug">
                                <h6 class="dept"><span class="predata prescriptionicon"><input type="checkbox"></span>Peritone&nbsp;<span class="predata">200mg</span></h6>
                                <h6 class="dept previnfo">Dosage&nbsp;<span class="predata">dos | 10 days</span></h6>
                                <h6 class="dept previnfo">Price&nbsp;<span class="predata priceval">150</span></h6>
                            </div>
                            <div class="priscription drug">
                                <h6 class="dept">Amathem&nbsp;<span class="predata prescriptionicon"><input type="checkbox"></span><span class="predata">200mg</span></h6>
                                <h6 class="dept previnfo">Dosage&nbsp;<span class="predata">dos | 10 days</span></h6>
                                <h6 class="dept previnfo">Price&nbsp;<span class="predata priceval">350</span></h6>
                            </div>
                        </div> -->
                    </div>
                    <div class="card-footer">
                        <div class="icon-container edit-container"><i class="material-icons edit-drug" title="Edit medication">mode_edit</i></div>
                        <div data-toggle="modal" data-target="#revokeModal"  class="icon-container"><i class="icon ion-ios-checkmark-empty edit-drug" title="Comfirm payment"></i></div>
                    </div>
                </div>
            </div>
            <div  class="col col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" >
                <div style="min-height:400px;max-height:400px;" class="card card-secondary maincard">

                    <div style="margin-left:0px; padding-top:15%; border-left: none" class="card-body orderbody" >
                        <form style="top:15%; padding-left: 2%; padding-right: 2%;" class=" staffsform" (submit) = updateMedication()>

                          <div class="form-group vitals-section address">
                              <label for="drug" class="labelss">Drug Name</label>
                              <input autocomplete="off" (keyup)= "searchItem(input)" [(ngModel)] = input type="text" name="drug" placeholder= "E.g Paracetamol" class="patientdata dystolic inputs dataInfo" />

                              <div *ngIf= temProducts.length  class="options prisOption edit">
                                  <ul class="itemsList" >
                                    <li  *ngFor="let product of temProducts"><p (click) = "selectProduct(product)"  class="dept firstheader drugItem" style="font-size:13px;padding-left: 10px; padding-right: 10px;font-weight: normal;" >{{product.item.name+ ' '}}<span class="lastdept timetaken " >{{product.item.mesure + product.item.unit}}</span></p>
                                    </li>
                                  </ul>
                              </div>

                          </div>
                          <div class="form-group vitals-section formGroup" style=" width:28%;">
                              <label for="dos" class="labelss complain">Intake</label>
                              <input [(ngModel)] = "medication.priscription.intake" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;"  type="number" name="dos" class="patientdata inputs dataInfo"  >
                          </div>
                          <div class="form-group vitals-section formGroup" style=" width:43%; ">
                              <label for="intake" class="labelss complain">Freq</label>
                              <select [(ngModel)]="medication.priscription.freq" style="border-radius: 0px;"  class=" patientdata status inputs dataInfo " name="intake">
                                      <option>dos</option>
                                      <option>qos</option>
                                      <option>after meal</option>
                                      <option>as required</option>
                              </select>
                          </div>
                          <div class="form-group vitals-section formGroup" style=" width:28%;">
                              <label for="piriod" class="labelss complain">Days</label>
                              <input [(ngModel)]="medication.priscription.piriod" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;"  type="number" name="piriod" class="patientdata inputs dataInfo"   placeholder="">
                          </div>
                          <div class="form-group vitals-section address">
                            <button (click)=switchViews() style="font-size:11px; width:50%;border-top-right-radius: 0px;border-bottom-right-radius: 0px; "  type="button" class="btn btn-sm btn-outline-primary inputs" >Cancel</button>

                            <button style="font-size:11px; width:49.5%; border-top-left-radius: 0px;border-bottom-left-radius: 0px; "  type="submit" class="btn btn-sm btn-outline-primary inputs" >Add Medication</button>
                          </div>
                      </form>

                      </div>
                    <div class="floter" title="Examine"><i class="icon ion-person-stalker flotericon consulticon" title="Administered"></i>
                    </div>
                </div>
              </div>
            <div  class="col col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" >
                <div style="min-height:400px;max-height:400px;" class="card card-secondary maincard">

                    <div style="margin-left:0px; padding-top:15%; border-left: none" class="card-body orderbody" >
                        <form style="top:15%; padding-left: 2%; padding-right: 2%;" class=" staffsform" (submit) = updateMedication()>

                          <div class="form-group vitals-section address">
                              <label for="drug" class="labelss">Drug Name</label>
                              <input autocomplete="off" (keyup)= "searchItem(input)" [(ngModel)] = input type="text" name="drug" placeholder= "E.g Paracetamol" class="patientdata dystolic inputs dataInfo" />

                              <div *ngIf= temProducts.length  class="options prisOption edit">
                                  <ul class="itemsList" >
                                    <li  *ngFor="let product of temProducts"><p (click) = "selectProduct(product)"  class="dept firstheader drugItem" style="font-size:13px;padding-left: 10px; padding-right: 10px;font-weight: normal;" >{{product.item.name+ ' '}}<span class="lastdept timetaken " >{{product.item.mesure + product.item.unit}}</span></p>
                                    </li>
                                  </ul>
                              </div>

                          </div>
                          <div class="form-group vitals-section formGroup" style=" width:28%;">
                              <label for="dos" class="labelss complain">Intake</label>
                              <input [(ngModel)] = "medication.priscription.intake" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;"  type="number" name="dos" class="patientdata inputs dataInfo"  >
                          </div>
                          <div class="form-group vitals-section formGroup" style=" width:43%; ">
                              <label for="intake" class="labelss complain">Freq</label>
                              <select [(ngModel)]="medication.priscription.freq" style="border-radius: 0px;"  class=" patientdata status inputs dataInfo " name="intake">
                                      <option>dos</option>
                                      <option>qos</option>
                                      <option>after meal</option>
                                      <option>as required</option>
                              </select>
                          </div>
                          <div class="form-group vitals-section formGroup" style=" width:28%;">
                              <label for="piriod" class="labelss complain">Days</label>
                              <input [(ngModel)]="medication.priscription.piriod" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;"  type="number" name="piriod" class="patientdata inputs dataInfo"   placeholder="">
                          </div>
                          <div class="form-group vitals-section address">
                            <button (click)=switchViews() style="font-size:11px; width:50%;border-top-right-radius: 0px;border-bottom-right-radius: 0px; "  type="button" class="btn btn-sm btn-outline-primary inputs" >Cancel</button>

                            <button style="font-size:11px; width:49.5%; border-top-left-radius: 0px;border-bottom-left-radius: 0px; "  type="submit" class="btn btn-sm btn-outline-primary inputs" >Add Medication</button>
                          </div>
                      </form>

                      </div>
                    <div class="floter" title="Examine"><i class="icon ion-person-stalker flotericon consulticon" title="Administered"></i>
                    </div>
                </div>
              </div>

          <!-- <div [ngSwitch]="view"  *ngFor="let patient of patients; let i = index"  class="col col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div *ngSwitchCase="'details'" class="card card-secondary maincard">
                <div class="card-header profileheader">
                  <div class="timeline lastdoc priscriber headerdp"></div>
                  <h1 class="dept displayname qicon">{{patient.personal.firstName + ' '+ patient.personal.lastName}}<span class="predata editicon" title="Edit"><i class="icon ion-android-more-vertical headericon moreicon" title="more actions"></i><i class="icon ion-android-stopwatch headericon clock" ></i></span></h1>
                  <h1 class="dept displayname subinfo">{{patient.dateCreated|date:'mediumDate'}}</h1>
                </div>
                <div style="margin-left:0px;" class="card-body orderbody" >
                  <form style="top:5%; padding-left: 2%; padding-right: 2%;" class="accountform staffsform" (submit) = updateMedication()>

                    <div class="form-group vitals-section address">
                        <label for="drug" class="labelss">Drug Name</label>
                        <input autocomplete="off" (keyup)= "searchItem(input)" [(ngModel)] = input type="text" name="drug" placeholder= "E.g Paracetamol" class="patientdata dystolic inputs dataInfo" />

                          <div *ngIf= temProducts.length  class="options prisOption edit">
                            <ul class="itemsList" >
                              <li  *ngFor="let product of temProducts"><p (click) = "selectProduct(product)"  class="dept firstheader drugItem" style="font-size:13px;padding-left: 10px; padding-right: 10px;font-weight: normal;" >{{product.item.name+ ' '}}<span class="lastdept timetaken " >{{product.item.mesure + product.item.unit}}</span></p>
                              </li>

                            </ul>
                           </div>
                     </div>
                    <div class="form-group vitals-section formGroup" style=" width:28%;">
                        <label for="dos" class="labelss complain">Intake</label>
                        <input [(ngModel)] = "medication.priscription.intake" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;"  type="number" name="dos" class="patientdata inputs dataInfo"   placeholder="tabs/spoons">
                    </div>
                    <div class="form-group vitals-section formGroup" style=" width:43%; ">
                        <label for="intake" class="labelss complain">Freq</label>
                        <select [(ngModel)]="medication.priscription.freq" style="border-radius: 0px;"  class=" patientdata status inputs dataInfo " name="intake">
                                <option>dos</option>
                                <option>qos</option>
                                <option>after meal</option>
                                <option>as required</option>
                        </select>
                    </div>
                    <div class="form-group vitals-section formGroup" style=" width:28%;">
                        <label for="piriod" class="labelss complain">Days</label>
                        <input [(ngModel)]="medication.priscription.piriod" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;"  type="number" name="piriod" class="patientdata inputs dataInfo"   placeholder="">
                    </div>


                     <div class="form-group vitals-section address">
                      <button (click)=switchViews() style="font-size:11px; width:50%;border-top-right-radius: 0px;border-bottom-right-radius: 0px; "  type="button" class="btn btn-sm btn-outline-primary inputs" >Cancel</button>

                      <button style="font-size:11px; width:49.5%; border-top-left-radius: 0px;border-bottom-left-radius: 0px; "  type="submit" class="btn btn-sm btn-outline-primary inputs" >Upadate</button>
                     </div>

                </form>

                </div>

            </div>







            <div *ngSwitchDefault class="card card-secondary maincard">
              <div class="card-header profileheader">
                <div class="timeline lastdoc priscriber headerdp"></div>
                <h1 class="dept displayname qicon">{{patient.personal.firstName + ' '+ patient.personal.lastName}}<span class="predata editicon" title="Edit"><i class="icon ion-android-more-vertical headericon moreicon" title="more actions"></i><i class="icon ion-android-stopwatch headericon clock" ></i></span></h1>
                <h1 class="dept displayname subinfo">{{patient.dateCreated|date:'mediumDate'}}</h1>
              </div>
              <div class="card-body orderbody">
                  <div class="carditem priscriptioncontainer order">
                      <div class="timeline condition">
                        <h1 class="timelinedate">02</h1>
                        <h1 class="timelinedate month">APR</h1>
                      </div>
                      <div *ngFor="let medication of patient.record.medications"  class="priscription drug">
                          <h1 class="dept">{{medication.product.item.name+ ' ' }}<span class="predata prescriptionicon"><input type="checkbox"></span><span class="predata editicon" title="Edit"><i (click)="selectMedication(medication, i)"  class="icon ion-edit editicon" ></i></span><span class="predata">{{medication.product.item.mesure+medication.product.item.unit}}</span></h1>
                          <h1 class="dept previnfo">Dosage:&nbsp;<span class="predata">{{medication.priscription.piriod + ' '+medication.priscription.extend + ' '+'|'+ ' '+ medication.priscription.freq}}</span></h1>
                          <h1 class="dept previnfo">Price: &nbsp;<span class="predata priceval">200</span></h1>
                      </div>

                      <h1 class="dept previnfo baseline">&nbsp;400</h1>
                      <h1 class="dept previnfo baseline baselinedate">&nbsp;15/10/2018 10:45am</h1>
                  </div>


              </div>
              <div class="floter" title="Examine"><i  class="icon ion-person-stalker flotericon consulticon" title="Examine"></i></div>

          </div>
        </div> -->

    </div>
    <button class="trigger" data-toggle="modal" data-target="#revokeModal" style="display:none" #trigger></button>
  </div>
