.image-link {
  height:100%;
  position:relative;
  display:block;
}

.card.scan-thumnail {
  width:60px;
  height:60px;
  display:inline-block;
  margin:0px;
  border-color:white;
  margin-bottom:0px;
  margin-right:3px;
  margin-left:0px;
  border-collapse:collapse;
  border: 1px solid whitesmoke;
}
.img-fluid {
  max-width:100%;
  height:100%;
  object-fit:cover;
  min-width:100%;
  border-radius:5px;
}

.icon.ion-ios-plus-empty.addicon {
  font-size:50px;
  text-align:center;
  position:absolute;
  left:25%;
  color:lightgrey;
  cursor:pointer;
  top:-27%;
}
.predata.lastadministered {
  left:80%;
  position:absolute;
  text-align:right;
  width:52px;
}
.mycheckbox{
  height:14px;
  width:14px;
  border:1px solid grey;
}