<div  *ngIf="patients.length"  class="modal " role="dialog" tabindex="-1" id="medicModal" style="border-radius:32px;max-width:841px;margin: auto;padding-top: 35px">
        <div style="max-width: 730px;border-radius:32px;" class="modal-dialog" role="document">
            <div class="modal-content" style="width:100%; height:400px;border-radius:32px;padding-left:0px;padding-right: 0px;">
                <div class="modal-body" style="border-radius:32px;padding: 0px;">
                    <div class="card card-secondary historycard midlecard profilecard" style="margin:auto;min-height:400px;border-radius:32px;width:100%;position: absolute">
                        <div  data-dismiss="modal" style="height: 25px; width:25px; top:3%; cursor: pointer;  color: white(248, 248, 248); background:rgba(193, 193, 224, 0.2)" class="close-comment">
                            <i  title="close" class="icon ion-ios-close-empty"></i>
                        </div>
                        <div style='padding-left: 30px;border-top-right-radius:32px;border-top-left-radius:32px;border-bottom: 0px;height:40px;margin-bottom: 15px;' class="card-header profileheader small-header">
                            <div style="left:23px;top:13px" class="timeline lastdoc priscriber headerdp small-dp">
                                <img [src]=getDp(patients[curIndex].info.personal.avatar)/>
                            </div>
                            <p style="top:5px"  href="#" class="patien-name small-name">
                            {{patients[curIndex]?.info.personal.firstName + ' ' + patients[curIndex].info.personal.lastName}}<span class="small-headericon"></span>
                            </p>
                            <h6 style='font-size:11px; font-weight:bold; position:absolute;color:dodgerblue;top:5%;left:70%' class="patien-name small-name">MEDICATIONS</h6>
                        </div>
                    <div *ngIf='cardView.orders'  class="card-body orderbody" style=" width:55%; margin:auto; ">
                        <div style="border-left:2px solid #1da1f2;height:290px; width:100%;">
                            <div style='border:none' *ngFor="let medic of patient.record.medications; let i = index" class="carditem priscriptioncontainer order">
                                <div style='left:-3%' class="timeline condition drugtimeline">
                                    <p class="timelinedate">{{medic[0]?.meta.dateAdded|date:'dd'}}</p>
                                    <p class="timelinedate month"> {{medic[0]?.meta.dateAdded|date:'MMM'|uppercase}}</p>
                                </div>
                                <div *ngFor="let m of medic; let j = index" class="priscription drug">
                                    <h6 [ngStyle]=getStyle(m) class="dept">{{m.name}}&nbsp;<span class="predata"></span>
                                        <span  class="predata priceval">
                                        <i (click)="selectMedication(i,j)" style=' color:lightgrey;'  *ngIf="m.meta.selected" class="icon ion-ios-checkmark-empty paid-icon" title="Deselect "></i>
                                        <div  class="mycheckbox" *ngIf="(!m.meta.selected && !m.paused) "  (click)="selectMedication(i,j)" >
                                        </div>
                                        <div  style='border-color:rgb(216, 216, 216)' *ngIf ="m.paused" class="mycheckbox"></div>
                                        </span>
                                    </h6>
                                    <h6 class="dept previnfo">Dosage&nbsp;
                                        <span class="predata">
                                            {{m.priscription.intake+'-'+m.priscription.freq+'-'+m.priscription.piriod}}
                                        </span>
                                    </h6>
                                    <h6 class="dept previnfo">
                                        <span class="predata">{{m.meta.dateAdded | date:'hh:mma'|lowercase}}</span>
                                        <span *ngIf="m.lastTaken" style="color:lightgrey;font-size:10px;left:77%;text-align:right;position: absolute;width: 82px" class="predata">{{m.lastTaken | date:'dd MMM hh:mma'|uppercase}}</span>
                                        <span *ngIf="!m.lastTaken"  style="color:lightgrey;font-size:10px;left:74.5%;text-align:right;position: absolute;width: 82px" class="predata">---</span>
                                    </h6>
                               </div>
                                <!-- <label class='totalLbl' *ngIf='somePaid(i)'>{{getTransTotal(medic)}} </label> -->
                            </div>
                        </div>
                    </div>
                    <div *ngIf='cardView.editing' class="card-body orderbody" style="width:55%;margin:auto;">
                            <form style="top:15%;" class=" staffsform">
                                <div style="top:1px; margin-bottom:25px; min-height: 80px;max-height: 120;" class="form-group vitals-section setGroup">
                                    <table *ngIf="selections.length" cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;">
                                        <thead class='productHead'>
                                            <tr style="padding-left: 4px" class="staff-th">
                                                <th style="padding:3px 8px;font-weight: bold;color:#1da1f2;" class="headlbl staff-th">MEDICATION</th>
                                                <th style='text-align:right;padding:3px 8px;font-weight: bold;color:#1da1f2;' class="headlbl staff-th">DOSAGE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let m of selections; let i = index; let odd = odd;" style="border-bottom:2px solid white;" [class.even]=odd class="ro staff-row">
                                                <td style="padding:2px 4px; " class="data"> {{m.name}}</td>
                                                <td style='font-size:11px;text-align:right;padding:2px 6px;' class="data">
                                                {{m.priscription.intake+'-'+m.priscription.freq+'-'+m.priscription.piriod}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <button (click) = updateTimeTaken() style=" width: 170px;font-size: 10px; height:27px;left:28%; bottom:24%;" class="btn btn-sm btn-outline-primary mainbtn">ADMINISTERED
                                    <span style="position: absolute; bottom: -7%;left: 80%;">
                                    <i *ngIf="processing" class="fa fa-circle-o-notch fa-spin fa-10x slow-spin " style="position:absolute;bottom:5px;left:5px;font-size:19px;color: #1da1f2;"> </i>
                                    </span>
                                </button>
                            </form>
                        </div>
                        <div *ngIf='cardView.editing' style="left:7%; top:45%;position: absolute;
                            width: 7%;" class="btn-group disposition">
                            <button (click)="switchViews('orders')" style="width:32px;height: 32px;border-radius: 50%;left:35%"   class="btn btn-outline-primary  dispo shift-button" >
                                <i  style='position:absolute;right:36%;top:2px; font-size:large; cursor:pointer; display: inline-block;' title="Back" class="icon ion-android-arrow-back"> 
                                </i>
                            </button>
                        </div>
                        <div *ngIf='cardView.orders && medSelected()' style="left:80%; top:45%;position: absolute;
                        width: 7%;" class="btn-group disposition">
                            <button (click)=switchToEdit() style="width:32px;height: 32px;border-radius: 50%;left:35%"   class="btn btn-outline-primary  dispo shift-button" >
                                <i   style='position:absolute;right:36%;top:2px; font-size:large; cursor:pointer; display: inline-block;' title="Go to payment" class="icon ion-android-arrow-forward "> 
                                </i>
                            </button>
                        </div>
                        <h6 *ngIf="successMsg" class="feedbackMsg">{{successMsg}}</h6>
                        <h6 *ngIf="errorMsg"  style="color: red" class="feedbackMsg">{{errorMsg}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div *ngIf="patients.length"  class="modal " role="dialog" tabindex="-1" id="vitalsModal" style="border-radius:32px;max-width:841px;margin: auto;padding-top: 35px">
        <div style="max-width: 730px;border-radius:32px;" class="modal-dialog" role="document">
            <div class="modal-content" style="width:100%; height:400px;border-radius:32px;padding-left:0px;padding-right: 0px;">
                <div class="modal-body" style="border-radius:32px;padding: 0px;">
                    <div class="card card-secondary historycard midlecard profilecard" style="margin:auto;min-height:400px;border-radius:32px;width:100%;position: absolute">
                        <div  data-dismiss="modal" style="height: 25px; width:25px; top:3%; cursor: pointer;  color: white(248, 248, 248); background:rgba(193, 193, 224, 0.2)" class="close-comment">
                            <i  title="close" class="icon ion-ios-close-empty"></i>
                        </div>
                        <div style='padding-left: 30px;border-top-right-radius:32px;border-top-left-radius:32px;border-bottom: 0px;height:40px;margin-bottom: 15px;' class="card-header profileheader small-header">
                            <div style="left:23px;top:13px" class="timeline lastdoc priscriber headerdp small-dp">
                                <img [src]=getDp(patients[curIndex].info.personal.avatar)/>
                            </div>
                            <p style="top:5px"  href="#" class="patien-name small-name">
                            {{patients[curIndex]?.info.personal.firstName + ' ' + patients[curIndex].info.personal.lastName}}<span class="small-headericon"></span>
                            </p>
                            <h6 style='font-size:11px; font-weight:bold; position:absolute;color:dodgerblue;top:5%;left:70%' class="patien-name small-name">VITALS</h6>
                        </div>
                    
                    <div class="card-body orderbody" style="width:55%;margin:auto;">
                        <form style="top:15%;" class=" staffsform">
                                <div style=" margin-top:2px;" class="form-group vitals-section formGroup">
                                        <label style='font-size:8px;left: 25px;top:-15%;' for="title" class="labelss complain">SELECT VITALS
                                        </label>
                                        <select name="vital" [(ngModel)] = vital autocomplete="off" class=" patientdata status inputs dataInfo " name="bedno">
                                            <option>Blood Presure</option>
                                            <option>Tempreture</option>
                                            <option>Pulse Rate</option>
                                            <option>Respiratory Rate</option>
                                        </select>
                                    </div>
                                    <div *ngIf="vital==='Blood Presure'"  class="form-group vitals-section formGroup" style=" width:47%;margin-right: 5px;">
                                        <label style="font-size:8px" for="dos" class="labelss complain">SYSTOLIC</label>
                                        <input (keyup)="clearVital('Blood Presure')" [(ngModel)]="session.vitals.bp.systolic"  placeholder="mm Hg" [min]='1' type="number" name="systolic" class="form-control patientdata inputs dataInfo">
                                    </div>
                                    <div *ngIf="vital==='Blood Presure'" class="form-group vitals-section formGroup" style=" width:44%;">
                                        <label style="font-size:8px" for="piriod" class="labelss complain">DIASTOLIC</label>
                                        <input (keyup)="clearVital('Blood Presure')" [(ngModel)]="session.vitals.bp.diastolic" type="number" [min]='1' name="dystolic" class="form-control patientdata inputs dataInfo" placeholder="mm Hg">
                                        <div id='moreBtn'>
                                            <i style="left: 13%; top:-29%;" (click)="addVital()" class="icon ion-ios-plus-empty arrow "></i>
                                        </div>
                                    </div>
                                    <div *ngIf="vital === 'Tempreture'" style="width: 93%;"  class="form-group vitals-section formGroup">
                                            <label style="font-size:8px" for="piriod" class="labelss complain">TEMPRETURE</label>
                                            <input (keyup)="clearVital('Tempreture')"  [(ngModel)]="session.vitals.tempreture.value" type="number" [min]='1' name="temp" class="form-control patientdata inputs dataInfo" placeholder="Degree Fahrenheit">
                                            <div id='moreBtn'>
                                                <i style="left: 13%; top: -29%;" (click)="addVital()" class="icon ion-ios-plus-empty arrow "></i>
                                            </div>
                                    </div>
                                    <div *ngIf="vital === 'Pulse Rate'" style="width: 93%;"  class="form-group vitals-section formGroup">
                                            <label style="font-size:8px" for="piriod" class="labelss complain">PULSE RATE</label>
                                            <input (keyup)="clearVital('Pulse Rate')"  [(ngModel)]="session.vitals.pulse.value" type="number" [min]='1' name="pulse" class="form-control patientdata inputs dataInfo" placeholder="bpm">
                                            <div id='moreBtn'>
                                                <i style="left: 13%; top: -29%;" (click)="addVital()" class="icon ion-ios-plus-empty arrow "></i>
                                            </div>
                                    </div>
                                    <div *ngIf="vital === 'Respiratory Rate'" style="width: 93%;"  class="form-group vitals-section formGroup">
                                            <label style="font-size:8px" for="piriod" class="labelss complain">
                                                RESPIRATORY RATE
                                            </label>
                                            <input (keyup)="clearVital('Respiratory Rate')"  [(ngModel)]="session.vitals.resp.value" type="number" [min]='1' name="resp" class="form-control patientdata inputs dataInfo" placeholder="bpm">
                                            <div id='moreBtn'>
                                                <i style="left: 13%; top: -29%;" (click)= addVital() class="icon ion-ios-plus-empty arrow "></i>
                                            </div>
                                    </div>
                                    <div *ngIf='vitals.length' class="form-group vitals-section setGroup">
                                        <table cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. ">
                                        <thead class='productHead'>
                                            <tr class="patient-th">
                                                <th style='padding: 4px;font-size:10px;color: #6c757d;font-weight:bold' class="headlbl patient-th">VITAL SIGN</th>
                                                <th style='padding: 4px;font-size:10px;text-align: right; color: #6c757d;font-weight:bold' class="headlbl patient-th">VALUE</th>
                                                <th style='padding: 4px;font-size:10px;color: #6c757d;' class="headlbl patient-th"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="border-bottom: 1px solid #f8f9fa;" *ngFor='let sign of vitals; let i = index; let odd = odd' class="ro patient-row">
                                                <td style="padding:0px;padding-left:4px;" class="data">
                                                    {{sign.name}}
                                                </td>
                                                <td style="padding:0px;text-align: right;padding-left:4px;" class="data">
                                                    {{sign.val}} </td>
                                                <td style='padding:0px; padding-left:3px;text-align: center' class="data">
                                                    <i (click)=removeVital(i,sign) class="icon ion-ios-trash-outline tableicon" title="Discard" style="font-size:15px; cursor: pointer;"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <button [disabled] = 'processing || !vitals.length' (click) = updateVitals() style=" width: 170px;font-size: 10px; height:27px;left:28%; bottom:24%;" class="btn btn-sm btn-outline-primary mainbtn">UPDATE VITALS
                                    <span style="position: absolute; bottom: -7%;left: 80%;">
                                    <i *ngIf="processing" class="fa fa-circle-o-notch fa-spin fa-10x slow-spin " style="position:absolute;bottom:5px;left:5px;font-size:19px;color: #1da1f2;"> </i>
                                    </span>
                                </button>
                            </form>
                        </div>
                        <!-- <div *ngIf='cardView.editing' style="left:7%; top:45%;position: absolute;
                            width: 7%;" class="btn-group disposition">
                            <button (click)="switchViews('orders')" style="width:32px;height: 32px;border-radius: 50%;left:35%"   class="btn btn-outline-primary  dispo shift-button" >
                                <i  style='position:absolute;right:36%;top:2px; font-size:large; cursor:pointer; display: inline-block;' title="Back" class="icon ion-android-arrow-back"> 
                                </i>
                            </button>
                        </div> -->
                        <!-- <div *ngIf='cardView.orders && medSelected()' style="left:80%; top:45%;position: absolute;
                        width: 7%;" class="btn-group disposition">
                            <button (click)=switchToEdit() style="width:32px;height: 32px;border-radius: 50%;left:35%"   class="btn btn-outline-primary  dispo shift-button" >
                                <i   style='position:absolute;right:36%;top:2px; font-size:large; cursor:pointer; display: inline-block;' title="Go to payment" class="icon ion-android-arrow-forward "> 
                                </i>
                            </button>
                        </div> -->
                        <h6 *ngIf="successMsg" class="feedbackMsg">{{successMsg}}</h6>
                        <h6 *ngIf="errorMsg"  style="color: red" class="feedbackMsg">{{errorMsg}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>









<nav class="navbar fixed-top navbar-light navbar-expand-md navigation-clean-search" style="padding:0px; margin-bottom:0px">
  <div class="container">
      <a class="navbar-brand" href="#">
          <em>hipr</em>
      </a>
          <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav"></ul>
          <form class="top-searchform" target="_self">
              <div class="form-group">
                <input [(ngModel)] = searchTerm #search (keyup)='searchPatient(searchTerm)' autocomplete = "off" style="border-radius:.999em; width:80%;display:inline-block;  position: absolute;text-align: left;
                vertical-align: middle; top:11%; box-shadow:none; outline:none;  background-color: rgb(243, 248, 247);
                "
                class="form-control"
                type="search" name="search" id="search-field" placeholder="Search patient">
                <i style='font-size:20px; top:3px;left:83%;position:relative;display:inline' class="icon ion-ios-search " title="Search"></i>
         <h6 style='font-size:12px;left:98%;position:relative;display:inline-block;color:grey;
                      font-weight:normal;'>Sort: <span style='cursor:pointer; color:#1da1f2;' (click)='showSortMenu()'>
                        {{nowSorting}}</span></h6>
          <div *ngIf=sortMenu style='position: absolute;left:120%;width:100px;top:6px; height:110px'  class="menu">
            <ul class="actions primary">
                <li (click)='sortPatients("name")' class="action">A-Z</li>
                <li (click)='sortPatients("age")' class="action">Age</li>
                <li (click)='sortPatients("status")' class="action">Status</li>
                <li (click)='sortPatients("sex")' class="action">Gender</li>
                <li (click)='sortPatients("date")' class="action">Date added</li>
            </ul>
        </div>
     </div>
    </form>
  </div>
</div>
<div (mouseleave) = hideLogOut() class="timeline lastdoc priscriber headerdp small-dp user-dp" style="left:90%;position:absolute;height:87px;width:90px;top:5px; margin-bottom:0px;background:inherit">
        <div  class="timeline lastdoc priscriber headerdp small-dp user-dp" style="position:absolute;height:30px;width:30px;top:5px; margin-bottom:0px;"> 
            <img (click) = showLogOut() style='height:100%; width:100%; object-fit:cover; cursor: pointer;' [src]=getMyDp()/>
            <span *ngIf="logout">
                <div style='position: absolute;width: 100px;top: 33px;height: 34px; padding-left: 0px;left: -95%;' class="menu">
                    <ul  class="actions primary">
                        <li style="text-align: center;padding-left: 0px;" (click)=logOut() class="action">
                            Log out
                        </li>
                    </ul>
                </div>
            </span>
        </div>
    </div>
</nav>
<div style="padding-top:60px"  class="container">
    <div class="row">
      <div *ngIf='!patients.length' class='issue'>
        <div *ngIf='loading' class="lds-css ng-scope"><div style="width:100%;height:100%" class="lds-rolling"><div></div></div></div>
        <div (click)=refresh() *ngIf='message' title='Refresh' class='refresh'><i class="icon ion-ios-reload "></i></div>
        <h6 *ngIf='message' style='font-size:13px;position:absolute;top:65%; width:100%; color:lightgrey;text-align: center' >{{message}}</h6>
      </div>
      <div *ngFor="let patient of patients; let i = index"  class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div  style="overflow: hidden;" class="card card-secondary maincard " >
              <div *ngIf="patient.card.view==='front'"  style='padding-left:30px; border-top-right-radius: 12px; border-top-left-radius: 12px;  padding-top: 0px;height: 32px;padding-bottom: 0px;' class="card-header profileheader">

              <i (click)='showMenu(i)' class="icon ion-android-more-vertical headericon moreicon actions-icon"></i>
                  <div style="left: 62%" (mouseleave)=hideMenu(i) *ngIf="patient.card.menu" class="menu">
                      <ul (mouseleave)=hideMenu(i) class="actions primary">
                            <li (click)="switchCards(i,'dispose')" class="action">Room</li>
                            <li (click)="selectPatient(i)" data-target="#vitalsModal" data-toggle="modal"class="action">Vitals</li>
                          <li (click)="selectPatient(i)" data-target="#medicModal" data-toggle="modal" class="action">Medications</li>
                      </ul>
                  </div>
              </div>
              <div *ngIf="patient.card.view ==='dispose'|| patient.card.view === 'ap'"  style='padding-left: 37px; border-top-right-radius: 12px; border-top-left-radius: 12px; padding-top: 0px;
              position:absolute;  width:100%;padding-bottom: 0px;height:32px' class="card-header profileheader small-header">
                  <i (click)="switchCards(i,'front')" style='position:absolute;
                        left:3%;top:4px; cursor:pointer;
                        display: inline-block;
                        color:#1da1f2;' title="Back" class="icon ion-android-arrow-back ">
                      </i>
                  <div style="left:23px;position: absolute;" class="timeline lastdoc priscriber headerdp small-dp">
                      <img [src]=getDp(patient.info.personal.avatar)/>
                  </div>
                  <p style="top:6px;margin-bottom:0px;position: absolute;" class="patien-name small-name">
                      {{patient.info.personal.firstName + ' '+ patient.info.personal.lastName}}<span class="small-headericon"></span>
                  </p>
              </div>
              <div [class.up] = 'patient.card.sucsMsg' [class.down] = '!patient.card.sucsMsg'  style='padding-left: 5px;padding-right:5px;border-top-right-radius: 0px; border-top-left-radius: 0px; z-index: 5; padding-top: 0px; border-top: 1px solid whitesmoke;
              position:absolute;width:100%;padding-bottom: 0px;height:32px' class="card-header profileheader small-header sucsLine">
                  <p *ngIf = patient.card.sucsMsg style="top:6px;margin-bottom:0px;padding:0px;margin-right:0px; font-weight:normal;position:absolute;text-align:center;width:95%;color:lightgreen" class="patien-name small-name">
                      {{patient.card.sucsMsg}}
                  </p>
                  <p *ngIf = patient.card.errorMsg style="top:6px;margin-bottom:0px;padding:0px;margin-right:0px; font-weight:normal;position:absolute;text-align:center;width:95%;color:red" class="patien-name small-name">
                      {{patient.card.errorMsg}}
                  </p>
              </div>
              <div [class.ap]='cardCount' [class.front]='patient.card.view==="front"' style="position: absolute; width:100%;height: 87%;top:13%" class="card-body mainbody">
                  <div style="position: relative;margin-bottom: 0px;top:0px" class="timeline lastdoc priscriber headerdp">
                      <img  [src]=getDp(patient.info.personal.avatar)/>
                      <div *ngIf="patient.card.indicate" class="indicator"></div>
                  </div>
                  <p (click)='showDetails(i)' data-toggle=modal data-target='#detailsModal' style='margin-bottom:2px;position:relative;top:3px' class="patien-name">
                    {{patient.info.personal.firstName + ' '+ patient.info.personal.lastName}}
                  </p>
                  <div>
                      <div style="position: relative;top:12px" class="carditem basic-item">
                          <h6 class="dept basic-info">Sex</h6>
                          <h6 class="dept basic-info sex-info">
                              {{patient.info.personal.gender.charAt(0).toUpperCase()}}
                          </h6>
                      </div>
                      <div style="position: relative;top:12px" class="carditem basic-item">
                          <h6 class="dept basic-info">Age</h6>
                          <h6 class="dept basic-info sex-info">{{patient.info.personal.dob|dob}}</h6>
                      </div>
                      <div style="position: relative;top:12px" class="carditem basic-item">
                          <h6 class="dept basic-info">Room</h6>
                          <h6 class="dept basic-info sex-info">{{patient.record.visits[0][0].wardNo ||'?'}}</h6>
                      </div>
                  </div>
                  <h6 style="width:100%;position:relative;text-align:center" class="dept basic-secondary basic-value">{{patient.record.visits[0][0].visitedOn|date:'dd MMM, y'}}&nbsp;
                      <span>{{patient.record.visits[0][0].visitedOn | date:'hh:mma'|lowercase}}</span>
                  </h6>
              </div>
              <div  [class.on]='patient.card.view === "dispose"'  style="position:absolute; width:100%;height: 87%;top:13%;background:white;border-bottom-right-radius: 12px;border-bottom-left-radius: 12px;margin-left:0px;border:none;padding-top: 0px;" class="card-body off">
                    <form style="top:19%;position:absolute;width:100%; padding-left: 4%; padding-right: 6%;" class=" staffsform">
                        <div style=" margin-top:2px;   " class="form-group vitals-section formGroup">
                            <label style='font-size:8px;left: 25px;top:-15%;' for="title" class="labelss complain">SELECT ROOM</label>
                            <select [(ngModel)]="patients[i].record.visits[0][0].wardNo" class=" patientdata status inputs dataInfo " name="bedno">
                                <option *ngFor = "let room of getRooms(i)">{{room.number}}</option>
                            </select>
                        </div>
                    </form>
                    <button [disabled]='patient.card.procesing' (click)=allocateRoom(i)  style=" width: 170px;font-size: 10px; height:27px;left:15%; bottom:36%;" class="btn btn-sm btn-outline-primary  mainbtn"><span style="position: absolute; bottom: -7%;left: 5%;">
                        <i *ngIf='patient.card.procesing'  class="fa fa-circle-o-notch fa-spin fa-10x slow-spin " style="position:absolute;bottom:5px;left:5px;font-size:19px;color: #1da1f2;"> </i>
                    </span>ALLOCATE ROOM</button>
                </div> 


              <div [class.on]='patient.card.view==="ap"' style="position: absolute; width:100%;height: 87%;top:22%;background:white;border-bottom-right-radius: 12px;
                border-bottom-left-radius: 12px; margin-left:0px;border:none;padding-top: 0px;" class="card-body off">
                    <form style="top:-4%;position:absolute;width:100%; padding-left: 6%; padding-right: 6%;" class=" staffsform">
                        
                    </form>
                    <button [disabled]='patient.card.procesing' style=" width: 170px;font-size: 10px; height:27px;left:15%; bottom:23%;" class="btn btn-sm btn-outline-primary  mainbtn"><span style="position: absolute; bottom: -7%;left: 5%;">
                        <i *ngIf='patient.card.procesing'  class="fa fa-circle-o-notch fa-spin fa-10x slow-spin " style="position:absolute;bottom:5px;left:5px;font-size:19px;color: #1da1f2;"> </i>
                    </span>UPDATE VITALS
                    </button>
                </div>
        </div>
    </div>
</div>

