<!-- <div class="modal fade" role="dialog" tabindex="-1" id="noteModal" style="border-radius:12px;width:auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:480px;border-radius:12px;padding-left:0px;padding-right: 0px;">
            <div class="modal-body" style="border-radius:0px;padding: 0px;">
                <div class="card card-secondary historycard midlecard profilecard" style="margin:auto;min-height:200px;border-radius:12px;">
                    <div style='padding-left: 30px;border-top-right-radius:12px;border-top-left-radius:12px;' class="card-header profileheader small-header">
                        <div style="left:23px" class="timeline lastdoc priscriber headerdp small-dp">
                          <img [src] = getDp(patients[curIndex])/>
                        </div>
                        <a href="#" class="patien-name small-name">
                          {{patients[curIndex].info.personal.firstName + ' '+ patients[curIndex].info.personal.lastName}}<span class="small-headericon"></span>
                        </a>
                    </div>
                  <div style="width:90%;margin:auto" class="card-body orderbody">
                    <form (submit) = updateNote() novalidate  class="patientform" >
                      <div class="card card-secondary historycard midlecard profilecard" style="border-bottom:none;margin:0px;margin-right: 0px;width:100%; min-height: 140px;">
                         <div style="padding-top:0px;padding-left: 10px; padding-right: 10px;"  class="card-body topcardbody clientinfobody nopading">
                           <div class="form-group vitals-section formGroup newnote" >
                             <textarea [(ngModel)]="note.note" id ='newnote' style="width:100%; min-height: 110px; font-size: 13px; padding: 5px; border: 0px; " name= "note" placeholder="Additional note"></textarea>
                           </div>
                         </div>
                     </div>
                    </form>
               </div>
               <div *ngIf='note.note' style='left:78%; height:32px;width:32px;'
                     title ='Taken' class="floter">
                     <i style="color:#1da1f2;bottom:-10px;" class="icon ion-ios-checkmark-empty flotericon">
                    </i>
                </div>
               </div>
          </div>
      </div>
  </div>
</div> -->



<div class="modal fade" role="dialog" tabindex="-1" id="medicModal" style="border-radius:12px;width:auto;">
  <div class="modal-dialog" role="document">
      <div class="modal-content" style="width:480px;border-radius:12px;padding-left:0px;padding-right: 0px;">
          <div class="modal-body" style="border-radius:0px;padding: 0px;">
              <div class="card card-secondary historycard midlecard profilecard" style="margin:auto;min-height:200px;border-radius:12px;">
                  <div style='padding-left: 30px;border-top-right-radius:12px;border-top-left-radius:12px;' class="card-header profileheader small-header">
                      <div style="left:23px" class="timeline lastdoc priscriber headerdp small-dp">
                        <img [src] = getDp(patients[curIndex].info.personal.avatar)/>
                      </div>
                      <a href="#" class="patien-name small-name">
                        {{patients[curIndex].info.personal.firstName + ' '+ patients[curIndex].info.personal.lastName}}<span class="small-headericon"></span>
                      </a>
                  </div>
                    <div style="width:53%;margin:auto" class="card-body orderbody">
                    <h1 *ngIf='!medications.length' style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO RECORD</h1>
                        <div *ngFor="let medic of patients[curIndex].record.medications; let i = index" class="carditem priscriptioncontainer order">
                            <div  class="timeline condition drugtimeline">
                                <p class="timelinedate">{{medic[0]?.dateCreated|date:'dd'}}</p>
                                <p class="timelinedate month">{{medic[0]?.dateCreated|date:'MMM'|uppercase}}</p>
                            </div>
                            <div *ngFor ="let m of medic; let j= index" class="priscription drug">
                                <h6 class="dept">{{m.product.item.name}}&nbsp;<span class="predata">{{m.product.item.mesure+m.product.item.unit}}</span>
                                  <span *ngIf = 'm.paused' class="predata priceval">
                                    <i title='Discontinued' class="material-icons editicon continue blocked-icon">block</i>
                                  </span>
                                  <span *ngIf = '!m.paused' class="predata priceval">
                                    <i (click)="selectItem(i,j)" *ngIf="m.selected" class="icon ion-ios-checkmark-empty paid-icon" title="Comfirm payment"></i>
                                    <div class="mycheckbox" *ngIf ="!m.selected" (click)="selectItem(i,j)" ></div>
                                  </span>
                                  </h6>
                                <h6 class="dept previnfo">Dosage&nbsp;<span class="predata">
                                  {{m.priscription.intake+'-'+m.priscription.freq+'-'+m.priscription.piriod}} </span></h6>
                                <h6 class="dept previnfo"style="color:lightgrey">
                                  {{m.dateCreated|date:'hh:mma'|lowercase}}<span class="predata lastadministered" style="left:49%;width:97px; text-align:right">{{m.lastTaken|date:'dd MMM hh:mma'|lowercase}}</span></h6>

                            </div>
                       </div>
                 </div>
                 <div *ngIf="medicationSelected()" (click)="updateTimeTaken(curIndex)"style='left:78%; height:32px;width:32px;'
                       title ='Taken' class="floter">
                       <i style="color:#1da1f2;;bottom:-10px" class="icon ion-ios-checkmark-empty flotericon">
                        </i>
                  </div>

                 </div>
            </div>
        </div>
    </div>
  </div>

  <div class="modal fade" role="dialog" tabindex="-1" id="uploadModal" style="border-radius:12px;width:auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:480px;border-radius:12px;padding-left:0px;padding-right: 0px;">
            <div class="modal-body" style="border-radius:0px;padding: 0px;">
                <div class="card card-secondary historycard midlecard profilecard" style="margin:auto;min-height:200px;border-radius:12px;">
                    <div style='padding-left: 30px;border-top-right-radius:12px;border-top-left-radius:12px;' class="card-header profileheader small-header">
                        <div style="left:23px" class="timeline lastdoc priscriber headerdp small-dp">
                          <img [src] = getDp(patients[curIndex].info.personal.avatar)/>
                        </div>
                        <a href="#" class="patien-name small-name">
                          {{patients[curIndex].info.personal.firstName + ' '+ patients[curIndex].info.personal.lastName}}<span class="small-headericon"></span>
                        </a>
                    </div>
              <form (submit) = uploader.uploadAll() novalidate  class="patientform" >
                <div class="card card-secondary historycard midlecard profilecard" style="border-bottom:none;margin:0px;margin-right: 0px;width:100%; min-height: 140px;">
                      <div style="padding-top:0px;padding-left: 10px; padding-right: 10px;"  class="card-body topcardbody clientinfobody nopading">
                        <div *ngIf = url class="form-group vitals-section" style="width:50%;
                        margin: auto; top: 10%;position:absolute;left:25%;">
                          <div class="card scan-thumnail">
                            <a  target="_blank" class="image-link" data-lightbox="scan"><img [src]= url class="img-fluid" /></a>
                          </div>
                        </div>
                        <div class="form-group vitals-section" style="width:50%;
                        margin: auto; top: 10%;position:absolute;left:38%;">
                          <div class="card scan-thumnail">
                              <i (click)="picker.click()" class="icon ion-ios-plus-empty addicon" title="Browse file"></i>
                          </div>
                        </div>
                        <div class="form-group vitals-section" style="width:50%;
                        margin: auto; top: 60%;position:absolute;left:25%;">
                          <label for="Description" class="labelss" style="font-size:9px">File Description</label>
                          <input style='font-size:11px' [(ngModel)]="filesDesc" autocomplete="off"  name="description" placeholder= "e.g Mammograph" class="patientdata dystolic inputs dataInfo" />
                        </div>
                        <div class="form-group vitals-section" style="width:50%;
                        margin: auto; top: 60%;position:absolute;left:25%; display:none">
                          <input (change) = fileSelected($event) #picker type ="file"  name="file" multipe ng2FileSelect [uploader] = uploader  class="patientdata dystolic inputs dataInfo" />
                        </div>
                      </div>
                  </div>
                  <div (click)="uploader.uploadAll()"style='left:78%; height:32px;width:32px;'
                  title ='Taken' class="floter">
                  <i *ngIf='loading'  class="fa fa-circle-o-notch fa-spin fa-10x slow-spin" style="position:absolute;bottom:5px;left:5px;font-size:20px;color: #1da1f2;">
                </i>
               <i *ngIf='!loading' style="color:#1da1f2;bottom:-10px;" class="icon ion-ios-checkmark-empty flotericon"> </i>
             
             </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>








<nav class="navbar fixed-top navbar-light navbar-expand-md navigation-clean-search" style="padding:0px; margin-bottom:0px">
  <div class="container">
      <a class="navbar-brand" href="#">
          <em>spinr</em>
      </a>
          <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav"></ul>
          <form class="top-searchform" target="_self">
              <div class="form-group">
                <input [(ngModel)] = searchTerm #search (keyup)='searchPatient(searchTerm)' autocomplete = "off" style="border-radius:.999em;
                width:80%;display:inline-block;
                position: absolute;
                text-align: left;
                vertical-align: middle;
                top:11%;
                background-color: rgb(243, 248, 247);
                "
                class="form-control"
                type="search" name="search" id="search-field" placeholder="Search patient">
                <i style='font-size:20px; top:3px;left:83%;position:relative;display:inline' class="icon ion-ios-search " title="Search"></i>
         <h6 style='font-size:12px;
                      left:98%;position:relative;display:inline-block;
                      color:grey;
                      font-weight:normal;'>Sort by: <span stye='cursor:pointer'(click)='showSortMenu()'>
                        {{nowSorting}}</span></h6>
          <div *ngIf=sortMenu style='position: absolute;
                      left:120%;
                      width:100px;top:6px;
                      height:110px'  class="menu">
            <ul class="actions primary">
                <li (click)='sortPatients("name")' class="action">A-Z</li>
                <li (click)='sortPatients("age")' class="action">Age</li>
                <li (click)='sortPatients("status")' class="action">Status</li>
                <li (click)='sortPatients("sex")' class="action">Gender</li>
                <li (click)='sortPatients("date")' class="action">Date added</li>
            </ul>
        </div>
     </div>          
    </form>
      </div>
  </div>
  <i style="left:80%;" class="icon ion-android-notifications-none arrow buble note" title="Notifications"></i>
    <i [routerLink]="['./me']" data-target="#newModal" data-toggle="modal" style="left:83%;" class="icon ion-ios-person-outline arrow buble" id="add" title="Me" ></i>
<div class="timeline lastdoc priscriber headerdp small-dp user-dp"style="left:90%;position:absolute;height:30px;width:30px;top:5px; margin-bottom:0px;"> <img style='height:100%; width:100%; object-fit:cover;' [src] = getMyDp()/></div>
</nav>
<div style="padding-top:60px"  class="container">
    <div class="row">
    <div *ngIf='!patients.length' class='issue'>
        <div *ngIf='loading' class="lds-css ng-scope"><div style="width:100%;height:100%" class="lds-rolling"><div></div></div></div>
        <div (click)=refresh() *ngIf='message' title='Refresh' class='refresh'><i class="icon ion-ios-reload "></i></div>
        <h6 *ngIf='message' style='font-size:13px;position:absolute;top:65%; width:100%; color:lightgrey;text-align: center' >{{message}}</h6>
      </div>
      <div *ngFor="let patient of patients; let i = index"  class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div style="border-radius:12px" *ngIf = "patient.card.view == 'front'" class="card card-secondary maincard">
        <div style="border-radius:12px" class="card-header profileheader">
          <i (click)='showMenu(i)' (blur)=hideMenu() class="icon ion-android-more-vertical headericon moreicon actions-icon"></i>
          <div *ngIf = "patient.card.menu" class="menu">
                  <ul class="actions primary">
                      <!-- <li (click)="selectPatient(i)" data-target="#noteModal" data-toggle="modal" class="action">Add Note</li> -->
                      <li (click)="selectPatient(i)" data-target="#uploadModal" data-toggle="modal" class="action">Attache file</li>
                      <li (click) = changeBed(i) class="action">Change Bed</li>
                      <li (click) = switchToVitals(i) class="action">Update Vitals</li>
                      <li (click)="selectPatient(i)" data-target="#medicModal" data-toggle="modal" class="action">Medications</li>
                   </ul>
              </div>
              <div class="timeline lastdoc priscriber headerdp">
                  <img [src] = getDp(patient.info.personal.avatar)/>
              </div>
            </div>
            <p routerLinkActive="router-link-active" class="patien-name">{{patient.info.personal.firstName + ' '+ patient.info.personal.lastName}}<span class="predata editicon"></span></p>
            
              <div class="card-body mainbody">
                      <div class="carditem basic-item">
                          <h6 class="dept basic-info">Sex</h6>
                          <h6 class="dept basic-info sex-info">
                              {{patient.info.personal.gender.charAt(0).toUpperCase()}}
                          </h6>
                      </div>
                      <div class="carditem basic-item">
                          <h6 class="dept basic-info">Age</h6>
                          <h6 class="dept basic-info sex-info">{{patient.info.personal.dob|dob}}</h6>
                      </div>
                      <div class="carditem basic-item">
                          <h6 class="dept basic-info">Bed</h6>
                          <h6 class="dept basic-info sex-info"> {{patient.record.visits[0].bedNo ||'---'}}</h6>
                      </div>
                      <div class="priscription basic-subinfo">
                          <div class="sub-container">
                            <h6 style="width:100%;text-align:center" class="dept basic-secondary basic-value">
                              {{patient.record.visits[0].visitedOn|date:'dd MMM hh:mma'|lowercase}}</h6>
                          </div>
                      </div>
                  </div>
            </div>


      <div style="border-radius:12px"  *ngIf = "patient.card.view == 'vitals'"   class="card card-secondary maincard">
          <div style='padding-left: 30px;border-top-left-radius:12px;border-top-right-radius:12px;' class="card-header profileheader small-header">
              <i (click)=switchToFront(i) style='position:absolute;
                left:3%;top:2%; cursor:pointer;
                display: inline-block;
                color:#1da1f2;' title="Back"
                class="icon ion-android-arrow-back ">
            </i>
              <div style="left:23px" class="timeline lastdoc priscriber headerdp small-dp">
                <img [src] = getDp(patient.info.personal.avatar)/>
              </div>
              <a href="#" class="patien-name small-name">
                {{patient.info.personal.firstName + ' '+ patient.info.personal.lastName}}<span class="small-headericon"></span>
              </a>
          </div>
          <div  class="card-body mainbody" style="padding-top:20px">
              <form style="top:15%; padding-left: 2%; padding-right: 2%;" class=" staffsform" (submit) = assignBed(i)>
                  <div style="width:49%; margin-top:3px;  margin-right: 3px; display:inline-block" class="form-group vitals-section formGroup" >
                      <label for="tempreture" class="labelss complain">TEMPRETURE</label>
                      <input min="0" style='font-size:11px' [(ngModel)]="vitals.tempreture.value" type="number" name="pulse" class="patientdata inputs dataInfo"   placeholder="in celsius">
                  </div>
                  <div style="width:49.3%; margin-top:5px; display:inline-block" class="form-group vitals-section formGroup">
                      <label for="bp" class="labelss complain">BLOOD PRESURE</label>
                      <input min="0" style='font-size:11px' [(ngModel)]="vitals.bp.value" type="number" name="bp" class="patientdata inputs dataInfo" placeholder="in mmHg">
                  </div>
                  <div style="width:49%; margin-right:3px; margin-top:5px; display:inline-block" class="form-group vitals-section formGroup">
                      <label for="dystolic" class="labelss complain">PULSE RATES</label>
                      <input min="0" style='font-size:11px' [(ngModel)]="vitals.pulse.value" type="number" name="dystolic" class="patientdata inputs dataInfo" placeholder=" in bpm">
                  </div>
                  <div style="width:49.3%; margin-top:5px; display:inline-block" class="form-group vitals-section formGroup" >
                      <label for="resp" class="labelss complain">RESP. RATE</label>
                      <input min="0" style='font-size:11px' [(ngModel)]="vitals.resp.value" type="number" name="resp" class="patientdata inputs dataInfo"  placeholder=" in bpm">
                  </div>

                  <div style="width:49%; margin-top:5px;margin-right: 3px; display:inline-block" class="form-group vitals-section formGroup">
                      <label for="height" class="labelss complain">HIGHT</label>
                      <input min="0" style='font-size:11px' [(ngModel)]="vitals.height.value" type="number" name="height" class="patientdata inputs dataInfo"  placeholder=" in ft">
                  </div>
                  <div style="width:49%;  display:inline-block" class="form-group vitals-section formGroup">
                      <label for="weight" class="labelss complain">WEIGHT</label>
                      <input min="0" style='font-size:11px' [(ngModel)]="vitals.weight.value" type="number" name="weight" class="patientdata inputs dataInfo"  placeholder=" in kg">
                  </div>
              </form>
          </div>
          <div (click)="updateVitals(curIndex)" style='left:78%; height:32px;width:32px'
               title ='Update' class="floter">
              <i style="color:#1da1f2;bottom:-10px"
                 class="icon ion-ios-checkmark-empty flotericon">
              </i>
         </div>
      </div>


      <div style="border-radius:12px"  *ngIf = "patient.card.view == 'bed'"   class="card card-secondary maincard">
          <div style='padding-left: 30px;border-top-left-radius:12px;border-top-right-radius:12px;' class="card-header profileheader small-header">
              <i (click)=switchToFront(i) style='position:absolute;
                left:3%;top:2%; cursor:pointer;
                display: inline-block;
                color:#1da1f2;' title="Back"
                class="icon ion-android-arrow-back "></i>
           
              <div style="left:23px" class="timeline lastdoc priscriber headerdp small-dp">
                <img [src] = getDp(patient.info.personal.avatar)/>
              </div>
              <a href="#" class="patien-name small-name">
                {{patient.info.personal.firstName + ' '+ patient.info.personal.lastName}}<span class="small-headericon"></span>
              </a>
          </div>
          <div  class="card-body mainbody" style="padding-top:20px">
              <form style="top:15%; padding-left: 10%; padding-right: 10%;" class=" staffsform" (submit) = assignBed(i)>
                  <div class="form-group vitals-section address">
                      <label for="bedno" class="labelss">BED No.</label>
                      <select [(ngModel)]="allocation" class=" patientdata status inputs dataInfo " name="bedno">
                          <option *ngFor = "let bed of getBeds(i)">{{bed.number}}</option>
                      </select>
                  </div>
                  <button  type ="submit"  style="top:30px; width: 98px; position:relative;  font-size: 10px; left:100px;  border-radius: 0px; border-top-right-radius:4px;border-bottom-right-radius:4px;" class="btn btn-sm btn-outline-primary inputs mainbtn" >UPDATE</button>
                  <button  id ='cancel' data-dismiss="modal" style="width: 98px; font-size: 10px;border-right: 0px; top: 30px; right:96px;  position:relative; border-radius: 4px 0px 0px 4px;" class="btn btn-sm btn-outline-primary inputs mainbtn" >CANCEL</button>
              </form>
          </div>
        
      </div>

</div>

